{% extends 'base.html.twig' %}

{% block customstyles %}
    <style type="text/css">
        html, body {
            font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: .875rem;
            overflow-x: visible
        }
        div#head-list {
            height: 85px;
            margin-bottom: 8px;
            background-image: linear-gradient(#d0d0d0, #7f7f7f);
        }
        div.list-container {
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
        }
        div.list-container > table.list-table {
            overflow: visible
        }
        div.list-container > h3.table-list-section {
            font-size: 1.5rem;
        }
        table tbody {
            border-bottom: #c7c7c7 solid 2px;
        }
        table tr {
            line-height: 1.25;
        }
        table tr.list-product-hidden {
            color: #b7b7b7;
        }
        table tr.list-product-hidden img {
            opacity: .25;
        }
        table tr > td,
        table tr > th {
            padding: 2px !important;
        }
        table tr > td img {
            width: 12px;
            display: inline;
        }
        table tr > th p,
        table tr > td p{
            margin: 2px 4px;
            overflow: hidden;
            word-break: break-all;
            text-overflow: ellipsis;
            -webkit-line-clamp:1;
            -webkit-box-orient:vertical;
            display:-webkit-box;
        }
        table > tbody > tr > th > p {
            width: 45px;
        }
        table tr:not(.list-product-hidden) .list-table-danger {
            color: #de0a0a;
        }
    </style>
{% endblock %}

{% block header %}
    {% include 'navbar-min.html.twig' %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="head-list">

    </div>
{% endblock %}

{% block body %}
    {% set categories = {
        'name': {'name': 'Nombre', 'style': 'width:175px'},
        'size': {'name': 'Tamaño', 'style': 'width:90px'},
        'weight': {'name': 'Peso', 'style': 'width:90px'},
        'units': {'name': 'Pack', 'style': 'width:90px'},
        'decorated': {'name': 'Detalle', 'style': 'width:120px'},
        'cold': {'name': 'Conservación', 'style': 'width:210px'},
        'tag': {'name': 'Archivo de imagen', 'style': 'width:275px'},
        'base': {'name': 'Precio', 'style': 'width:70px'},
        'iva': {'name': 'IVA', 'style': 'width:50px'},
        'price': {'name': 'Precio', 'style': 'width:175px'},
        'description': {'name': 'Descripción', 'style': 'width:350px'},
    } %}
    <div class="list-container" style="overflow-x: scroll;overflow-y: hidden;white-space: nowrap;">
    {% for skey, section in catalog %}
        <h3 class="ml-4 table-list-section">{{ skey }}</h3>
        <table class="table list-table">
            <thead class="thead-light">
            <tr>
                <th> ID </th>
            {% for ckey, category in categories %}
                {% set colspan = ckey == 'tag' ? 'colspan=2' : '' %}
                <th scope="col" style="{{ category.style }}" {{ colspan }}>
                    {{ category.name }} <span style="font-size:.875em">({{ ckey }})</span>
                </th>
            {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for ekey, element in section %}
                <tr {{ (element.hide ?? false) ? 'class=list-product-hidden' : '' }}>
                    <th scope="row">
                        <p>{{ ekey }}</p>
                    </th>
                    <td>
                        <p style="{{ categories.name.style }}">{{ element.name|capitalize }}</p>
                    </td>
                    <td>
                        <p style="{{ categories.size.style }}">{{ element.size ?? '' }}</p>
                    </td>
                    <td>
                        <p style="{{ categories.weight.style }}">{{ element.weight ?? '' }}</p>
                    </td>
                    <td>
                        <p style="{{ categories.units.style }}">{{ (element.units ?? '')|capitalize }}</p>
                    </td>
                    <td>
                        <p style="{{ categories.decorated.style }}">{{ (element.decorated ?? '')|capitalize }}</p>
                    </td>
                    <td>
                        <p style="{{ categories.cold.style }}">{{ (element.cold ?? '')|capitalize }}</p>
                    </td>
                    {% set image = element.image_file[0] %}
                    <td>
                        <img src="{{ asset('img/icons') }}/{{ element.img.isset ? 'check.svg' : 'wrong.svg' }}">
                    </td>
                    <td>
                        <p style="{{ categories.tag.style }}">{{ element.img.name }} {{ element.img.size }}</p>
                    </td>
                    {% set currency = ' € ' %}
                    {% set raw_price = element.price_unit ?? element.price_kilo ?? element.price_pack ?? null %}
                    {% set tax = raw_price ? (element.iva ?? 10) : null %}
                    {% set base = raw_price ? (raw_price / ( 1 + tax/100 ))|number_format(2, '.', ',') ~ currency : null %}
                    {% if element.price_unit is defined %}
                        {% set text = '/ ' ~ 'unidad'|trans %}
                        {% set price = element.price_unit|number_format(2, '.', ',') %}
                    {% elseif element.price_kilo is defined %}
                        {% set text = '/ kg.' %}
                        {% set price = element.price_kilo|number_format(2, '.', ',') %}
                    {% else %}
                        {% set text = '' %}
                        {% set price = '<span class=list-table-danger > No configurado </span>' %}
                        {% set currency = '' %}
                    {% endif %}
                    {% if element.price_pack is defined  %}
                        {% set text = '/ pack (' ~ price ~ currency ~ ' ' ~ 'unidad)' %}
                        {% set price = element.price_pack|number_format(2, '.', ',') %}
                    {% endif %}
                    <td>
                        <p style="{{ categories.base.style }}">{{ base }}</p>
                    </td>
                    <td>
                        <p style="{{ categories.iva.style }}">{{ tax ? tax ~ '%' : null }}</p>
                    </td>
                    <td>
                        <p style="{{ categories.price.style }}">
                            <strong>
                                {{ price|raw }} {{ currency }}
                            </strong>
                            {{ text|raw }}
                        </p>
                    </td>
                    <td>
                        <p style="{{ categories.description.style }}">{{ element.description ?? '...'}}</p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-12 footer-company-info pb-3">
                        &copy;
                        <span class="font-blanch font-blanch-line">2020 &nbsp;Ni Gluten Ni Lactosa S.L.</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block cookies %}{% endblock %}