<div class="container">
    <div class="row my-2 my-md-0">
        <div class="col text-center" id="section-catalogo">
            <h2>
                <span class="font-blanch">{{ messages.nuestros_productos|trans }}</span>
            </h2>
        </div>
    </div>
</div> <!-- /container -->

<div class="container" id="catalog-items">

    <button type="button" id="load-catalog" class="btn btn-dark btn-lg mt-2 mt-md-4" style="width: 50%">
        <div class="font-blanch text-wheat" id="load-catalog-btn">{{ messages.ver_catalogo|trans }}</div>
    </button>
    {#{% include 'main/catalog-content.html.twig' %}#}
    <hr class="catalog-items-container">
</div> <!-- /container -->