{% extends 'base.html.twig' %}

{% block header %}
    {% include 'loading-screen.html.twig' %}
    {% include 'navbar-min.html.twig' %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="head-cart" class="jumbotron">
        <div class="container head-first-dark">
            <img src="{{ asset('img/logo-obrador-text-dark.svg') }}" alt="Ca La Maria" class="img-center">
        </div>
    </div>
{% endblock %}

{% block body %}
    {% include 'main/catalog-header.html.twig' %}
{% endblock %}

{% block modal %}
    {% include 'main/modal/catalog-wrapper.html.twig' %}
    {% include 'main/modal/cart.html.twig' %}
{% endblock %}

{% block cart_js %}
    <script> {% include 'js/catalog.js.twig' %}</script>
    <script src="{{ asset('js/cart.js') }}" defer ></script>
{% endblock %}

{% block recaptcha %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{{ asset('js/recaptcha.js') }}" defer ></script>
{% endblock %}

{% block postalcode %}
{% endblock %}


{#{% extends 'base.html.twig' %}#}

{#{% block header %}#}
{#    {% include 'loading-screen.html.twig' %}#}
{#    {% include 'navbar-min.html.twig' %}#}

{#    <!-- Main jumbotron for a primary marketing message or call to action -->#}
{#    <div id="head-cart" class="jumbotron">#}
{#        <div class="container head-first-dark">#}
{#            <img src="{{ asset('img/logo-obrador-text-dark.svg') }}" alt="Ca La Maria" class="img-center">#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{#{% block body %}#}
{#    {% include 'main/catalog-sync.html.twig' %}#}
{#{% endblock %}#}

{#{% block modal %}#}
{#    {% include 'main/modal/catalog-wrapper.html.twig' %}#}
{#    {% include 'main/modal/cart.html.twig' %}#}
{#{% endblock %}#}

{#{% block cart_js %}#}
{#    <script> {% include 'js/catalog.js.twig' %}</script>#}
{#    <script src="{{ asset('js/cart.js') }}" defer ></script>#}
{#{% endblock %}#}

{#{% block recaptcha %}#}
{#{% endblock %}#}

{#{% block postalcode %}#}
{#{% endblock %}#}
