<div class="col">
    <div id="catalog-view-switch" class="catalog-switcher">
        <div class="row">
            <div class="col text-right">
                <button id="option-catalog-list" type="button" class="btn btn-light" style="border: #bfbfbf solid 1px">
                    <img src="{{ asset('img/icons/card-list.svg')}}" alt="lst">
                </button>
                <button id="option-catalog-icon" type="button" class="btn btn-light" style="border: #bfbfbf solid 1px">
                    <img src="{{ asset('img/icons/card-image.svg')}}" alt="img">
                </button>
            </div>
        </div>
    </div>
    {% for index,section in sections %}
        <div class="row catalogo-article" id="section-{{ index }}">
            <div class="col-md-6"> </div>
            <div class="col-md-6">
                <h2>
                    <span class="font-blanch desktop-only">{{ (section.name_desktop)|raw }}</span>
                    <span class="font-blanch mobile-only">{{ section.name_mobile }}</span>
                </h2>
            </div>
        </div>
        <hr>
        <div class="row catalogo-items catalog-icon-group catalog-list-container">
            {% if catalog[index] is defined %}
                {% for key,item in catalog[index] %}
                    {% if item.publish is defined and item.publish %}
                    <div class="col-lg-3 col-md-4 col-sm-6 text-center catalog-icon-item" data-toggle="modal" data-target="#id-{{ key }}">
                        <img src="{{ asset('api/image') }}/{{ item.image_file[0] ?? 'no-image' }}" loading="lazy" alt="{{ key }} {{ item.name }}">
                        <p><span class="font-blanch">{{ item.name }}</span></p>
                        <hr>
                    </div>
                    <div class="col-md-6 catalog-list-item" data-toggle="modal" data-target="#id-{{ key }}">
                        <div class="row text-center">
                            <div class="col-sm-9 col-8" >
                                <p><span class="font-blanch">{{ item.name }}</span></p>
                            </div>
                            <div class="col-sm-3 col-4 catalog-list-image" >
                                <img src="{{ asset('api/image') }}/{{ item.image_file[0] ?? 'no-image' }}" loading="lazy" alt="{{ key }} {{ item.name }}">
                            </div>
                        </div>
                        <hr>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</div>