<div class="container">
    <div class="row mb-2 mb-md-0 mt-md-2 ">
        <div class="col text-center" id="section-catalogo">
            <h2>
                <span class="font-blanch">{{ messages.nuestros_productos|trans }}</span>
            </h2>
        </div>
    </div>
</div> <!-- /container -->

<div class="container" id="catalog-items">

    {% include 'main/catalog-content.html.twig' %}
</div> <!-- /container -->
