<div>
    <svg viewBox="0 0 100 10">
        <polygon points="0,10 100,10 100,0" style="fill:#303030" />
    </svg>
</div>
<div id="section-distrib">
<div class="container">
    <div class="row mx-0">
        <div class="col-12 text-center">
            <h2 class="mb-2 mb-md-5 mt-2 mt-md-0">
                <span class="font-blanch text-wheat">Catering-{{ messages.distribucion|trans }}</span>
            </h2>
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-6 my-sm-1 py-sm-1 my-2">
                    <div class="distrib-text-content">
                        {% if info.language == 'en' %}
                            <p class="text-justify text-left-md">
                                We deliver at your home in Barcelona and surroundings every {{ delivery_days }}.
                                Check
                                <a href="#section-distrib" data-toggle="modal" data-target="#shippingInfoModal" class="text-wheat">
                                    here</a> if we deliver in your location.
                                {% if info.shipping_price_2 > 0 %}
                                    Reduced shipping price
                                    <small class="text-wheat">(<b>{{ (info.shipping_price_2 / 100)|number_format(2, '.') }}€</b>)</small>
                                {% else %}
                                    <span class="text-wheat">Envíament gratuït</span>
                                {% endif %}
                                for orders over <span class="text-wheat">{{ info.shipping_free_threshold }}€</span>.
                            </p>
                            <p class="text-justify text-left-md">
                                Place your order at least two days in advance, so we can make sure we have all of them ready
                                the references that you ask us. You can also make your order to collect in store
                                any day.
                            </p>
                            <p class="text-left"> We are open... </p>
                        {% elseif info.language == 'ca' %}
                            <p class="text-justify text-left-md">
                                Realitzem enviaments a domicili a Barcelona i voltants tots els {{ delivery_days }}.
                                Consulta
                                <a href="#section-distrib" data-toggle="modal" data-target="#shippingInfoModal" class="text-wheat">
                                    aquí</a> si fem enviaments a la teva zona.
                                {% if info.shipping_price_2 > 0 %}
                                    Cost d'enviament reduït
                                    <small class="text-wheat">(<b>{{ (info.shipping_price_2 / 100)|number_format(2, '.') }}€</b>)</small>
                                {% else %}
                                    <span class="text-wheat">Envíament gratuït</span>
                                {% endif %}
                                per a comandes superiors a <span class="text-wheat">{{ info.shipping_free_threshold }}€</span>.
                            </p>
                            <p class="text-justify text-left-md">
                                Fes-nos la teva comanda al menys amb dos dies d'antelació, així podrem assegurar-nos de tenir llestes totes
                                les referències que ens demanis. També pots fer-nos la teva comanda per a recollir a la botiga
                                qualsevol dia.
                            </p>
                            <p class="text-left"> Estem oberts... </p>
                        {% else %}
                            <p class="text-justify text-left-md">
                                Realizamos envíos a domicilio a Barcelona y alrededores todos los {{ delivery_days }}.
                                Consulta
                                <a href="#section-distrib" data-toggle="modal" data-target="#shippingInfoModal" class="text-wheat">
                                    aquí</a> si hacemos envíos a tu zona.
                                {% if info.shipping_price_2 > 0 %}
                                    Coste de envío reducido
                                    <small class="text-wheat">(<b>{{ (info.shipping_price_2 / 100)|number_format(2, '.') }}€</b>)</small>
                                {% else %}
                                    <span class="text-wheat">Envío gratuito</span>
                                {% endif %}
                                para pedidos superiores a <span class="text-wheat">{{ info.shipping_free_threshold }}€</span>.
                            </p>
                            <p class="text-justify text-left-md">
                                Haznos tu pedido al menos con dos días de antelación, así podremos asegurarnos de tener listas todas
                                las referencias que nos pidas. También puedes hacernos tu pedido para recoger en tienda
                                cualquier día.
                            </p>
                            <p class="text-left"> Estamos abiertos... </p>
                        {% endif %}
                        <ul class="text-left mb-0">
                            {% if info.opening[1] is defined %}
                            <li>
                                <span class="text-wheat"> {{ info.opening[0] }}</span> &nbsp;
                                <span class="span-no-break">{{ info.opening[1] ?? '' }}</span>
                            </li>
                            {% endif %}
                            {% if info.opening[3] is defined %}
                            <li>
                                <span class="text-wheat"> {{ info.opening[2] ?? '' }}</span> &nbsp;
                                <span class="span-no-break">{{ info.opening[3] ?? '' }}</span>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 my-sm-1 py-sm-1 my-2">
                    <div class="distrib-text-content">
                        <p class="mt-2 mt-md-0 add-width-md-2">
                            {% if info.language == 'en' %}
                                Orders placed 48 hours in advance. <br>
                                Contact us by <a href="#delivery-whatsapp" class="text-wheat">phone</a>
                                or <a href="#section-contact" class="text-wheat">email</a>...
                            {% elseif info.language == 'ca' %}
                                Comandes realitzades amb 48 hores de antelació. <br>
                                Contacta amb nosaltres per <a href="#delivery-whatsapp" class="text-wheat">mòbil</a>
                                o <a href="#section-contact" class="text-wheat">email</a>...
                            {% else %}
                                Pedidos realizados con 48 horas de antelación. <br>
                                Contacta con nosotros por <a href="#delivery-whatsapp" class="text-wheat">móvil</a>
                                o <a href="#section-contact" class="text-wheat">email</a>...
                            {% endif %}
                        </p>
                        <a id="delivery-whatsapp" href="https://wa.me/{{ info.whatsapp_link }}" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="120" width="120" viewBox="-93.2412 -156.2325 808.0904 937.395">
                                <title>Send WhatsApp</title>
                                <defs>
                                    <linearGradient x1=".5" y1="0" x2=".5" y2="1" id="a">
                                        <stop stop-color="#20B038" offset="0%"/>
                                        <stop stop-color="#60D66A" offset="100%"/>
                                    </linearGradient>
                                    <linearGradient x1=".5" y1="0" x2=".5" y2="1" id="b">
                                        <stop stop-color="#F9F9F9" offset="0%"/>
                                        <stop stop-color="#FFF" offset="100%"/>
                                    </linearGradient>
                                    <linearGradient xlink:href="#a" id="f" x1="270.265" y1="1.184" x2="270.265" y2="541.56" gradientTransform="scale(.99775 1.00225)" gradientUnits="userSpaceOnUse"/>
                                    <linearGradient xlink:href="#b" id="g" x1="279.952" y1=".811" x2="279.952" y2="560.571" gradientTransform="scale(.99777 1.00224)" gradientUnits="userSpaceOnUse"/>
                                    <filter x="-.056" y="-.062" width="1.112" height="1.11" filterUnits="objectBoundingBox" id="c">
                                        <feGaussianBlur stdDeviation="2" in="SourceGraphic"/>
                                    </filter>
                                    <filter x="-.082" y="-.088" width="1.164" height="1.162" filterUnits="objectBoundingBox" id="d">
                                        <feOffset dy="-4" in="SourceAlpha" result="shadowOffsetOuter1"/>
                                        <feGaussianBlur stdDeviation="25" in="shadowOffsetOuter1" result="shadowBlurOuter1"/>
                                        <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"/>
                                        <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.21 0" in="shadowBlurOuter1"/>
                                    </filter>
                                    <path d="M576.337 707.516c-.018-49.17 12.795-97.167 37.15-139.475L574 423.48l147.548 38.792c40.652-22.23 86.423-33.944 133.002-33.962h.12c153.395 0 278.265 125.166 278.33 278.98.025 74.548-28.9 144.642-81.446 197.373C999 957.393 929.12 986.447 854.67 986.48c-153.42 0-278.272-125.146-278.333-278.964z" id="e"/>
                                </defs>
                                <g fill="none" fill-rule="evenodd">
                                    <g transform="matrix(1 0 0 -1 -542.696 1013.504)" fill="#000" fill-rule="nonzero" filter="url(#c)">
                                        <use filter="url(#d)" xlink:href="#e" width="100%" height="100%"/>
                                        <use fill-opacity=".25" xlink:href="#e" width="100%" height="100%" id="logo-shadow"/>
                                    </g>
                                    <path transform="matrix(1 0 0 -1 41.304 577.504)" fill-rule="nonzero" fill="url(#f)" d="M2.325 274.421c-.014-47.29 12.342-93.466 35.839-134.166L.077 1.187l142.314 37.316C181.6 17.133 225.745 5.856 270.673 5.84h.12c147.95 0 268.386 120.396 268.447 268.372.03 71.707-27.87 139.132-78.559 189.858-50.68 50.726-118.084 78.676-189.898 78.708-147.968 0-268.398-120.386-268.458-268.358"/>
                                    <path transform="matrix(1 0 0 -1 31.637 586.837)" fill-rule="nonzero" fill="url(#g)" d="M2.407 283.847c-.018-48.996 12.784-96.824 37.117-138.983L.072.814l147.419 38.654c40.616-22.15 86.346-33.824 132.885-33.841h.12c153.26 0 278.02 124.724 278.085 277.994.026 74.286-28.874 144.132-81.374 196.678-52.507 52.544-122.326 81.494-196.711 81.528-153.285 0-278.028-124.704-278.09-277.98zm87.789-131.724l-5.503 8.74C61.555 197.653 49.34 240.17 49.36 283.828c.049 127.399 103.73 231.044 231.224 231.044 61.74-.025 119.765-24.09 163.409-67.763 43.639-43.67 67.653-101.726 67.635-163.469-.054-127.403-103.739-231.063-231.131-231.063h-.09c-41.482.022-82.162 11.159-117.642 32.214l-8.444 5.004L66.84 66.86z"/>
                                    <path d="M242.63 186.78c-5.205-11.57-10.684-11.803-15.636-12.006-4.05-.173-8.687-.162-13.316-.162-4.632 0-12.161 1.74-18.527 8.693-6.37 6.953-24.322 23.761-24.322 57.947 0 34.19 24.901 67.222 28.372 71.862 3.474 4.634 48.07 77.028 118.694 104.88 58.696 23.146 70.64 18.542 83.38 17.384 12.74-1.158 41.11-16.805 46.9-33.03 5.791-16.223 5.791-30.128 4.054-33.035-1.738-2.896-6.37-4.633-13.319-8.108-6.95-3.475-41.11-20.287-47.48-22.603-6.37-2.316-11.003-3.474-15.635 3.482-4.633 6.95-17.94 22.596-21.996 27.23-4.053 4.643-8.106 5.222-15.056 1.747-6.949-3.485-29.328-10.815-55.876-34.485-20.656-18.416-34.6-41.16-38.656-48.116-4.053-6.95-.433-10.714 3.052-14.178 3.12-3.113 6.95-8.11 10.424-12.168 3.467-4.057 4.626-6.953 6.942-11.586 2.316-4.64 1.158-8.698-.579-12.172-1.737-3.475-15.241-37.838-21.42-51.576" fill="#FFF"/>
                                </g>
                            </svg>
                        </a>
                        <a href="#section-contact" class="icon-section-link-wheat nav-anchor-link">
{#                        <a data-toggle="modal" data-target="#contactEmailModal" class="icon-section-link-wheat nav-anchor-link">#}
                            <svg role="img" class="icon-section svg-mail" viewBox="0 0 240 240" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet">
                                <title>{{ 'envíanos un email'|trans }}</title>
                                <g transform="translate(-85.000000,320.000000) scale(0.1700000,-0.1700000)" stroke="none">
                                    <path d="M1163 1889 c-39 -11 -631 -469 -656 -507 -16 -25 -17 -59 -15 -424 l3 -398 28 -27 27 -28 650 0 650 0 27 28 28 27 3 398 c2 365 1 399 -15 424 -22 33 -612 494 -645 503 -44 13 -53 13 -85 4z m182 -277 c110 -56 146 -178 82 -273 -48 -71 -135 -101 -175 -61 -18 18 -19 18 -42 0 -32 -26 -86 -23 -115 7 -43 42 -29 141 27 193 34 31 90 39 122 18 15 -10 27 -12 31 -6 9 15 58 13 52 -2 -2 -7 -12 -48 -22 -91 -15 -61 -16 -80 -7 -89 10 -10 18 -9 40 2 96 54 96 202 0 260 -77 47 -201 34 -271 -28 -133 -121 -90 -317 78 -352 61 -13 129 -3 191 26 32 15 54 13 54 -6 0 -5 -24 -20 -54 -35 -64 -31 -154 -37 -230 -15 -94 26 -166 120 -166 215 0 71 45 160 104 206 77 60 217 75 301 31z m-546 -472 c110 -85 199 -159 197 -165 -2 -9 -293 -242 -393 -315 l-43 -31 0 347 c0 343 0 346 20 333 11 -8 109 -84 219 -169z m1039 -335 l-3 -175 -214 167 c-118 93 -216 173 -217 178 -2 6 95 86 214 178 l217 168 3 -170 c1 -93 1 -249 0 -346z m-566 177 c16 -9 140 -105 277 -212 l250 -195 -300 -3 c-164 -1 -434 -1 -598 0 l-300 3 250 195 c137 107 261 203 277 212 15 10 46 18 72 18 26 0 57 -8 72 -18z"></path>
                                    <path d="M1152 1445 c-26 -32 -37 -97 -22 -124 15 -30 61 -27 91 5 19 20 24 36 24 82 l0 57 -36 3 c-30 2 -41 -2 -57 -23z"></path>
                                </g>
                            </svg>
                        </a>
                        <p class="mt-3 add-width-md-2">
                            {% if info.language == 'en' %}
                                Check our products or do directly <br>
                                your on-line order in our <strong class = "text-wheat">catalog</strong>.
                            {% elseif info.language == 'ca' %}
                                Consulta els nostres productes o fes directament <br>
                                la teva comanda on-line al nostre <strong class="text-wheat">catàleg</strong>.
                            {% else %}
                                Consulta nuestros productos o haz directamente <br>
                                tu pedido on-line en nuesto <strong class="text-wheat">catálogo</strong>.
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->
</div> <!-- /container -->
<div>
    <svg viewBox="0 0 100 10">
        <polygon points="0,10 0,0 100,0" style="fill:#303030" />
    </svg>
</div>
<!-- Modal -->
<div class="modal fade" id="shippingInfoModal" tabindex="-1" aria-labelledby="shippingInfoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shippingInfoLabel">{{ 'Información sobre el envío'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-3 pb-4">
                <p>
                    <strong>Obrador Ca La Maria</strong>
                    {{ 'realiza envíos a domicilio a Badalona, Barcelona ciudad y a las localidades de alrededor'|trans }}.
                </p>
                <p>
                    {{ 'Puedes comprobar si realizamos envíos a tu zona introduciendo el código postal de tu domicilio'|trans }}:
                </p>
                <div class="form-inline">
                    <input type="tel" maxlength="5" id="inputPostalCode" placeholder="{{ 'código postal'|trans }}"
                           aria-describedby="postalCodeHelp" class="form-control form-control-sm" >
                </div>
                <p id="helpPostalCode" class="text-muted">{{ 'Comprueba tu código postal'|trans }}</p>
                <div id="postal-code-modal-list" class="div-display-none">
                    <p class="mt-3">{{ 'Realizamos envíos a las siguientes localidades'|trans }}: </p>
                    <ul class="mt-2">
                        {% for zone in zones %}
                            <li>{{ zone.loc }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% block postalcode %}
    <script>
        const postalCodeHelpInfo = '{{ 'Comprueba tu código postal'|trans }}';
        const postalCodeHelpSuccess = '{{ 'Genial, tu código postal está dentro de las localidades a las que relizamos envíos'|trans }}';
        const postalCodeHelpWarning = '{{ 'Lo sentimos, actualmente no hacemos repartos a tu zona'|trans }}';
    </script>
{% endblock %}
