<div class="container" id="section-contact">

    <div class="row justify-content-md-center">
        <div class="col text-center" id="section-mail">

            <div class="row form-container mx-0 pt-4">
                <div class="col-md-4">
                    <h2 class="text-center">
                        <span class="font-blanch">{{ messages.contacto|trans|upper }}</span>
                    </h2>
                </div>
                <div class="col-md-7 pt-3">
                    <h6 class="text-justify">
                        {% if info.language == 'es' %}
                            ¿Tienes alguna duda? ¿Quieres hacernos alguna consulta?
                            Si necesitas más información no dudes en dejarnos un mensaje:
                        {% elseif info.language == 'ca' %}
                            Tens cap dubte? Vols fer-nos alguna consulta?
                            Si vols fer una comanda o necessites més informació no dubtis en deixar-nos un missatge:
                        {% else %}
                            Do you have any doubt? Do you want to ask us anything?
                            If you want to make an order or you need more information do not hesitate to send us a message:
                        {% endif %}
                    </h6>
                </div>
                <form action="{{ index_url }}mail/send" method="post" id="email-form" class="row justify-content-md-center mx-0" >
                    <div class="col-md-8 mt-3">
                        <div class="row text-right">
                            <div class="form-group col-md-6 col-12 px-1 mb-1 mb-md-2">
                                <div class="input-field-alert alert-hidden"></div>
                                <small id="inputFNameHelp" class="form-text text-muted">{{ messages.fname|trans|capitalize }}*</small>
                                <input type="text" data-description="Nombre" name="fname" class="form-control" id="inputFName"
                                       pattern="([A-z-À-ž\s]+){2}" title="{{ messages.validacion_campo_name|trans }}"
                                       placeholder="{{ messages.fname|trans|capitalize }}" autocomplete="off" required />
                            </div>
                            <div class="form-group col-md-6 col-12 px-1 mb-1 mb-md-2">
                                <div class="input-field-alert alert-hidden"></div>
                                <small id="inputLNameHelp" class="form-text text-muted">{{ messages.apellido|trans|capitalize }}*</small>
                                <input type="text" data-description="Apellido" name="lname" class="form-control" id="inputLName"
                                       pattern="([A-z-À-ž\s]+){2}" title="{{ messages.validacion_campo_name|trans }}"
                                       placeholder="{{ messages.apellido|trans|capitalize }}" autocomplete="off" required />
                            </div>
                            <div class="form-group col-12 px-1 mb-1 mb-md-2">
                                <div class="input-field-alert alert-hidden"></div>
                                <small id="inputEmailHelp" class="form-text text-muted">Email*</small>
                                <input type="email" data-description="Email" name="email" class="form-control" id="inputEmail"
                                       pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" placeholder="Email"
                                       title="{{ messages.validacion_campo_email|trans }}" autocomplete="off" required />
                            </div>
                            <div class="form-group col-12 px-1 mb-1 mb-md-2">
                                <div class="input-field-alert alert-hidden"></div>
                                <small id="emailBodyHelp" class="form-text text-muted">{{ messages.mensaje|trans|capitalize }}*</small>
                                <textarea name="message" data-description="Mensaje" class="form-control" id="emailBody" rows="4"
                                          placeholder="{{ messages.escribe_mensaje|trans }}" autocomplete="off" required ></textarea>
                            </div>
                            <div class="form-check col-sm-8 has-checkbox">
                                <div class="input-field-alert input-checkbox-alert alert-hidden"></div>
                                <input type="checkbox" data-description="Condiciones" name="conditions" class="form-check-input"
                                       id="conditionsCheck" required />
                                <label class="form-checkbox-label" for="conditionsCheck">
                                    *{{ messages.acepto_la|trans }}
                                    <a href="#legalModal" data-toggle="modal" data-target="#legalModal" onclick="loadLegalContent('privacy', 'Política de privacidad y protección de datos')">
                                        {{ 'política de privacidad'|trans }}
                                    </a>
                                </label>
                            </div>
                            <div class="form-group col-sm-4 px-1">
                                <button class="btn btn-outline-warning disabled non-validated-submit" value="no-validated">
                                    {{ messages.enviar|trans|capitalize }} &raquo;
                                </button>
                                <button class="g-recaptcha btn btn-outline-warning submit-button-hidden" data-callback="onMailSubmitContact"
                                        data-sitekey="{{ g_recaptcha_siteKey }}">
                                    {{ messages.enviar|trans|capitalize }} &raquo;
                                </button>
                            </div>
                        </div> <!-- .row -->
                    </div>
                </form>
                <p class="pl-2 mb-1 form-fill-info">*{{ 'campos obligatorios'|trans|capitalize }}</p>
            </div> <!-- .form-container -->
        </div>
    </div>
    <hr>
</div> <!-- /container -->

<!-- Modal -->
<div class="modal fade" id="contactEmailModal" tabindex="-1" role="dialog" aria-labelledby="contactEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="{{ index_url }}mail/send" method="post" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ 'contacta con nosotros'|trans|capitalize }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-field-alert alert-hidden"></div>
                    <small id="inputFNameModalHelp" class="form-text text-muted">{{ 'nombre'|trans|capitalize }}*</small>
                    <input type="text" data-description="name" name="name" class="form-control" id="inputNameModal"
                           pattern="([A-z-À-ž\s]+){2}" title="{{ messages.validacion_campo_name|trans }}"
                           placeholder="{{ 'nombre'|trans|capitalize }}" autocomplete="off" required />
                    <div class="input-field-alert alert-hidden col-6"></div>

                    <small id="inputEmailHelp" class="form-text text-muted">Email*</small>
                    <input type="email" data-description="Email" name="email" class="form-control" id="inputEmailModal"
                           pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" placeholder="Email*"
                           title="{{ messages.validacion_campo_email|trans }}" autocomplete="off" required />

                    <small id="inputCompanyHelp" class="form-text text-muted">{{ 'empresa'|trans|capitalize }}</small>
                    <input type="text" data-description="Company" name="company" class="form-control" id="inputCompanyModal"
                           placeholder="{{ 'empresa'|trans|capitalize }}"
                           title="{{ messages.validacion_campo_empresa|trans }}" autocomplete="off" />

                    <small id="inputPhoneHelp" class="form-text text-muted">{{ 'teléfono'|trans|capitalize }}</small>
                    <input type="tel" data-description="Phone" name="phone" class="form-control" id="inputPhoneModal"
                           pattern="[0-9._+-]{7,}" placeholder="{{ 'teléfono'|trans|capitalize }}"
                           title="{{ messages.validacion_campo_phone|trans }}" autocomplete="off" />

                    <small id="inputAddressHelp" class="form-text text-muted">{{ 'dirección'|trans|capitalize }}</small>
                    <input type="email" data-description="Address" name="address" class="form-control" id="inputAddressModal"
                           placeholder="{{ 'dirección'|trans|capitalize }}"
                           title="{{ messages.validacion_campo_direccion|trans }}" autocomplete="off" />

                    <div class="input-field-alert alert-hidden"></div>
                    <small id="emailBodyHelp" class="form-text text-muted">{{ messages.mensaje|trans|capitalize }}*</small>
                    <textarea name="message" data-description="Mensaje" class="form-control" id="emailBody" rows="4"
                              placeholder="{{ messages.escribe_mensaje|trans }}" autocomplete="off" required ></textarea>
                </div>
                <div class="form-check col-sm-8 has-checkbox">
                    <div class="input-field-alert input-checkbox-alert alert-hidden"></div>
                    <input type="checkbox" data-description="Condiciones" name="conditions" class="form-check-input"
                           id="conditionsCheck" required />
                    <label class="form-checkbox-label" for="conditionsCheck">
                        *{{ messages.acepto_la|trans }}
                        <a href="#legalModal" data-toggle="modal" data-target="#legalModal" onclick="loadLegalContent('privacy', 'Política de privacidad y protección de datos')">
                            {{ 'política de privacidad'|trans }}
                        </a>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'cerrar'|trans|capitalize }}</button>
                <button type="submit" class="g-recaptcha btn btn-primary" data-sitekey="{{ g_recaptcha_siteKey }}"
                        data-callback="onMailSubmitContact">{{ 'enviar'|trans|capitalize }}</button>
            </div>
        </form>
    </div>
</div>
