{% extends 'base.html.twig' %}

{% block body %}
    {% include 'main/intro.html.twig' %}
    {% include 'main/catering.html.twig' %}
    {% include 'main/catalog-header.html.twig' %}
    {% include 'main/contact.html.twig' %}
    {% include 'main/map.html.twig' %}
{% endblock %}

{% block modal %}
    {% include 'main/modal/catalog-wrapper.html.twig' %}
    {% include 'main/modal/cart.html.twig' %}
{% endblock %}

{% block cart_js %}
    <script> {% include 'js/catalog.js.twig' %}</script>
    <script src="{{ asset('js/cart.js') }}" defer ></script>
{% endblock %}

{% block recaptcha %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{{ asset('js/recaptcha.js') }}" defer ></script>
{% endblock %}

{% block postalcode %}
{% endblock %}
