<div class="container mt-5" id="section-obrador">
    <div class="row">
        <div class="col-md-4">
            <h4 class="desktop-only"><span class="font-blanch">{{ messages.obrador|trans }}</span></h4>
            <h5 class="mobile-only text-center">
                <span class="font-blanch">
                    {{ messages.obrador|trans }} | {{ messages.distribucion|trans }} | {{ messages.tienda|trans }}
                </span>
            </h5>
            {% if info.language == 'es' %}
                <p>En nuestro obrador artesano preparamos pan y repostería sin gluten ni lactosa.</p>
                <p>Disfruta de nuestra bollería horneada cada mañana y elaborada con las mejores materias primas.
            {% elseif info.language == 'ca' %}
                <p>Al nostre obrador artesà preparem pa i reposteria sense gluten ni lactosa.</p>
                <p>Gaudeix de la nostra brioixeria feta al forn cada matí i elaborada amb les millors matèries primeres.
            {% else %}
                <p> In our workshop bakery we prepare lactose-and-gluten-free bread and pastries.</p>
                <p> Enjoy our pastries baked every morning and made with the best raw materials.
            {% endif %}
        </div>
        <div class="col-md-4">
            <h4 class="desktop-only">
                <span class="font-blanch">{{ messages.distribucion|trans }}</span>
            </h4>
            {% if info.language == 'es' %}
                <p>Distribuimos, desde nuestro obrador artesano, a los mejores cáterings y hoteles de la ciudad
                en los que también podrás degustar nuestra bollería recién hecha cada día.</p>
            {% elseif info.language == 'ca' %}
                <p> Distribuïm, des del nostre obrador artesà, als millors càterings i hotels de la ciutat
                als quals també podràs degustar la nostra brioixeria acabada de fer cada dia. </p>
            {% else %}
                <p> We deliver, from our workshop bakery, to the best restaurants and hotels in the city
                    in which you can also taste our fresh pastries every day. </p>
            {% endif %}
        </div>
        <div class="col-md-4">
            <h4 class="desktop-only">
                <span class="font-blanch">{{ messages.tienda|trans }}</span>
            </h4>
            {% if info.language == 'es' %}
                <p>Ya sea para recoger un pedido o para conocer nuestros productos, no dudes en venir a visitarnos a nuestra tienda en el centro de Badalona.</p>
                <p>Estaremos encantados de atenderte</p>
            {% elseif info.language == 'ca' %}
                <p>Ja sigui per recollir una comanda o per conèixer els nostres productes, no dubtis a venir a visitar-nos a la nostra botiga al centre de Badalona.</p>
                <p>Estarem encantats d'atendre't</p>
            {% else %}
                <p> Whether to pick up an order or to see our products, do not hesitate to come visit us at our store in the center of Badalona. </p>
                <p> We will be happy to assist you </p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col logo-transition-container">
            <div class="logo-brand-left">
                <img src="{{ asset('img/icons/logo-circle-sgsl.svg') }}" style="width: 150px" alt="logo-sgsl" id="logo-sgsl">
            </div>
            <div class="logo-brand-right">
                <img src="{{ asset('img/icons/logo-circle-calm.svg') }}" style="width: 150px" alt="logo-calm" id="logo-calm">
            </div>
        </div>
    </div>
</div> <!-- /container -->
