<div class="container-xl map-container px-0">
    <div class="row mx-0">
        <div class="col-12 text-center">
            <h2>
                <span class="font-blanch">{{ messages.donde_estamos|trans }}</span>
            </h2>
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <h5>
                        {{ messages.estamos_en|trans }} Badalona: Av. Sant Ignasi de Loiola 9.
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-12 px-0" id="section-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2114.669604306175!2d2.2419148478856594!3d41.44802098074513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4bbd34da649cb%3A0x25ecd46acb760979!2sCa%20la%20Mar%C3%ADa!5e0!3m2!1sca!2ses!4v1602848189353!5m2!1sca!2ses"
                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div> <!-- /container -->