{% extends 'base.html.twig' %}

{% block header %}
    {% include 'navbar-min.html.twig' %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="head-cart" class="jumbotron">
        <div class="container head-first-dark">
            <img src="{{ asset('img/logo-obrador-text-dark.svg') }}" alt="Ca La Maria" class="img-center">
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="payment-return-page" class="container my-0 py-4">
        <div class="row">
            <div class="col text-center" id="redsys-payment-result">
                <h4>{% if status == 'PENDING' %}
                        {{ 'pago pendiente'|trans|upper }}
                    {% elseif status == 'COMPLETED' %}
                        {{ 'pago aceptado'|trans|upper }}
                    {% elseif status == 'DELIVERED' %}
                        {{ 'pedido entregado'|trans|upper }}
                    {% endif %}
                    {% if (test is same as 'TEST') %}
                        ({{ 'modo test'|trans }})
                    {% endif %}
                </h4>
                <div class="row p-2">

                    <div class="col-6 p-0 transaction-info-key text-right text-ellipsis">
                        {{ 'fecha y hora'|trans|upper }} :
                    </div>
                    <div class="col-6 text-left">
                        <strong>{{ redsys.payment_datetime }}</strong>
                    </div>

                    <div class="col-6 p-0 transaction-info-key text-right text-ellipsis">
                        {{ 'ID de pedido'|trans|upper }} :
                    </div>
                    <div class="col-6 text-left">
                        <strong>{{ redsys.uuid }}</strong>
                    </div>

                    <div class="col-6 p-0 transaction-info-key text-right text-ellipsis">
                        {{ 'referencia transacción'|trans|upper }} :
                    </div>
                    <div class="col-6 text-left">
                        <strong>{{ redsys.order_id }}</strong>
                    </div>

                    <div class="col-6 p-0 transaction-info-key text-right text-ellipsis">
                        {{ 'referencia de comerciante'|trans|upper }} :
                    </div>
                    <div class="col-6 text-left">
                        <strong>{{ redsys.merchant_reference }}</strong>
                    </div>

                    <div class="col-6 p-0 transaction-info-key text-right text-ellipsis">
                        {{ 'código de respuesta'|trans|upper }} :
                    </div>
                    <div class="col-6 text-left">
                        <strong>{{ redsys.redsys_response_code }}</strong>
                    </div>

                    <div class="col-6 p-0 transaction-info-key text-right text-ellipsis">
                        {{ 'número de autorización'|trans|upper }} :
                    </div>
                    <div class="col-6 text-left">
                        <strong>{{ redsys.authorization_number }}</strong>
                    </div>

                    <div class="col-6 p-0 transaction-info-key text-right text-ellipsis">
                        {{ 'cantidad'|trans|upper }} :
                    </div>
                    <div class="col-6 text-left">
                        <strong>{{ redsys.amount|number_format(2) }} EUR</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <div class="row p-2">
                    <div id="payment-return" class="col-12 mt-3 mx-auto pb-4">
                        <div class="row return-order-details">
                            <div class="col-12 mt-3">
                                <h6 class="mb-2">{{ 'detalles del pedido'|trans|upper }}</h6>
                            </div>

                            <div class="col-4 col-sm-6 text-right order-description-key text-ellipsis">
                                {{ 'entrega'|trans|upper }} :
                            </div>
                            <div class="col-8 col-sm-6 pl-0 text-left order-description-value">
                                {{  (delivery == 'pick' ? 'recogida en tienda' : 'envío a domicilio')|trans|capitalize }}
                            </div>

                            <div class="col-4 col-sm-6 text-right order-description-key text-ellipsis">
                                {{ 'fecha'|trans|upper }} :
                            </div>
                            <div class="col-8 col-sm-6 pl-0 text-left order-description-value">
                                {{ date.weekday|trans|capitalize }},
                                {{ date.day }}
                                {{ date.month|trans|capitalize }}
                                {{ date.year }}
                            </div>

                        </div>
                        <div class="row" id="return-order-summary">
                            <div class="col-12 mt-2 mx-auto pt-1">
                                <div class="return-order-details">
                                    <p>
                                        <a data-toggle="collapse" href="#collapsePayReturnCart" aria-expanded="false" aria-controls="collapsePayReturnCart" class="collapsed">
                                            {{ 'detalle cesta'|trans|capitalize }} &#9660;
                                        </a>
                                    </p>
                                </div>
                                <div class="row my-3 mx-3 cart-list-container cart-in-payment-return">
                                    <div class="col collapse" id="collapsePayReturnCart">
                                        {% for key, item in cart.items %}
                                            <div class="row row-cart-list-item">
                                                <div class="col-12 col-lg-9 pl-0">
                                                    <div class="row pt-1 cart-list-item-link" data-toggle="modal" data-target="#id-{{ key }}" data-dismiss="modal" >
                                                        <img class="ml-3 mr-1" src="{{ asset('api/image/') }}{{ item.image.0 ?? '' }}" alt="{{ key }}">
                                                        <div class="col pl-1 pt-1 cart-list-item-description">
                                                            <p class="text-left mb-0">{{ item.name }}
                                                                <span class="cart-list-item-price"> &nbsp; {{ item.price|number_format(2) }} €</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-3 ml-auto pl-lg-0">
                                                    <div class="row pt-1">
                                                        <div class="pr-2 ml-auto text-right cart-list-item-qty" style="width: 80px">
                                                            <p class="mb-0">
                                                                    <span class="label">
                                                                        {{'qty'|trans|upper}}. :&nbsp;
                                                                    </span>
                                                                <span class="qty">
                                                                        {{ item.qty }}
                                                                    </span>
                                                            </p>
                                                        </div>
                                                        <div class="pr-2 pt-1 cart-list-item-subtotal" style="width: 80px">
                                                            <p class="text-right mb-0 cart-item-subtotal-{{ key }}">{{ item.amount|number_format(2) }} €</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block order_js %}
    <script>
        sessionStorage.removeItem('cart');
    </script>
{% endblock %}