{% extends 'base.html.twig' %}

{% block header %}
    {% include 'navbar-min.html.twig' %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="head-cart" class="jumbotron">
        <div class="container head-first-dark">
            <img src="{{ asset('img/logo-obrador-text-dark.svg') }}" alt="Ca La Maria" class="img-center">
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="payment-return-page" class="container my-0 py-4">
        <div class="row">
            <div class="col text-center" id="redsys-payment-result">
                <h4>{{ redsys.status|trans|upper }}</h4>
                <div class="row p-2">

                    <div class="col-6 p-0 transaction-info-key text-right text-ellipsis">
                        {{ 'número de pedido'|trans|upper }} :
                    </div>
                    <div class="col-6 text-left">
                        <strong>{{ redsys.Ds_Order }}</strong>
                    </div>

                    <div class="col-6 p-0 transaction-info-key text-right text-ellipsis">
                        {{ 'fecha y hora'|trans|upper }} :
                    </div>
                    <div class="col-6 text-left">
                        <strong>{{ redsys.Ds_Datetime }}</strong>
                    </div>

                    <div class="col-6 p-0 transaction-info-key text-right text-ellipsis">
                        {{ 'referencia de comerciante'|trans|upper }} :
                    </div>
                    <div class="col-6 text-left">
                        <strong>{{ redsys.Ds_MerchantCode }}</strong>
                    </div>

                    <div class="col-6 p-0 transaction-info-key text-right text-ellipsis">
                        {{ 'código de respuesta'|trans|upper }} :
                    </div>
                    <div class="col-6 text-left">
                        <strong>{{ redsys.Ds_Response }}</strong>
                    </div>

                    <div class="col-6 p-0 transaction-info-key text-right text-ellipsis">
                        {{ 'número de autorización'|trans|upper }} :
                    </div>
                    <div class="col-6 text-left">
                        <strong>-</strong>
                    </div>

                    <div class="col-6 p-0 transaction-info-key text-right text-ellipsis">
                        {{ 'cantidad'|trans|upper }} :
                    </div>
                    <div class="col-6 text-left">
                        <strong>-</strong>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col text-center return-ko-payment">
                        <a href="{{ index_url }}order" class="btn btn-warning">
                            {{ 'volver a pedido'|trans|upper }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block order_js %}
    <script>

    </script>
{% endblock %}