<!DOCTYPE html>
{% set locale = info.language ?? 'es' %}
<html lang="{{ locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% if (locale is same as 'en') %}
        <meta name="description" content="Artisan workshop bakery of gluten free bread, cakes and pastries. Delivery and catering service in Barcelona. Bakery and coffee shop with terrace in Central Badalona. ">
        {% elseif (locale is same as 'ca') %}
        <meta name="description" content="Obrador artesà de pa, brioixeria i pastisseria sense gluten. Servei de distribució i catering a Barcelona. Botiga amb cafeteria i terrassa a Badalona Centre. ">
        {% else %}
        <meta name="description" content="Obrador artesano de pan, bollería y pastelería sin gluten. Servicio de distribución y catering en Barcelona. Tienda con cafetería y terraza en Badalona Centro. ">
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Obrador Ca La Maria{% endblock %}</title>
        <noscript>
            <style> .js-only { display: none } </style>
        </noscript>
        <script>
            "use strict";
            const root = "{{ asset('') }}";
        </script>
        {% block cookie_js %}
            <script src="{{ asset('js/cookie.js') }}"></script>
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-2YE80BCP95"></script>
            <script>
                let cookies = new CookieManager();
                let consent = cookies.get(ACCEPT_COOKIE_CONSENT_INDEX);
                if (typeof consent !== 'undefined')
                    window['ga-disable-G-2YE80BCP95'] = !consent;

                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-2YE80BCP95');
            </script>
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('img/icons/favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('img/icons/apple-touch-icon.png') }}">
        {% block stylesheets %}
            <style id="critical-path-css" type="text/css">{% include 'loading-screen.css.twig' %}</style>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style-sync.css') }}" id="style-load" >
            <link rel="stylesheet" type="text/css" href="{{ asset('css/loader.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/glyphicons.css') }}">
        {% endblock %}
        {% block customstyles %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include 'loading-screen.html.twig' %}
            {% include 'navbar.html.twig' %}

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div id="head-first" class="jumbotron">
                <div class="container head-first-dark">
                    <img src="{{ asset('img/logo-obrador-dark.svg') }}" alt="Ca La Maria" class="img-center">
                    <h2 class="text-center">
                        {{ messages.obrador_artesano_sin_gluten|trans|upper }}
                    </h2>
                </div>
            </div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {% include 'footer.html.twig' %}
        {% endblock %}
        {% block cookies %}
            {% include 'cookie.html.twig' %}
        {% endblock %}
        {% block modal %} {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
            <script src="{{ asset('js/main.js') }}" defer ></script>
        {% endblock %}
        {% block cart_js %}
        {% endblock %}
        {% block order_js %}
        {% endblock %}
        {% block recaptcha %}
        {% endblock %}
        {% block postalcode %}
        {% endblock %}
    </body>
</html>
