
<nav id="cookie-consent" class="navbar fixed-bottom navbar-cookie navbar-cookie-hide">
    <div class="container">
        <div class="my-1 navbar-cookie-text">
            {% if info.language == 'es' %}
                <span>Esta web utiliza cookies para mejorar la experiencia de usuario. </span><br>
                <span>Si continua utilizando esta página usted da el consentimiento de usar cookies. Consulte nuestra
                <a href="#">
                    Política de cookies
                </a>
                para más información
            </span>
            {% elseif info.language == 'ca' %}
                <span>Aquest web utilitza galetes per a millorar l'experiència d'usuari. </span><br>
                <span>Si continua utilitzant aquesta pàgina vostè dona el consentiment d'usar cookies. Consulti la nostra
                <a href="#">
                    Política de galetes
                </a>
                per a més informació
            </span>
            {% elseif info.language == 'en' %}
                <span> This website uses cookies to improve the user experience. </span><br>
                <span> By continuing to use this page you consent to the use of cookies. Check our
                 <a href="#">
                     Cookies policy
                 </a>
                 for more information
                </span>
            {% endif %}
        </div>
        <div class="my-2">
            <button type="button" id="accept-cookies" class="btn btn-dark">{{ messages.acepto|trans|capitalize }}</button>
            <button type="button" id="refuse-cookies" class="btn btn-secondary">{{ messages.no_gracias|trans }}</button>
        </div>
    </div>
    <button type="button" id="close-cookies" class="close close-cookie-banner">
        <span aria-hidden="true">×</span>
    </button>
</nav>