<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <strong>{{ messages.horarios|trans|upper }}</strong>
                <p>
                    {% for item in info.opening %}
                        {{ item }} <br>
                    {% endfor %}
                </p>
            </div>
            <div class="col-lg">
                <strong>{{ messages.tienda|trans|upper }}</strong>
                <p>
                    {% for item in info.address %}
                        {{ item }} <br>
                    {% endfor %}
                    {{ messages.telefono|trans|capitalize }}: &nbsp;<a href="tel:{{ info.phone_link }}">{{ info.phone_text ?? info.phone_link }}</a> <br>
                </p>
            </div>
            <div class="col-lg">
                <strong>{{ 'aviso legal'|trans|upper }}</strong>
                <ul>
                    <li>
                        <a href="#legalModal" data-toggle="modal" data-target="#legalModal"
                           onclick="loadLegalContent('privacy', '{{ 'política de privacidad y protección de datos'|trans|capitalize }}')">
                            {{ messages.politica_privacidad|trans|capitalize }}
                        </a>
                    </li>
                    <li>
                        <a href="#legalModal" data-toggle="modal" data-target="#legalModal"
                           onclick="loadLegalContent('terms', '{{ 'términos y condiciones generales'|trans|capitalize }}')">
                            {{ messages.terminos_condiciones|trans|capitalize }}
                        </a>
                    </li>
                    <li>
                        <a href="#legalModal" data-toggle="modal" data-target="#legalModal"
                           onclick="loadLegalContent('cookies', '{{ 'política de cookies'|trans|capitalize }}')">
                            {{ messages.politica_cookies|trans|capitalize }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg">
                <div>
                    <img src="{{ asset('img/logo-obrador-wheat.svg') }}" alt="Ca La Maria" loading="lazy" class="img-footer">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 order-sm-2 footer-social-links">
                    <a href="https://wa.me/{{ info.whatsapp_link }}" class="icon-footer-link" target="_blank">
                        <svg role="img" class="icon-footer svg-whatsapp" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <title>WhatsApp icon</title>
                            <path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z"/>
                        </svg>
                    </a>
                    <a href="{{ info.instagram_link }}" class="icon-footer-link" target="_blank">
                        <svg role="img" class="icon-footer svg-instagram" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <title>Instagram icon</title>
                            <path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"/>
                        </svg>
                    </a>
                    <a href="{{ info.facebook_link }}" class="icon-footer-link" target="_blank">
                        <svg role="img" class="icon-footer svg-facebook" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <title>Facebook icon</title>
                            <path d="M23.9981 11.9991C23.9981 5.37216 18.626 0 11.9991 0C5.37216 0 0 5.37216 0 11.9991C0 17.9882 4.38789 22.9522 10.1242 23.8524V15.4676H7.07758V11.9991H10.1242V9.35553C10.1242 6.34826 11.9156 4.68714 14.6564 4.68714C15.9692 4.68714 17.3424 4.92149 17.3424 4.92149V7.87439H15.8294C14.3388 7.87439 13.8739 8.79933 13.8739 9.74824V11.9991H17.2018L16.6698 15.4676H13.8739V23.8524C19.6103 22.9522 23.9981 17.9882 23.9981 11.9991Z"/>
                        </svg>
                    </a>
                    <a href="mailto:{{ info.official_email }}" class="icon-footer-link nav-anchor-link">
                        <svg role="img" class="icon-footer svg-mail" viewBox="0 0 240 240" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet">
                            <title>Mailing icon</title>
                            <g transform="translate(-85.000000,320.000000) scale(0.1700000,-0.1700000)" stroke="none">
                                <path d="M1163 1889 c-39 -11 -631 -469 -656 -507 -16 -25 -17 -59 -15 -424 l3 -398 28 -27 27 -28 650 0 650 0 27 28 28 27 3 398 c2 365 1 399 -15 424 -22 33 -612 494 -645 503 -44 13 -53 13 -85 4z m182 -277 c110 -56 146 -178 82 -273 -48 -71 -135 -101 -175 -61 -18 18 -19 18 -42 0 -32 -26 -86 -23 -115 7 -43 42 -29 141 27 193 34 31 90 39 122 18 15 -10 27 -12 31 -6 9 15 58 13 52 -2 -2 -7 -12 -48 -22 -91 -15 -61 -16 -80 -7 -89 10 -10 18 -9 40 2 96 54 96 202 0 260 -77 47 -201 34 -271 -28 -133 -121 -90 -317 78 -352 61 -13 129 -3 191 26 32 15 54 13 54 -6 0 -5 -24 -20 -54 -35 -64 -31 -154 -37 -230 -15 -94 26 -166 120 -166 215 0 71 45 160 104 206 77 60 217 75 301 31z m-546 -472 c110 -85 199 -159 197 -165 -2 -9 -293 -242 -393 -315 l-43 -31 0 347 c0 343 0 346 20 333 11 -8 109 -84 219 -169z m1039 -335 l-3 -175 -214 167 c-118 93 -216 173 -217 178 -2 6 95 86 214 178 l217 168 3 -170 c1 -93 1 -249 0 -346z m-566 177 c16 -9 140 -105 277 -212 l250 -195 -300 -3 c-164 -1 -434 -1 -598 0 l-300 3 250 195 c137 107 261 203 277 212 15 10 46 18 72 18 26 0 57 -8 72 -18z"/>
                                <path d="M1152 1445 c-26 -32 -37 -97 -22 -124 15 -30 61 -27 91 5 19 20 24 36 24 82 l0 57 -36 3 c-30 2 -41 -2 -57 -23z"/>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="col-sm-7 order-sm-1 footer-company-info">
                    &copy;
                    <span class="font-blanch font-blanch-line">2020 &nbsp;Ni Gluten Ni Lactosa S.L.</span>
                </div>
            </div>
        </div>
    </div>
</footer>
{% include 'main/modal/legal.html.twig' %}