
<div id="loading-screen" class="page-preloader">
    <div class="preloader-logo-icon">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 588.000000 588.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,588.000000) scale(0.100000,-0.100000)" stroke="none">
                <path d="M3872 5503 l-63 -4 -72 -72 c-142 -142 -229 -274 -442 -667 -76 -140 -201 -363 -280 -495 -259 -438 -311 -528 -470 -805 -381 -667 -709 -1282 -938 -1760 -30 -63 -103 -214 -162 -335 -58 -121 -113 -246 -121 -278 -20 -76 -22 -174 -5 -215 26 -62 99 -78 191 -42 28 11 95 27 148 35 178 28 154 0 391 455 114 217 241 458 283 535 103 190 735 1355 1218 2245 331 611 602 1091 661 1171 78 106 97 170 60 203 -32 29 -191 40 -399 29z"/>
                <path d="M3627 3978 c-99 -100 -211 -274 -358 -558 -18 -36 -101 -182 -185 -325 -173 -297 -378 -668 -684 -1235 -117 -217 -248 -453 -290 -525 -102 -171 -145 -258 -180 -366 -30 -91 -56 -251 -44 -271 14 -22 100 -51 154 -51 105 0 206 74 304 223 26 40 93 164 148 277 55 112 149 293 207 401 59 108 184 339 278 512 94 173 274 507 401 742 128 235 260 471 295 525 246 381 394 670 356 694 -29 18 -114 29 -220 29 l-110 0 -72 -72z"/>
                <path d="M3663 3097 c-81 -84 -149 -191 -273 -427 -56 -107 -110 -206 -120 -220 -27 -40 -134 -230 -325 -580 -98 -179 -239 -431 -313 -560 -202 -351 -342 -659 -342 -754 0 -49 58 -96 120 -96 107 0 243 145 365 390 26 52 76 147 110 210 34 63 86 160 115 215 112 212 363 682 385 720 12 22 50 94 85 160 133 254 194 360 284 498 144 217 228 381 237 462 l4 30 -65 6 c-36 4 -97 7 -136 8 l-71 1 -60 -63z"/>
                <path d="M3693 2335 c-32 -23 -101 -123 -175 -255 -36 -63 -98 -171 -138 -240 -40 -69 -151 -269 -248 -445 -96 -176 -222 -399 -280 -495 -158 -263 -218 -403 -210 -498 3 -34 6 -38 46 -51 65 -20 106 -8 168 50 43 42 66 77 127 202 133 270 685 1276 761 1386 85 123 140 226 157 294 6 26 10 49 8 51 -2 2 -47 7 -99 10 -79 6 -99 4 -117 -9z"/>
                <path d="M1467 3 c810 -2 2136 -2 2945 0 810 1 148 2 -1472 2 -1620 0 -2282 -1 -1473 -2z"/>
            </g>
        </svg>
    </div>
    <div class="preloader-logo-text">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="315px" height="86px" viewBox="0 0 840.000000 208.000000" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,206.000000) scale(0.100000,-0.100000)" stroke="none">
                <path d="M2695 1851 c-75 -34 -142 -129 -184 -262 -29 -90 -47 -201 -76 -449 -41 -357 -64 -522 -80 -575 -16 -56 -46 -90 -87 -100 -71 -18 -98 -87 -58 -152 35 -58 50 -59 153 -11 83 39 99 43 167 43 54 -1 101 -9 170 -30 68 -21 115 -29 165 -29 84 0 120 16 191 85 l50 49 17 -35 c47 -99 134 -63 244 104 l58 86 7 -75 c19 -182 79 -243 192 -196 75 31 233 227 262 324 16 53 13 72 -15 72 -25 0 -67 -49 -130 -153 -28 -47 -70 -102 -92 -121 -96 -82 -123 -46 -124 164 0 122 3 144 29 223 23 72 26 93 17 113 -24 54 -87 13 -116 -77 -29 -90 -140 -311 -177 -353 -47 -54 -68 -46 -68 27 0 162 99 351 240 456 62 47 76 62 78 88 4 42 -32 68 -80 58 -154 -33 -289 -221 -353 -492 -28 -117 -41 -147 -82 -184 -79 -74 -162 -77 -336 -10 -59 22 -117 41 -130 41 -43 0 -46 9 -31 95 17 107 50 353 74 555 23 189 73 452 101 526 11 28 32 63 49 79 28 27 30 27 54 11 34 -22 52 -59 65 -136 20 -114 19 -112 49 -108 26 3 27 5 30 71 5 118 -44 230 -121 277 -40 25 -70 25 -122 1z"/> <path d="M608 1806 c-207 -63 -336 -254 -424 -632 -37 -156 -39 -364 -6 -486 49 -181 156 -329 280 -390 62 -31 74 -33 162 -32 137 1 213 33 355 154 l59 50 13 -44 c13 -46 61 -96 90 -96 9 0 35 11 57 24 41 25 77 70 142 176 l34 55 0 -34 c0 -105 40 -230 79 -251 38 -20 95 -12 144 21 112 74 266 305 243 365 -15 39 -53 3 -178 -167 -60 -80 -95 -119 -117 -129 -50 -20 -61 -2 -73 122 -11 97 -10 111 14 218 47 209 47 219 -8 220 -31 0 -49 -26 -79 -110 -41 -114 -130 -290 -170 -338 -56 -64 -75 -55 -75 37 0 141 123 354 265 462 44 33 55 47 55 70 0 39 -38 64 -87 56 -128 -21 -280 -228 -333 -455 -20 -84 -26 -97 -68 -140 -125 -128 -301 -172 -443 -111 -172 74 -231 360 -153 739 75 363 254 609 387 533 78 -45 99 -175 53 -334 -41 -144 -41 -147 -12 -160 59 -27 95 20 122 158 64 335 -75 526 -328 449z"/> <path d="M4705 1691 c-22 -10 -48 -28 -59 -39 -20 -23 -20 -37 4 -170 13 -77 5 -150 -45 -394 -81 -400 -186 -688 -293 -801 -41 -44 -61 -51 -142 -57 -72 -5 -75 -6 -78 -32 -4 -37 29 -68 72 -68 53 0 168 63 220 121 80 89 196 355 246 563 11 43 21 80 23 82 2 2 7 -95 11 -217 6 -218 28 -386 57 -441 47 -91 115 -90 196 2 46 52 147 245 242 459 l98 222 7 -118 c14 -225 52 -365 113 -413 32 -25 98 -26 134 -2 15 9 45 37 67 62 l39 45 17 -59 c47 -160 153 -134 271 66 21 37 41 66 43 64 2 -2 8 -35 13 -72 14 -101 26 -139 55 -174 36 -42 103 -43 160 -2 126 92 275 319 319 488 10 38 20 71 21 73 8 10 53 -32 70 -66 16 -33 19 -63 20 -238 0 -169 3 -207 18 -243 20 -46 58 -82 88 -82 53 0 152 84 251 213 l45 58 12 -53 c27 -112 80 -188 133 -188 57 0 140 67 248 199 l36 44 11 -59 c24 -119 69 -154 148 -116 46 23 84 68 137 164 17 32 34 58 38 58 3 0 9 -30 12 -68 9 -96 33 -167 64 -191 34 -27 97 -27 142 0 82 50 220 227 247 317 16 53 13 72 -14 72 -24 0 -51 -30 -92 -100 -45 -76 -139 -186 -177 -207 -51 -28 -64 -7 -77 122 -9 97 -8 114 14 208 44 194 44 227 -5 227 -33 0 -53 -28 -89 -127 -51 -137 -127 -281 -174 -332 -40 -42 -44 -44 -54 -27 -18 32 -4 164 25 233 47 114 157 255 247 318 36 25 41 32 38 63 -6 66 -60 68 -167 4 -86 -50 -130 -112 -249 -347 -87 -173 -102 -196 -167 -263 -96 -95 -121 -95 -146 1 -16 58 -3 187 36 364 16 70 25 132 21 147 -6 23 -12 26 -50 26 -78 0 -106 -46 -127 -212 -14 -117 -23 -146 -70 -218 -48 -75 -152 -186 -193 -207 -27 -14 -31 -14 -42 1 -25 34 -24 94 1 223 43 221 33 291 -53 361 -25 20 -61 51 -80 68 l-35 30 -1 106 c-1 92 -4 111 -22 135 -29 39 -50 40 -83 4 -38 -40 -56 -109 -55 -206 0 -62 5 -89 22 -122 29 -55 28 -68 -9 -160 -75 -190 -202 -382 -273 -413 -22 -10 -44 -16 -48 -14 -4 3 -15 30 -24 61 -24 81 -15 275 15 360 13 35 21 79 19 100 -3 32 -7 38 -28 41 -35 4 -62 -28 -89 -108 -34 -97 -135 -300 -171 -343 -17 -20 -40 -37 -51 -37 -17 0 -19 8 -19 68 0 165 99 349 246 458 54 40 74 61 74 77 0 91 -125 78 -236 -25 -55 -51 -85 -103 -146 -252 -78 -193 -130 -271 -195 -291 -31 -9 -58 37 -79 133 -15 67 -15 89 0 290 10 119 24 264 33 322 9 58 16 145 17 194 0 74 -3 90 -18 101 -26 19 -71 1 -96 -40 -11 -18 -30 -77 -41 -130 -20 -96 -90 -272 -279 -709 -109 -252 -145 -304 -167 -243 -4 12 -6 285 -4 607 3 524 2 589 -13 624 -28 68 -61 79 -131 47z"/>
                <path d="M7249 1468 c-50 -68 -152 -285 -153 -326 -2 -86 58 -37 186 148 81 116 93 154 62 198 -25 36 -59 28 -95 -20z"/>
            </g>
        </svg>
    </div>
    <div class="preloader-text-sub">
        <p>
            {{ 'obrador artesano sin gluten'|trans|upper }}
        </p>
    </div>
    <div class="preloader-preview-area">
        <noscript><h2>This page works only if JavaScript is enabled</h2></noscript>
        <div class="ball-pulse js-only">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>