<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light fixed-top bg-light navbar-transparent bg-transparent">
    <div class="container">
        <a class="navbar-brand navbar-brand-icon nav-anchor-link" href="#">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" class="logo-brand-navbar" width="57px" height="57px" viewBox="0 0 588.000000 588.000000" preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,588.000000) scale(0.100000,-0.100000)" stroke="none">
                    <path d="M3872 5503 l-63 -4 -72 -72 c-142 -142 -229 -274 -442 -667 -76 -140 -201 -363 -280 -495 -259 -438 -311 -528 -470 -805 -381 -667 -709 -1282 -938 -1760 -30 -63 -103 -214 -162 -335 -58 -121 -113 -246 -121 -278 -20 -76 -22 -174 -5 -215 26 -62 99 -78 191 -42 28 11 95 27 148 35 178 28 154 0 391 455 114 217 241 458 283 535 103 190 735 1355 1218 2245 331 611 602 1091 661 1171 78 106 97 170 60 203 -32 29 -191 40 -399 29z"/>
                    <path d="M3627 3978 c-99 -100 -211 -274 -358 -558 -18 -36 -101 -182 -185 -325 -173 -297 -378 -668 -684 -1235 -117 -217 -248 -453 -290 -525 -102 -171 -145 -258 -180 -366 -30 -91 -56 -251 -44 -271 14 -22 100 -51 154 -51 105 0 206 74 304 223 26 40 93 164 148 277 55 112 149 293 207 401 59 108 184 339 278 512 94 173 274 507 401 742 128 235 260 471 295 525 246 381 394 670 356 694 -29 18 -114 29 -220 29 l-110 0 -72 -72z"/>
                    <path d="M3663 3097 c-81 -84 -149 -191 -273 -427 -56 -107 -110 -206 -120 -220 -27 -40 -134 -230 -325 -580 -98 -179 -239 -431 -313 -560 -202 -351 -342 -659 -342 -754 0 -49 58 -96 120 -96 107 0 243 145 365 390 26 52 76 147 110 210 34 63 86 160 115 215 112 212 363 682 385 720 12 22 50 94 85 160 133 254 194 360 284 498 144 217 228 381 237 462 l4 30 -65 6 c-36 4 -97 7 -136 8 l-71 1 -60 -63z"/>
                    <path d="M3693 2335 c-32 -23 -101 -123 -175 -255 -36 -63 -98 -171 -138 -240 -40 -69 -151 -269 -248 -445 -96 -176 -222 -399 -280 -495 -158 -263 -218 -403 -210 -498 3 -34 6 -38 46 -51 65 -20 106 -8 168 50 43 42 66 77 127 202 133 270 685 1276 761 1386 85 123 140 226 157 294 6 26 10 49 8 51 -2 2 -47 7 -99 10 -79 6 -99 4 -117 -9z"/>
                    <path d="M1467 3 c810 -2 2136 -2 2945 0 810 1 148 2 -1472 2 -1620 0 -2282 -1 -1473 -2z"/>
                </g>
            </svg>
        </a>
        <a class="navbar-brand navbar-brand-text nav-anchor-link" href="#"><span class="font-blanch">Ca la Maria</span></a>
        <button class="btn btn-secondary my-2 mr-2 my-sm-0 mobile-xl-only ml-auto btn-cart"  data-cart="empty"
                onclick="loadCatalogModal()" data-toggle="modal" data-target="#cartModal">
            <span class="cart-items"> </span>
            <span class="cart-svg-wrapper cart-empty-icon">
                <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-basket3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6h-9.21z"/>
                </svg>
            </span>
            <span class="cart-svg-wrapper cart-filled-icon">
                <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-basket3-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172z"/>
                    <path d="M2.468 15.426L.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z"/>
                </svg>
            </span>
        </button>
        <button id="navbar-main-menu-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainMenu"
                aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMainMenu">
            <div class="navbar-nav mr-auto">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link nav-anchor-link" href="#section-obrador">
                            <span class="font-blanch">{{ 'obrador'|trans }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-anchor-link" href="#section-distrib">
                            <span class="font-blanch">Catering-{{ 'distribución'|trans }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-anchor-link" href="#section-contact">
                            <span class="font-blanch">{{ 'contacto'|trans }}</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown" id="nav-catalog-dropdown">
                        <a class="nav-link nav-anchor-link" href="#section-catalogo">
                            <span class="font-blanch">{{ 'catálogo'|trans }}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="form-inline ml-auto">
                {% for lang in ['es','ca','en'] %}
                    <div class="navbar-nav nav-language-option">
                        <a class="nav-link{{ lang == info.language ? ' active' }}" href="{{ index_url }}lang/{{ lang }}">
                            {{ lang|upper }}
                        </a>
                    </div>
                {% endfor %}
                <button class="btn my-2 ml-4 my-sm-0 desktop-xl-only btn-cart" onclick="loadCatalogModal()"
                        data-cart="empty" data-toggle="modal" data-target="#cartModal">
                    <span class="cart-items"> </span>
                    <span class="cart-svg-wrapper cart-empty-icon">
                        <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-basket3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6h-9.21z"/>
                        </svg>
                    </span>
                    <span class="cart-svg-wrapper cart-filled-icon">
                        <svg width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-basket3-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172z"/>
                            <path d="M2.468 15.426L.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z"/>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
    </div>
</nav>
