{% extends 'base.html.twig' %}

{% block header %}
    {% include 'navbar-min.html.twig' %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="head-cart" class="jumbotron">
        <div class="container head-first-dark">
            <img src="{{ asset('img/logo-obrador-text-dark.svg') }}" alt="Ca La Maria" class="img-center">
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="cart-order-page">
        <div class="container pt-5">
            <h4 class="mb-3">{{ 'política de cookies'|trans|upper }}</h4>
            {% include 'legal/cookies-content.html.twig' %}
        </div>
    </div>
{% endblock %}