<div id="legal-advice">
    <p>Respetando lo establecido en la legislación vigente, <b>{{ info.company_commercial }}</b> (en adelante, también
        <b>Sitio Web</b>) se compromete a adoptar las medidas técnicas y organizativas necesarias, según el nivel de
        seguridad adecuado al riesgo de los datos recogidos y que quedan descritas en esta <b>Política de cookies</b>.
    </p>

    <h5 class="pl-4">Cookies propias</h5>
    <p>El acceso a este <b>Sitio Web</b> puede implicar la utilización de cookies. Las cookies son pequeñas cantidades de información que se almacenan en el navegador utilizado por cada <b>Usuario</b> —en los distintos dispositivos que pueda utilizar para navegar— para que el servidor recuerde cierta información que posteriormente y únicamente el servidor que la implementó leerá. Las cookies facilitan la navegación, la hacen más amigable, y no dañan el dispositivo de navegación.</p>
    <p>La información recabada a través de las cookies puede incluir la fecha y hora de visitas al <b>Sitio Web</b>, las páginas visionadas, el tiempo que ha estado en el <b>Sitio Web</b> y los sitios visitados justo antes y después del mismo. Sin embargo, ninguna cookie permite que esta misma pueda contactarse con el número de teléfono del <b>Usuario</b> o con cualquier otro medio de contacto personal. Ninguna cookie puede extraer información del disco duro del <b>Usuario</b> o robar información personal. La única manera de que la información privada del <b>Usuario</b> forme parte del archivo Cookie es que el usuario dé personalmente esa información al servidor.</p>
    <p>Las cookies que permiten identificar a una persona se consideran datos personales. Por tanto, a las mismas les será de aplicación la Política de Privacidad anteriormente descrita. En este sentido, para la utilización de las mismas será necesario el consentimiento del Usuario. Este consentimiento será comunicado, en base a una elección auténtica, ofrecido mediante una decisión afirmativa y positiva, antes del tratamiento inicial, removible y documentado.</p>
    <p><b>{{ info.company_commercial }}</b> utiliza las siguientes <b>Cookies</b> y <b>{{ 'Almacenamiento de Sesión'|trans }}</b> para mejorar la experiencia de usuario en el sitio web:</p>
    <div class="pt-2 pl-3 pr-1 pr-sm-5">
        <table class="table table-bordered table-secondary table-sm cookie-table">
            <thead>
            <tr>
                <th scope="col">{{ 'nombre'|trans|capitalize }}</th>
                <th scope="col">{{ 'descripción'|trans|capitalize }}</th>
                <th scope="col">{{ 'caducidad'|trans|capitalize }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th colspan="3"> &nbsp; &nbsp; COOKIE</th>
            </tr>
            <tr>
                <td>pma_lang</td>
                <td>Idioma: se utiliza para recordar el idioma elegido por el Usuario para consultar la información del Sitio Web</td>
                <td>90 {{ 'días'|trans }}</td>
            </tr>
            <tr>
                <td>cookieConsent</td>
                <td>Aceptación: permite o anula la posibilidad de utilizar el resto de cookies</td>
                <td>90 {{ 'días'|trans }}</td>
            </tr>
            <tr>
                <td>PHPSESSID</td>
                <td>{{ 'sesión'|trans|capitalize }}: número aleatorio, cookie de sesión generada automáticamente por el servidor</td>
                <td>{{ 'cuando finaliza la sesión de usuario'|trans }}</td>
            </tr>
            <tr>
                <th colspan="3"> &nbsp; &nbsp; SESSION</th>
            </tr>
            <tr>
                <td>cart</td>
                <td>Cesta: almacena los productos seleccionados para el proceso de compra, se elimina una vez se ha validado el pedido</td>
                <td>{{ 'cuando finaliza la sesión de usuario'|trans }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h5 class="pl-1 pl-sm-4 mt-3">Cookies de terceros</h5>
    <p>Son cookies utilizadas y gestionadas por entidades externas que proporcionan a <b>{{ info.company_commercial }}</b> servicios solicitados por este mismo para mejorar el <b>Sitio Web</b> y la experiencia del usuario al navegar en el <b>Sitio Web</b>. Los principales objetivos para los que se utilizan cookies de terceros son la obtención de estadísticas de accesos y analizar la información de la navegación, es decir, cómo interactúa el <b>Usuario</b> con el <b>Sitio Web</b>.</p>
    <p>La información que se obtiene se refiere, por ejemplo, al número de páginas visitadas, el idioma, el lugar a la que la dirección IP desde el que accede el Usuario, el número de Usuarios que acceden, la frecuencia y reincidencia de las visitas, el tiempo de visita, el navegador que usan, el operador o tipo de dispositivo desde el que se realiza la visita. Esta información se utiliza para mejorar el <b>Sitio Web</b>, y detectar nuevas necesidades para ofrecer a los Usuarios un Contenido y/o servicio de óptima calidad. En todo caso, la información se recopila de forma anónima y se elaboran informes de tendencias del <b>Sitio Web</b> sin identificar a usuarios individuales.</p>
    <p>Puede obtener más información sobre las cookies, la información sobre la privacidad, o consultar la descripción del tipo de cookies que se utiliza, sus principales características, periodo de expiración, etc. en el siguiente(s) enlace(s):</p>
    <p style="padding-left: 5px;">
        • &nbsp; https://developer.google.com/analytics
    </p>
    <p>La(s) entidad(es) encargada(s) del suministro de cookies podrá(n) ceder esta información a terceros, siempre y cuando lo exija la ley o sea un tercero el que procese esta información para dichas entidades. </p>

    <h5>Cookies de redes sociales</h5>
    <p><b>{{ info.company_commercial }}</b> incorpora plugins de redes sociales, que permiten acceder a las mismas a partir del <b>Sitio Web</b>. Por esta razón, las cookies de redes sociales pueden almacenarse en el navegador del Usuario. Los titulares de dichas redes sociales disponen de sus propias políticas de protección de datos y de cookies, siendo ellos mismos, en cada caso, responsables de sus propios ficheros y de sus propias prácticas de privacidad. El <b>Usuario</b> debe referirse a las mismas para informarse acerca de dichas cookies y, en su caso, del tratamiento de sus datos personales. Únicamente a título informativo se indican a continuación los enlaces en los que se pueden consultar dichas políticas de privacidad y/o de cookies:</p>

    <p style="padding-left: 5px;">
        • &nbsp; Whatsapp: https://www.whatsapp.com/privacy<br>
        • &nbsp; Facebook: https://www.facebook.com/policies/cookies/<br>
        • &nbsp; Instagram: https://help.instagram.com/1896641480634370?ref=ig<br>
        • &nbsp; LinkedIn: https://www.linkedin.com/legal/cookie-policy?trk=hp-cookies
    </p>

    <h5 class="pl-4">Deshabilitar, rechazar y eliminar cookies</h5>
    <p>El <b>Usuario</b> puede deshabilitar, rechazar y eliminar las cookies —total o parcialmente— instaladas en su dispositivo mediante la configuración de su navegador (entre los que se encuentran, por ejemplo, Chrome, Firefox, Safari, Explorer). En este sentido, los procedimientos para rechazar y eliminar las cookies pueden diferir de un navegador de Internet a otro. En consecuencia, el <b>Usuario</b> debe acudir a las instrucciones facilitadas por el propio navegador de Internet que esté utilizando. En el supuesto de que rechace el uso de cookies —total o parcialmente— podrá seguir usando el <b>Sitio Web</b>, si bien podrá tener limitada la utilización de algunas de las prestaciones del mismo.</p>
    <br><hr>
</div>