<div id="legal-advice">
    <p>Respetando lo establecido en la legislación vigente, <b>{{ info.company_commercial }}</b> se compromete a adoptar las medidas técnicas y organizativas necesarias, según el nivel de
        seguridad adecuado al riesgo de los datos recogidos y que quedan descritas en esta <b>Política de
        privacidad y protección de datos</b>.
    </p>

    <h5 class="pl-1 pl-sm-4 pt-2">Identidad del responsable del tratamiento de los datos personales</h5>
    <p>Para el tratamiento de los datos personales recogidos en la web <b>{{ info.web_site }}</b>
        (en adelante <b>{{ info.company_commercial }}</b>, o también <b>{{ 'Sitio Web'|trans }}</b>),
        consta como responsable <b>{{ info.company_official }}</b>, con CIF {{ info.CIF }}, inscrita en el
        {{ info.registrar_data }} y provista de los siguientes datos de contacto:</p>

    <h5 class="pl-1 pl-sm-4 pt-2">Contacto</h5>
    <p>
        CIF: <b>{{ info.CIF }}</b><br>
        {{ 'dirección'|trans|capitalize }}: <b>{{ info.address[0] }}, {{ info.address[1] }}</b><br>
        {{ 'teléfono'|trans|capitalize }}: <b>{{ info.mobile_text }}</b><br>
        {{ 'correo electrónico'|trans|capitalize }}: <b>{{ info.official_email }}</b>
    </p>

    <h5 class="pl-1 pl-sm-4 pt-2">Leyes que incorpora esta política de privacidad</h5>
    <p>Esta política de privacidad está adaptada a la normativa española y europea vigente en materia de protección de datos personales en internet. En concreto, la misma respeta las siguientes normas:</p>
    <ul>
        <li>El Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos (RGPD).</li>
        <li>La Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales (LOPD-GDD).</li>
        <li>El Real Decreto 1720/2007, de 21 de diciembre, por el que se aprueba el Reglamento de desarrollo de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal (RDLOPD).</li>
        <li>La Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI-CE).</li>
    </ul>
    <h5 class="pl-1 pl-sm-4 pt-2">Registro de Datos de Carácter Personal</h5>
    <p>En cumplimiento de lo establecido en el RGPD y la LOPD-GDD, le informamos que los datos personales recabados por <b>{{ info.company_commercial }}</b> mediante los formularios extendidos en sus páginas quedarán incorporados y serán tratados en nuestro ficheros con el fin de poder facilitar, agilizar y cumplir los compromisos establecidos entre <b>{{ info.company_commercial }}</b> y el <b>Usuario</b> o el mantenimiento de la relación que se establezca en los formularios que este rellene, o para atender una solicitud o consulta del mismo. Asimismo, de conformidad con lo previsto en el RGPD y la LOPD-GDD, salvo que sea de aplicación la excepción prevista en el artículo 30.5 del RGPD, se mantiene un registro de actividades de tratamiento que especifica, según sus finalidades, las actividades de tratamiento llevadas a cabo y las demás circunstancias establecidas en el RGPD.</p>

    <h5 class="pl-1 pl-sm-4 pt-2">Principios aplicables al tratamiento de los datos personales</h5>
    <p>El tratamiento de los datos personales del <b>Usuario</b> se someterá a los siguientes principios recogidos en el artículo 5 del RGPD y en el artículo 4 y siguientes de la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales:</p>
    <ul>
        <li>Principio de licitud, lealtad y transparencia: se requerirá en todo momento el consentimiento del <b>Usuario</b> previa información completamente transparente de los fines para los cuales se recogen los datos personales.</li>
        <li>Principio de limitación de la finalidad: los datos personales serán recogidos con fines determinados, explícitos y legítimos.</li>
        <li>Principio de minimización de datos: los datos personales recogidos serán únicamente los estrictamente necesarios en relación con los fines para los que son tratados.</li>
        <li>Principio de exactitud: los datos personales deben ser exactos y estar siempre actualizados.</li>
        <li>Principio de limitación del plazo de conservación: los datos personales solo serán mantenidos de forma que se permita la identificación del <b>Usuario</b> durante el tiempo necesario para los fines de su tratamiento.</li>
        <li>Principio de integridad y confidencialidad: los datos personales serán tratados de manera que se garantice su seguridad y confidencialidad.</li>
        <li>Principio de responsabilidad proactiva: el Responsable del tratamiento será responsable de asegurar que los principios anteriores se cumplen.</li>
    </ul>
    <h5 class="pl-1 pl-sm-4 pt-2">Categorías de datos personales</h5>
    <p>Las categorías de datos que se tratan en <b>{{ info.company_commercial }}</b> son únicamente datos identificativos. En ningún caso, se tratan categorías especiales de datos personales en el sentido del artículo 9 del RGPD.</p>
    <h5 class="pl-1 pl-sm-4 pt-2">Base legal para el tratamiento de los datos personales</h5>
    <p>La base legal para el tratamiento de los datos personales es el consentimiento. <b>{{ info.company_commercial }}</b> se compromete a recabar el consentimiento expreso y verificable del <b>Usuario</b> para el tratamiento de sus datos personales para uno o varios fines específicos.</p>
    <p>El <b>Usuario</b> tendrá derecho a retirar su consentimiento en cualquier momento. Será tan fácil retirar el consentimiento como darlo. Como regla general, la retirada del consentimiento no condicionará el uso del <b>Sitio Web</b>.</p>
    <p>En las ocasiones en las que el <b>Usuario</b> deba o pueda facilitar sus datos a través de formularios para realizar consultas, solicitar información o por motivos relacionados con el contenido del <b>Sitio Web</b>, se le informará en caso de que la cumplimentación de alguno de ellos sea obligatoria debido a que los mismos sean imprescindibles para el correcto desarrollo de la operación realizada.</p>


    <h5 class="pl-1 pl-sm-4 pt-2">Fines para el uso de los datos personales</h5>
    <p><b>{{ info.company_commercial }}</b> utilizará los datos personales recabados para alguno o varios de los siguientes propósitos</p>
    <ul>
        <li>
            Para responder al <b>Usuario</b> mediante correo electrónico (opcionalmente por llamada telefónica) en el caso
            de consultas realizadas en el formulario del <b>Sitio Web</b>
        </li>
        <li>
            Para la incorporación de datos del <b>Usuario</b> requeridos legalmente para la facturación en la tienda online.
        </li>
        <li>
            Para la realización de envíos de la tienda online a la dirección especificada por el <b>Usuario</b>.
        </li>
        <li>
            Para el envío de información sobre ofertas y promociones a aquel <b>Usuario</b> que previamente se haya inscrito a la newsletter.
        </li>
    </ul>

    <h5 class="pl-1 pl-sm-4 pt-2">Períodos de retención de los datos personales </h5>
    <p>Sus datos serán conservados mientras dure la finalidad para la que fueron recogidos, la relación contractual y/o comercial que mantengamos, o hasta que solicite su supresión, así como el tiempo necesario para cumplir las obligaciones legales pertinentes.</p>

    <h5 class="pl-1 pl-sm-4 pt-2">Destinatarios de los datos personales </h5>
    <p>Los datos personales del <b>Usuario</b> no serán compartidos con terceros.</p>
    <p>En cualquier caso, en el momento en que se obtengan los datos personales, se informará al <b>Usuario</b> acerca de los destinatarios o las categorías de destinatarios de los datos personales.</p>

    <h5 class="pl-1 pl-sm-4 pt-2">Datos personales de menores de edad</h5>
    <p>Respetando lo establecido en los artículos 8 del RGPD y 7 de la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales, solo los mayores de 14 años podrán otorgar su consentimiento para el tratamiento de sus datos personales de forma lícita por <b>{{ info.company_commercial }}</b>. Si se trata de un menor de 14 años, será necesario el consentimiento de los padres o tutores para el tratamiento, y este solo se considerará lícito en la medida en la que los mismos lo hayan autorizado.</p>

    <h5 class="pl-1 pl-sm-4 pt-2">Secreto y seguridad de los datos personales</h5>
    <p><b>{{ info.company_commercial }}</b> se compromete a adoptar las medidas técnicas y organizativas necesarias, según el nivel de seguridad adecuado al riesgo de los datos recogidos, de forma que se garantice la seguridad de los datos de carácter personal y se evite la destrucción, pérdida o alteración accidental o ilícita de datos personales transmitidos, conservados o tratados de otra forma, o la comunicación o acceso no autorizados a dichos datos. </p>
    <p>El <b>Sitio Web</b> cuenta con un certificado TLS (Transport Layer Security), que asegura que los datos personales se transmiten de forma segura y confidencial, al ser la transmisión de los datos entre el servidor y el <b>Usuario</b>, y en retroalimentación, totalmente cifrada o encriptada.</p>
    <p>Sin embargo, debido a que <b>{{ info.company_commercial }}</b> no puede garantizar la inexpugnabilidad de internet ni la ausencia total de hackers u otros que accedan de modo fraudulento a los datos personales, el Responsable del tratamiento se compromete a comunicar al <b>Usuario</b> sin dilación indebida cuando ocurra una violación de la seguridad de los datos personales que sea probable que entrañe un alto riesgo para los derechos y libertades de las personas físicas. Siguiendo lo establecido en el artículo 4 del RGPD, se entiende por violación de la seguridad de los datos personales toda violación de la seguridad que ocasione la destrucción, pérdida o alteración accidental o ilícita de datos personales transmitidos, conservados o tratados de otra forma, o la comunicación o acceso no autorizados a dichos datos.</p>
    <p>Los datos personales serán tratados como confidenciales por el Responsable del tratamiento, quien se compromete a informar de y a garantizar por medio de una obligación legal o contractual que dicha confidencialidad sea respetada por sus empleados, asociados, y toda persona a la cual le haga accesible la información.</p>

    <h5 class="pl-1 pl-sm-4 pt-2">Derechos derivados del tratamiento de los datos personales</h5>
    <p>El <b>Usuario</b> tiene sobre <b>{{ info.company_commercial }}</b> y podrá, por tanto, ejercer frente al Responsable del tratamiento los siguientes derechos reconocidos en el RGPD y en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales:</p>
    <ul>
        <li><em>Derecho de acceso</em>: Es el derecho del <b>Usuario</b> a obtener confirmación de si <b>{{ info.company_commercial }}</b> está tratando o no sus datos personales y, en caso afirmativo, obtener información sobre sus datos concretos de carácter personal y del tratamiento que <b>{{ info.company_commercial }}</b> haya realizado o realice, así como, entre otra, de la información disponible sobre el origen de dichos datos y los destinatarios de las comunicaciones realizadas o previstas de los mismos.</li>
        <li><em>Derecho de rectificación</em>: Es el derecho del <b>Usuario</b> a que se modifiquen sus datos personales que resulten ser inexactos o, teniendo en cuenta los fines del tratamiento, incompletos.</li>
        <li><em>Derecho de supresión ("el derecho al olvido")</em>: Es el derecho del <b>Usuario</b>, siempre que la legislación vigente no establezca lo contrario, a obtener la supresión de sus datos personales cuando estos ya no sean necesarios para los fines para los cuales fueron recogidos o tratados; el <b>Usuario</b> haya retirado su consentimiento al tratamiento y este no cuente con otra base legal; el <b>Usuario</b> se oponga al tratamiento y no exista otro motivo legítimo para continuar con el mismo; los datos personales hayan sido tratados ilícitamente; los datos personales deban suprimirse en cumplimiento de una obligación legal; o los datos personales hayan sido obtenidos producto de una oferta directa de servicios de la sociedad de la información a un menor de 14 años. Además de suprimir los datos, el Responsable del tratamiento, teniendo en cuenta la tecnología disponible y el coste de su aplicación, deberá adoptar medidas razonables para informar a los responsables que estén tratando los datos personales de la solicitud del interesado de supresión de cualquier enlace a esos datos personales.</li>
        <li><em>Derecho a la limitación del tratamiento</em>: Es el derecho del <b>Usuario</b> a limitar el tratamiento de sus datos personales. El <b>Usuario</b> tiene derecho a obtener la limitación del tratamiento cuando impugne la exactitud de sus datos personales; el tratamiento sea ilícito; el Responsable del tratamiento ya no necesite los datos personales, pero el <b>Usuario</b> lo necesite para hacer reclamaciones; y cuando el <b>Usuario</b> se haya opuesto al tratamiento.</li>
        <li><em>Derecho a la portabilidad de los datos</em>: En caso de que el tratamiento se efectúe por medios automatizados, el <b>Usuario</b> tendrá derecho a recibir del Responsable del tratamiento sus datos personales en un formato estructurado, de uso común y lectura mecánica, y a transmitirlos a otro responsable del tratamiento. Siempre que sea técnicamente posible, el Responsable del tratamiento transmitirá directamente los datos a ese otro responsable.</li>
        <li><em>Derecho de oposición</em>: Es el derecho del <b>Usuario</b> a que no se lleve a cabo el tratamiento de sus datos de carácter personal o se cese el tratamiento de los mismos por parte de <b>{{ info.company_commercial }}</b>.</li>
        <li><em>Derecho a no ser </em><em>a no ser objeto de una decisión basada únicamente en el tratamiento </em><em>automatizado, incluida la elaboración de perfiles</em>: Es el derecho del <b>Usuario</b> a no ser objeto de una decisión individualizada basada únicamente en el tratamiento automatizado de sus datos personales, incluida la elaboración de perfiles, existente salvo que la legislación vigente establezca lo contrario.</li>
    </ul>
    <p>Así pues, el <b>Usuario</b> podrá ejercitar sus derechos mediante comunicación escrita dirigida al Responsable del tratamiento con la referencia "RGPD-{{ info.web_domain }}", especificando:</p>
    <ul>
        <li>Nombre, apellidos del <b>Usuario</b> y copia del DNI. En los casos en que se admita la representación, será también necesaria la identificación por el mismo medio de la persona que representa al <b>Usuario</b>, así como el documento acreditativo de la representación. La fotocopia del DNI podrá ser sustituida, por cualquier otro medio válido en derecho que acredite la identidad.</li>
        <li>Petición con los motivos específicos de la solicitud o información a la que se quiere acceder.</li>
        <li>Domicilio a efecto de notificaciones.</li>
        <li>Fecha y firma del solicitante.</li>
        <li>Todo documento que acredite la petición que formula.</li>
    </ul>
    <p>Esta solicitud y todo otro documento adjunto podrá enviarse a la siguiente dirección y/o correo electrónico:</p>
    <p class="pl-4">
        Dirección postal: <b>{{ info.address[0] }}, {{ info.address[1] }}</b><br>
        Correo electrónico: <b>{{ info.official_email }}</b>
    </p>

    <h5 class="pl-1 pl-sm-4 pt-2">Enlaces a sitios web de terceros</h5>
    <p>El <b>Sitio Web</b> puede incluir hipervínculos o enlaces que permiten acceder a páginas web de terceros distintos de <b>{{ info.company_commercial }}</b>, y que por tanto no son operados por <b>{{ info.company_commercial }}</b>. Los titulares de dichos sitios web dispondrán de sus propias políticas de protección de datos, siendo ellos mismos, en cada caso, responsables de sus propios ficheros y de sus propias prácticas de privacidad.</p>

    <h5 class="pl-1 pl-sm-4 pt-2">Reclamaciones ante la autoridad de control</h5>
    <p>En caso de que el <b>Usuario</b> considere que existe un problema o infracción de la normativa vigente en la forma en la que se están tratando sus datos personales, tendrá derecho a la tutela judicial efectiva y a presentar una reclamación ante una autoridad de control, en particular, en el Estado en el que tenga su residencia habitual, lugar de trabajo o lugar de la supuesta infracción. En el caso de España, la autoridad de control es la Agencia Española de Protección de Datos (http://www.agpd.es). </p>

    <h5 class="pt-3"> ACEPTACIÓN Y CAMBIOS EN ESTA POLÍTICA DE PRIVACIDAD </h5>
    <p>Es necesario que el <b>Usuario</b> haya leído y esté conforme con las condiciones sobre la protección de datos de carácter personal contenidas en esta Política de Privacidad y de Cookies, así como que acepte el tratamiento de sus datos personales para que el Responsable del tratamiento pueda proceder al mismo en la forma, durante los plazos y para las finalidades indicadas. El uso del <b>Sitio Web</b> implicará la aceptación de la Política de Privacidad y de Cookies del mismo.</p>
    <p><b>{{ info.company_commercial }}</b> se reserva el derecho a modificar su Política de Privacidad y de Cookies, de acuerdo a su propio criterio, o motivado por un cambio legislativo, jurisprudencial o doctrinal de la Agencia Española de Protección de Datos. Los cambios o actualizaciones de esta Política de Privacidad y de Cookies  serán notificados de forma explícita al <b>Usuario</b>. </p>
    <p>Esta <b>Política de privacidad y protección de datos</b> fue actualizada el día <span id="span_id_fecha_redaccion" class="encours">1 de diciembre 2020</span> para adaptarse al Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos (RGPD) y a la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales.</p>
    <br><hr>
</div>