<div id="legal-advice">
    <p>
        Las presentes condiciones de venta regulan regulan el proceso de venta en linea de la web <b>{{ info.web_site }}</b>
        (en adelante <b>{{ info.company_commercial }}</b>), titularidad de <b>{{ info.company_official }}</b>, con CIF {{ info.CIF }}
        y los siguientes datos de contacto:
    </p>
    <p>
        {{ 'dirección'|trans|capitalize }}: <b>{{ info.address[0] }}, {{ info.address[1] }}</b><br>
        {{ 'teléfono'|trans|capitalize }}: <b>{{ info.mobile_text }}</b><br>
        {{ 'correo electrónico'|trans|capitalize }}: <b>{{ info.official_email }}</b>
    </p>
    <h5 class="pl-1 pl-sm-4 pt-2">Prductos, precios y tarifas</h5>
    <p>
        La contratación de nuestros productos supone la aceptación plena y sin reservas de las presentes condiciones generales,
        así como lo dispuesto en <b>Política de Privacidad</b> de <b>{{ info.company_commercial }}</b> que, junto al pedido
        realizado por el cliente, constituyen el contrato entre ambas partes. A efectos de este contrato, se entenderá como
        <b>{{ 'comprador'|trans|capitalize }}</b> o <b>{{ 'usuario'|trans|capitalize }}</b>, a la parte compradora de esta
        relación contractual. El <b>{{ 'usuario'|trans|capitalize }}</b> declara ser mayor de edad y estar en todo caso
        plenamente capacitado y facultado para contratar de acuerdo con la legislación aplicable
    </p>
    <p>
        Los productos ofrecidos por <b>{{ info.company_commercial }}</b>, junto con sus características y precio aparecerán en
        pantalla. El precio de los productos podrá estar indicado para unidades, para packs de unidades. Los precios indicados
        en pantalla son en euros e incluyen el IVA y cualquier otro impuesto que fuera de aplicación y serán en todo momento
        los vigentes.
    </p>
    <p>
        Los importes de transporte se calculan para cada caso sobre la base del Código postal de entrega y a la tarifa aplicada
        en función del importe total de compra incluyendo el IVA. Estos importes de transporte se reflejan en eo apartado
        <b>Logística y condiciones de entrega</b> del presente documento.
    </p>
    <p>
        Las imágenes que acompañan a los productos ofrecidos son ilustrativas ya que como todos nuestros
        productos están elaborados de forma artesanal, pueden haber pequeñas diferencias.
    </p>
    <p>
        <b>{{ info.company_commercial }}</b>, podrá en cualquier momento añadir nuevos productos a los incluidos en la Web,
        entendiéndose, salvo que se disponga otra cosa, que los nuevos productos se regirán por lo dispuesto en los
        <b>Términos y Condiciones Generales</b> vigentes en cada momento.
    </p>
    <p>
        <b>{{ info.company_commercial }}</b>, se reserva el derecho a dejar de facilitar el acceso, en cualquier momento
        y sin previo aviso, a cualquiera de los productos ofrecidos en la web por motivos de disponibilidad, temporalidad
        o modificaciones en el surtido de productos en el servicio de venta online.
    </p>
    <p>
        Los precios de compra serán los vigentes en el momento en que se realiza el pedido. El importe de la compra podrá
        no coincidir con el importe del pedido por la imposibilidad de entregar los productos.
    </p>
    <h5 class="pl-1 pl-sm-4 pt-2">Proceso de compra</h5>
    <p>
        Para proceder a la compra de productos, el <b>{{ 'usuario'|trans|capitalize }}</b> deberá añadir los productos que
        desea adquirir en la <b>{{ 'cesta'|trans|capitalize }}</b>, según las indicaciones recogidas en pantalla, una vez
        elegidos todos los productos introducirá los datos de facturación así como los datos de envío en caso de que la zona
        seleccionada esté incluido en el area de cobertura logística. A continuación validará la fecha entrega y, por último,
        aceptará la compra, lo que supone la lectura y aceptación irrevocable de todas y cada una de las presentes condiciones
        y términos generales.
    </p>
    <p>
        Nuestra plataforma es compatible con la mayoría de los navegadores de Internet, si bien deberá configurar su equipo para
        que acepte el uso de <b>javascript</b> y de <b>cookies</b>, en especial para procesar la compra y efectuar los pagos a
        través de la pasarela correspondiente.
    </p>
    <p>
        Para poder comprar en <b>{{ info.company_commercial }}</b>, el <b>{{ 'usuario'|trans|capitalize }}</b> podrá utilizar los
        siguientes métodos de pago:
    </p>
    <ul>
        <li>
            Tarjeta de crédito o débito. Se admitirán aquellas indicadas en función de las aceptadas por la pasarela
            <b>Redsýs</b> prodiedad de <b>Redsys Servicios de Procesamiento S.L.</b>
        </li>
    </ul>
    <p>
        Los pedidos no se tramitarán si el pago del precio, impuestos y demás gastos aplicables no se han satisfecho y recibido
        íntegramente. Producida la contratación, el comprador recibirá una confirmación de la operación efectuada por correo
        electrónico a la dirección indicada en el proceso, en el plazo máximo de 24 horas desde dicho momento. En la confirmación
        de la operación se indicarán los productos adquiridos, su descripción, precio y gastos.
    </p>
    <p>
        En caso de cargos fraudulentos en su tarjeta, el <b>{{ 'consumidor'|trans|capitalize }}</b> titular de la misma podrá
        exigir la inmediata anulación del cargo. En tal caso, las correspondientes anotaciones de adeudo y reabono se efectuarán
        con la mayor brevedad, si bien <b>{{ info.company_commercial }}</b> podrá exigir justificación suficiente de denuncia,
        anulación o bloqueo de tarjeta, en caso de pérdida, robo o extravío de la tarjeta del usuario, o aquellos datos que
        considere necesarios a fin de acreditar la posible existencia de un cargo fraudulento o indebido.
    </p>
    <p>
        Si la compra hubiese sido efectivamente realizada por el consumidor y usuario titular de la tarjeta, <b>{{ info.company_commercial }}</b>
        tendrá derecho a exigir el resarcimiento de los daños y perjuicios ocasionados como consecuencia de dicha anulación.
    </p>
    <p>
        Efectuada la contratación, el comprador no podrá cancelar el contrato, quedando obligado al pago del precio, impuestos
        y gastos correspondientes, a la recepción de los pedidos y al cumplimiento de las demás obligaciones contractualmente
        establecidas. De acuerdo con la legislación aplicable, el desistimiento del contrato está expresamente excluido.
    </p>
    <p>
        Todos los pedidos se tramitarán una vez verificado el pago correspondiente y de acuerdo con las condiciones epecificadas
        en el apartado de <b>Logística y condiciones de entrega</b>.
    </p>
    <h5 class="pl-1 pl-sm-4 pt-2">Seguridad y protección al Usuario en los pagos</h5>
    <p>
        Para su seguridad en el pago mediante tarjeta de crédito, <b>{{ info.company_commercial }}</b> confía en la pasarela de
        pago de Redsýs. Los datos bancarios introducidos son encriptados y transmitidos de forma segura a los servidores de la
        entidad bancaria y, posteriormente, son verificados con el banco emisor para evitar posibles fraudes y abusos.
        <b>{{ info.company_commercial }}</b>, en ningún momento, almacenará ni tendrá acceso a los datos de tarjeta de crédito.
    </p>
    <p>
        Este procedimiento de introducción de datos está garantizado por la tecnología de encriptación <b>TLS</b> (Transport
        Layer Security v1.2, versión actualizada y más segura del certificado  <b>SSL</b> Secure Socket Layer), uno de los sistemas de
        protección más avanzados y eficaces actualmente disponibles, gracias al cual, ningún tercero tendrá acceso, vía Internet,
        a la información relativa a los datos bancarios introducidos por el <b>Usuario</b>.
    </p>
    <p>
        Únicamente la Entidad Financiera propietaria de la pasarela de pago tiene acceso a los datos bancarios vinculados al
        medios de pago, por lo que <b>{{ info.company_commercial }}</b> no conoce ni registra los datos mencionados, ni
        durante la operación de pago ni en cualquier otro momento.
    </p>
    <p>
        Adicionalmente, para el cumplimiento de la normativa <b>PSD2</b> (directiva europea que tiene como objetivo mejorar la
        seguridad y reforzar la autenticación del cliente en las operaciones de comercio electrónico)la pasarela de pago podrá
        requerir la autenticación del Titular de la tarjeta de crédito mediante el protocolo 3DSecure. Este tipo de integración
        está preparada para utilizar las diferentes versiones de dicho protocolo, tanto la versión <b>3DSv1</b> como la <b>EMV
        3DS2</b>.
    </p>
    <p>
        Para garantizar la mayor seguridad a nuestros clientes, <b>{{ info.company_commercial }}</b> se reserva el derecho de
        solicitar los documentos correspondientes a la identidad y medio de pago del <b>Usuario</b>, previo a la entrega del
        pedido.
    </p>
    <h5 class="pl-1 pl-sm-4 pt-2">Logística y condiciones de entrega</h5>
    <p>
        La cobertura del servicio de entrega a domicilio y compra en línea se encuentra sujeta a la disponibilidad de
        cobertura logística que <b>{{ info.company_commercial }}</b> tenga en disposición para cada territorio. Para determinar
        la disponibilidad el <b>{{ 'usuario'|trans|capitalize }}</b> introducirá el código postal, que se utilizará para conocer
        el municipio a donde se debe recibir el envío. En caso de que el municipio esté dentro de la zona de cobertura
        logística, se habilitará la opción para realizar el envío.
    </p>
    <p>
        Tras introducir el código postal, que determina la posibilidad de hacer envío a domicilio o no, se mostrarán las
        opciones para seleccionar la fecha de entrega, ya sea recogida en tienda o entrega a domicilio. Para asegurar la
        disponibilidad de todos los productos del pedido, y de los ingredientes necesarios para su proceso, los pedidos se
        realizarán con <b>{{ 'dos días de antelación'|trans }}</b> al de la fecha de entrega. En el caso de entrega a domicilio los envíos a
        domicilio solamente se efectuarán en <b>{{ 'Friday'|trans|capitalize }}</b>. El precio del envío a domicilio, en
        el caso de disponibilidad ogística, es de 4,95€. En caso de que el precio del total de los productos del pedido
        supere los 50€ se podrá aplicar una rebaja total o parcial.
    </p>
    <p>
        Tanto la(s) zona(s) incluidas en la disponibilidad de cobertura logística como los días en los que se realizan los
        envíos a domicilio, podrán ser modificadas en un futuro por <b>{{ info.company_commercial }}</b> en función de la
        capacidad logística. Asímismo el precio del envío, los descuentos aplicables y las condiciones para dicho descuento
        también podrán ser modificados por <b>{{ info.company_commercial }}</b> en un futuro. Estos cambios nunca afectarán
        a los pedidos ya confirmados pendientes de entrega.
    </p>
    <p>
        <b>{{ info.company_commercial }}</b>, previa comunicación al <b>Usuario</b>, se reserva el derecho de cancelar un pedido
        si considera que no se dan las condiciones adecuadas para realizar un transporte viable, dado que tratamos algunos
        productos fríos (pastelería o catering) y es fundamental no romper la cadena de frío entre nuestras instalaciones y
        el domicilio del cliente.
    </p>
    <p>
        Igualmente, <b>{{ info.company_commercial }}</b> se reserva el derecho a cancelar cualquier pedido cuando lo considere
        oportuno, comunicando al Usuario y justificando la decisión de no servir el pedido por causas ajenas a su voluntad
        o de fuerza mayor, como pueden ser accidentes de tráfico, climatología adversa o robos del transporte o de las
        mercancías. En este casos, daremos opción al cliente a recibir un nuevo pedido similar tan pronto se solucionen las
        causas ajenas.
    </p>
    <h5 class="pl-1 pl-sm-4 pt-2">Política de cancelación y reembolso</h5>
    <p>
        De acuerdo con la legislación sobre consumidores (Ley General para la Defensa de los Consumidores y Usuarios, Ley 3/2014
        de 27 de marzo) en sus artículos sobre el Derecho de desistimiento (Artículo 102) y Excepciones al derecho de desistimiento
        (Artículo 103), en la medida en que nuestros productos pueden deteriorarse y caducan con rapidez, no está permitido en
        ningún caso el ejercicio de dicho Derecho de desestimiento. En este sentido, efectuada la contratación y confirmada por
        correo electrónico de acuerdo con lo previsto en el apartado de <b>Proceso de compra</b>, no se admitirá devolución,
        modificación o cancelación alguna.
    </p>
    <p>
        En el caso de que <b>{{ info.company_commercial }}</b> cancele, total o parcialmente, un pedido por alguno de los
        motivos descritos en el apartado <b>Logística y condiciones de entrega</b>, o porque no haya disponibilidad de alguno
        de los productos solicitados por el <b>{{ 'usuario'|trans|capitalize }}</b>, <b>{{ info.company_commercial }}</b>
        informará al <b>{{ info.company_commercial }}</b> de los cambios en el pedido y reembolsará la cantidad proporcional
        o el del pedido de acuerdo con el <b>{{ 'usuario'|trans|capitalize }}</b>.
    </p>
    <h5 class="pl-1 pl-sm-4 pt-2">Responsabilidad y garantía</h5>
    <p>
        <b>{{ info.company_commercial }}</b> garantiza y responde de la calidad y perfecto estado de sus productos, del
        cumplimiento de sus especificaciones en cuanto a ingredientes, procesado y demás información de etiquetado, en especial
        en cuanto a la ausencia de gluten y de lactosa. En caso de que un producto esté visiblemente en mal estado o haya
        sufrido algún desperfecto, deberá contactar con nosotros inmediatamente, enviarnos una fotografía y procederemos a su
        sustitución.
    </p>
    <p>
        Como se indica en apartado <b>Producto, precios y tarifas</b>, las imágenes que aparecen en <b>{{ info.company_commercial }}</b>
        son ilustrativas, por lo que podría haber ligeras variaciones en sus colores, composición y presentación. Salvo en los
        casos en que se envíe un producto sustancialmente distinto del solicitado, <b>{{ info.company_commercial }}</b> no respondá
        por las variaciones indicadas.
    </p>
    <p>
        <b>{{ info.company_commercial }}</b> no será responsable de los incumplimientos de este contrato, daños y perjuicios en
        caso de falta de suministro, indisponibilidad de productos, incendio, huelga, caso fortuito, fuerza mayor, y en general
        cualesquiera circunstancias que dependan de transportistas, medios de pago y comunicaciones electrónicas de terceros
        con los que <b>{{ info.company_commercial }}</b> no haya contratado.
    </p>
    <p>
        Asimismo,<b>{{ info.company_commercial }}</b> no garantiza la permanente disponibilidad de la información o contenidos,
        la ausencia de errores o imprecisiones, la interrupción del servicio, incluyendo el funcionamiento de este sitio web,
        por motivos de mantenimiento, actualización, seguridad o por circunstancias que dependan de terceros, sin que corresponda
        reclamación alguna por este concepto por los daños o perjuicios directos o indirectos que se deriven del mismo.
    </p>
    <h5 class="pl-1 pl-sm-4 pt-2">Resolución de litigios en línea</h5>
    <p>
        En caso de conflicto entre el <b>Usuario</b> y <b>{{ info.company_commercial }}</b> respecto al contrato de compra y sin
        perjuicio de la legislación vigente para este contrato descrita en el apartado <b>Ley aplicable y jurisdicción</b>,
        <b>{{ info.company_commercial }}</b> informa de que el <b>Usuario</b> podrá acceder a la <b>RLL</b> (Resolución de
        litigios en línea) tal como se describe a continuación:
    </p>
    <ul>
        <li>
            Resolución de litigios en línea en materia de consumo conforme al Art. 14.1 del Reglamento (UE) 524/2013: La
            Comisión Europea facilita una plataforma de resolución de litigios en línea, que se encuentra disponible en el
            siguiente enlace <a target="_blank" href="http://ec.europa.eu/consumers/odr">http://ec.europa.eu/consumers/odr</a>.
        </li>
    </ul>
    <h5 class="pl-1 pl-sm-4 pt-2">Política de privacidad y datos</h5>
    <p>
        <b>{{ info.company_commercial }}</b> almacenará y gestionará datos de carácter personal relativos a los <b>Usuarios</b>
        y <b>Clientes</b> que contraigan un contrato de compra, de acuerdo con lo previsto en las legislaciones española y europea
        sobre protección de datos, y descritos con mayor detalle en la
        <a href="#legalModal"
           onclick="loadLegalContent('privacy', '{{ 'política de privacidad y protección de datos'|trans|capitalize }}')">
            {{ messages.politica_privacidad|trans|capitalize }}</a>
        de la web <b>{{ info.company_commercial }}</b>. Todos los datos solicitados durante el proceso de compra son imprescindibles
        para que el proceso compra pueda ser completado correctamente y por lo tanto dichos datos serán de carácter obligatorio.
    </p>
    <h5 class="pl-1 pl-sm-4 pt-2">Modificaciones</h5>
    <p>
        <b>{{ info.company_commercial }}</b> se reserva la facultad de efectuar, en cualquier momento, modificaciones y
        actualizaciones en la prestación de los servicios, sus productos y contenidos, disponibilidad y presentación. Asímismo,
        <b>{{ info.company_commercial }}</b> también podrá actualizar el contenido de las presentes condiciones de venta,
        precios, disponibilidad logística, medios de pago y gastos.
    </p>
    <h5 class="pl-1 pl-sm-4 pt-2">Ley aplicable y jurisdicción</h5>
    <p>
        Este contrato se regirá e interpretará conforme a la legislación española y europea en aquello que no esté expresamente
        establecido. Las partes contratantes, se someten, sin perjuicio de lo especificado en el apartado <b>Resolución de
        litigios en línea</b> y salvo en los casos en que no esté legalmente permitido, a la jurisdicción y competencia de los
        Juzgados y Tribunales de la ciudad de Barcelona (España), para la resolución de cualquier cuestión que pudiera suscitarse
        en relación con el mismo.
    </p>
    <br><hr>
</div>