{% extends 'admin/admin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/glyphicons.css') }}">
{% endblock %}

{% block body %}
    <div class="main-admin-body container">
        <h4 class="mb-3">{{ h2title }}</h4>
        <form method="post" action="{{ action }}" class="form-group" enctype="multipart/form-data">
            <input type="hidden" name="page" value="{{ page }}" />
            <div class="row">
                <div class="col-12 col-xl-8">
                    <div class="row">
                        <div class="col-12 col-md-3 pr-md-0">
                            <label for="inputRef" class="admin-input-label">{{ info1.ref.definition }}</label>
                            <input class="form-control form-control-sm" type="text"
                                   id="inputRef" name="ref" value="{{ info1.ref.value }}"
                                   aria-describedby="inputRefHelp" required />
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="inputSection" class="admin-input-label">{{ info1.section.definition }}</label>
                            <select class="form-control form-control-sm"
                                    id="inputSection" name="section" required>
                                <option disabled >Selecciona una categoria</option>
                                {% for option in info1.section.options %}
                                    <option {{ option is same as info1.section.value ? 'selected' : '' }}>{{ option }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-md-6 pl-md-0">
                            <label for="inputName" class="admin-input-label">{{ info1.name.definition }}</label>
                            <input class="form-control form-control-sm" type="text"
                                   id="inputName" name="name" value="{{ info1.name.value }}"
                                   aria-describedby="inputRefHelp" required />
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="true" id="inputPublish" name="publish"
                                       {% if info1.publish.value is same as true %} checked {% endif %} >
                                <label for="inputPublish" class="form-check-label publish-label">{{ info1.publish.definition }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="row">
                    {% for key, value in info2 %}
                        <div class="{{ value.col ?? 'col-12 col-md-3' }} pr-md-0">
                            <label for="input{{ key }}" class="admin-input-label">{{ value.definition }}</label>
                            {% if value.value is iterable %}
                                {% for field in value.value %}
                                    <input class="form-control form-control-sm" type="{{ value.type ?? 'text' }}"
                                        {% if value.step is defined %} step="{{ value.step }}" {% endif %}
                                        id="input{{ key }}" name="{{ key }}[]" value="{{ field }}"
                                        aria-describedby="{{ key }}Help" />
                                {% endfor %}
                            {% else %}
                                {% if value.type is defined and value.type == 'select' and value.options is defined and value.options is iterable %}
                                    <select class="form-control form-control-sm"
                                        id="input{{ key }}" name="{{ key }}">
                                        {% for option in value.options %}
                                            <option {{ option is same as value.value ? 'selected' : '' }}>{{ option }}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <input class="form-control form-control-sm" type="{{ value.type ?? 'text' }}"
                                        {% if value.step is defined %} step="{{ value.step }}" {% endif %}
                                        id="input{{ key }}" name="{{ key }}" value="{{ value.value }}"
                                        aria-describedby="{{ key }}Help" />
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row mt-2">
                        <div class="col-12 col-md-6">
                            <label class="admin-input-label">{{ info3.image_file.definition }}</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="input_file" name="image[]">
                                <label class="custom-file-label" for="input_file">Escoger archivo...</label>
                                <div class="invalid-feedback">Formato de imagen no válido</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <img alt="img" class="img-admin-product" src="{{ asset('api/image/') }}{{ info3.image_file.value[0] ?? '...' }}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <button type="submit" class="btn btn-dark">Guardar</button>
                    <a href="{{ admin }}/catalog/list?page={{ page }}" class="btn btn-info">Volver a lista</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        document.querySelector('.custom-file-input').addEventListener('change',function(e){
            let fileName = document.getElementById("input_file").files[0].name;
            let nextSibling = e.target.nextElementSibling
            nextSibling.innerText = fileName
        })
    </script>
{% endblock %}
