{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="main-admin-body container">
        <div class="row">
            <div class="col">
                <h4>{{ h2title }} <span class="text-size-xs">({{ count }})</span></h4>
            </div>
            <div class="col text-right">
                <a href="{{ admin }}/catalog/new?page={{ page }}" class="btn btn-primary">Nuevo producto <span class="span-entity-lg">&plus;</span></a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <table class="table table-sm">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="table-cell-125">#</th>
                        <th scope="col" class="table-cell-100 text-center">Sección</th>
                        <th scope="col">Descripción</th>
                        <th scope="col" class="table-cell-50 text-center">Precio</th>
                        <th scope="col" class="table-cell-50 text-center">IVA</th>
                        <th scope="col"></th>
                        <th scope="col" class="table-cell-50 text-center">Ver</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in list %}
                        <tr>
                            <th scope="row" >
                                <div class="row">
                                    <div class="col">
                                        {{ product.getRef()[1:] }}
                                    </div>
                                    <div class="col text-right">
                                        <img alt="img" src="{{ asset('api/image/') }}{{ product.getImageFile().0 ?? 'no-image' }}" class="img-admin-list">
                                    </div>
                                </div>
                            </th>
                            <td class="table-cell-100 text-center"><span class="text-size-sm">{{ (product.getSection()|upper) }}</span></td>
                            <td>{{ product.getName() }} </td>
                            <td>{{ product.getIva() ?? 10}} %</td>
                            <td class="table-cell-50 text-center">
                                {{ (product.getPricePack() > 0 ? product.getPricePack() :
                                    product.getPriceKilo() > 0 ? product.getPriceKilo() :
                                    product.getPriceUnit() > 0 ? product.getPriceUnit())|number_format(2,'.') }}
                            </td>
                            <td class="text-right">
                                <a href="{{ admin }}/catalog/{{ product.getUuid() }}/read?page={{ page }}" class="btn btn-sm btn-outline-primary btn-table-td">
                                    Editar
                                </a>
                            </td>
                            <td class="table-cell-50 text-center">{% if product.getPublish() %} &check; {% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                <ul class="pagination">
                {% for i in 0..pages %}
                    <li class="page-item {{ page == i ? 'active' : '' }}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
