{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="main-admin-body container">
        <form method="post" action="{{ admin }}/delivery/save" class="form-group">
            <div class="row">
                <div class="col-12 mb-4">
                    <h5>Día(s) en el(los) que se realiza el reparto a domicilio:</h5>
                </div>
            {% for key, value in info %}
                <div class="col-12">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="{{ key }}" id="input{{ key }}" {{ value.value ? 'checked' : '' }}>
                        <label class="form-check-label" for="input{{ key }}">{{ value.definition|trans|capitalize }}</label>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="row mt-4">
                <div class="col">
                    <button type="submit" class="btn btn-dark">Guardar cambios</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}