<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand" href="#">Obrador Ca La Maria</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ active == 'index' ? 'active' : '' }}">
                <a class="nav-link" href="{{ admin }}">Índice</a>
            </li>
            <li class="nav-item {{ active == 'order' ? 'active' : '' }}">
                <a class="nav-link" href="{{ admin }}/order/list">Pedidos</a>
            </li>
            <li class="nav-item dropdown {{ active == 'site-info' ? 'active' : '' }}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Configuración
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ admin }}/site-info/read">Información del sitio</a>
                    <a class="dropdown-item" href="{{ admin }}/postalcode/list">Código postal envíos</a>
                    <a class="dropdown-item" href="{{ admin }}/delivery/read">Días de reparto a domicilio</a>
                </div>
            </li>
            <li class="nav-item {{ active == 'catalog' ? 'active' : '' }}">
                <a class="nav-link" href="{{ admin }}/catalog/list">Productos del catálogo</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn-sm btn-outline-dark disabled mr-1 px-3" disabled href="{{ asset('logout') }}">
                    Usuario: &nbsp; <strong> {{ app.user.getUsername() }}</strong>
                </a>
            </li>
            <li class="nav-item {{ active == 'catalog' ? 'active' : '' }}">
                <a class="btn btn-sm btn-primary mr-5 px-4" href="{{ asset('logout') }}">Salir</a>
            </li>
        </ul>
    </div>
</nav>