{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="main-admin-body container">
        <div class="row">
            <div class="col-4">
                <h4>{{ h2title }} <span class="text-size-xs">({{ count }})</span></h4>
            </div>
            <div class="col-8">
                <form class="form-inline" action="search">
                    <div class="form-group ml-auto">
                        <label for="searchField" class="sr-only">Buscar</label>
                        <select name="field" id="searchField" class="form-control">
                            <option value="uuid">ID</option>
                            <option value="order_id">Referencia</option>
                            <option value="personal_info">Usuario</option>
                        </select>
                    </div>
                    <div class="form-group mx-2">
                        <label for="searchValue" class="sr-only">Buscar</label>
                        <input type="text" name="value" class="form-control" id="searchValue" placeholder="Introducir valor de búsqueda"
                               style="width: 340px">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <table class="table table-sm">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="table-cell-150">#</th>
                        <th scope="col" class="table-cell-50 text-right">Precio</th>
                        <th scope="col" class="table-cell-100 text-center">Referencia</th>
                        <th scope="col" class="table-cell-50 text-center">Tipo</th>
                        <th scope="col" class="table-cell-100 text-center">Estado</th>
                        <th scope="col">Usuario</th>
                        <th scope="col" class="text-right">Fecha de entrega</th>
                        <th scope="col" class="table-cell-75 text-center">Entrega</th>
                        <th scope="col" class="table-cell-50"> </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, order in list %}
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col text-ellipsis">
                                        <span class="text-size-sm">{{ order.getUuid() }}</span>
                                    </div>
                                </div>
                            </td>
                            <th class="text-right"><span class="text-size-sm">{{ (order.getAmount()/100)|number_format(2, '.') }}€</span></th>
                            <td class="text-center"><span class="text-size-sm">{{ order.getOrderId() }}</span></td>
                            <td class="text-center">
                                {% if order.getType == 'TEST' %}
                                    <span class="badge badge-warning">{{ order.getType }}</span>
                                {% elseif order.getType == 'REAL' %}
                                    <span class="badge badge-success">{{ order.getType }}</span>
                                {% endif %}
                            </td>
                            <td class="text-center"><span class="text-size-sm">{{ (order.getStatus()|upper) }}</span></td>
                            <td>{{ order.getPersonalInfo()['email'] }}</td>
                            <td class="text-right">
                                {{ date[key].weekday|trans|capitalize }},
                                {{ date[key].day }}
                                {{ date[key].month|trans }}
                                {{ date[key].year }}
                            </td>
                            <td class="text-center">
                                <span class="text-size-sm">{{ order.getShippingAddress()|length > 0 ? 'ENVÍO' : 'TIENDA' }}</span>
                            </td>
                            <td class="text-right">
                                <a href="{{ admin }}/order/{{ order.getUuid() }}/read?page={{ page }}" class="btn btn-sm btn-outline-primary btn-table-td">
                                    Detalles
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="pagination">
                    {% for i in 0..pages %}
                        <li class="page-item {{ page == i ? 'active' : '' }}">
                            <a class="page-link" href="?{{ query ?? '' }}page={{ i }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}