{% extends 'admin/admin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/glyphicons.css') }}">
{% endblock %}

{% block body %}
    <div class="main-admin-body container">
        <h4 class="mb-3">{{ h2title }}</h4>
        <form method="post" action="{{ action }}" class="form-group">
            <input type="hidden" name="page" value="{{ page }}" />
            <input type="hidden" name="uuid" value="{{ info.getUuid() }}" />
            <p>Detalles de la localidad: </p>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <ul>
                            <li><small>Nombre del municipio:</small> <strong>{{ info.getLoc() }}</strong></li>
                            <li><small>Código Postal inicial:</small> <strong>{{ info.getMin() }}</strong></li>
                            <li><small>Código Postal final:</small> <strong>{{ info.getMax() }}</strong></li>
                            <li><small>Uuid: <strong>{{ info.getUuid() }}</strong></small></li>
                        </ul>
                    </div>
                </div>
            </div>
            <small>
                Está a punto de eliminar esta localidad y sus códigos postales como posible destino de envío a domicilio. <br>
                <strong>¿Confirma que desea eliminar esta localidad?</strong>
            </small>
            <div class="row mt-4">
                <div class="col">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a href="{{ admin }}/postalcode/list?page={{ page }}" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        document.querySelector('.custom-file-input').addEventListener('change',function(e){
            let fileName = document.getElementById("input_file").files[0].name;
            let nextSibling = e.target.nextElementSibling
            nextSibling.innerText = fileName
        })
    </script>
{% endblock %}