{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="main-admin-body container">
        <div class="row">
            <div class="col">
                <h4>{{ h2title }} <span class="text-size-xs">({{ count }})</span></h4>
            </div>
            <div class="col text-right">
                <a href="{{ admin }}/postalcode/new?page={{ page }}" class="btn btn-primary">Añadir localidad <span class="span-entity-lg">&plus;</span></a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <table class="table table-sm">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" class="table-cell-125">#</th>
                        <th scope="col" class="table-cell-150">Población</th>
                        <th scope="col" class="table-cell-50 ">Min</th>
                        <th scope="col" class="table-cell-50 ">Max</th>
                        <th scope="col" class="table-cell-75"> </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for postalcode in list %}
                        <tr>
                            <td scope="row" class="table-cell-125">
                                <div class="row">
                                    <div class="col">
                                        <span class="text-size-sm">{{ postalcode.getUuid() }}</span>
                                    </div>
                                </div>
                            </td>
                            <th class="table-cell-150">{{ (postalcode.getLoc()) }}</th>
                            <td>{{ postalcode.getMin() }} </td>
                            <td>{{ postalcode.getMax() }} </td>
                            <td class="table-cell-75 text-right">
                                <a href="{{ admin }}/postalcode/{{ postalcode.getUuid() }}/read?page={{ page }}" class="btn btn-sm btn-outline-primary btn-table-td">
                                    Editar
                                </a>
                                <a href="{{ admin }}/postalcode/{{ postalcode.getUuid() }}/delete-confirm?page={{ page }}" class="btn btn-sm btn-danger btn-table-td">
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                <ul class="pagination">
                {% for i in 0..pages %}
                    <li class="page-item {{ page == i ? 'active' : '' }}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}