{% extends 'admin/admin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/glyphicons.css') }}">
{% endblock %}

{% block body %}
    <div class="main-admin-body container">
        <h4 class="mb-3">{{ h2title }}</h4>
        <form method="post" action="{{ action }}" class="form-group">
            <input type="hidden" name="page" value="{{ page }}" />

            <div class="row">
                <div class="col-12">
                    <div class="row">
                    {% for key, value in info %}
                        <div class="{{ value.col ?? 'col-3' }} pr-0">
                            <label for="input{{ key }}" class="admin-input-label">{{ value.definition|raw }}</label>
                            {% if value.type is defined and value.type == 'select' and value.options is defined and value.options is iterable %}
                                <select class="form-control form-control-sm"
                                    id="input{{ key }}" name="{{ key }}">
                                    {% for option in value.options %}
                                        <option {{ option is same as value.value ? 'selected' : '' }}>{{ option }}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <input class="form-control form-control-sm" type="{{ value.type ?? 'text' }}"
                                    {% if value.step is defined %} step="{{ value.step }}" {% endif %}
                                    {% if value.required is defined and value.required %} required {% endif %}
                                    {% if value.pattern is defined %} pattern="{{ value.pattern }}" {% endif %}
                                    {% if value.maxlength is defined %} maxlength="{{ value.maxlength }}" {% endif %}
                                    {% if value.title is defined %} title="{{ value.title }}" {% endif %}
                                    id="input{{ key }}" name="{{ key }}" value="{{ value.value }}"
                                    aria-describedby="{{ key }}Help" />
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <small>
                En caso de que la localidad sólo tenga un código postal asignar el mismo valor al <strong>mínimo</strong>
                y al <strong>máximo</strong>.
            </small>
            <div class="row mt-4">
                <div class="col">
                    <button type="submit" class="btn btn-dark">Guardar</button>
                    <a href="{{ admin }}/postalcode/list?page={{ page }}" class="btn btn-info">Volver a lista</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit',function(e){
            e.preventDefault();
            const min = document.querySelector('input[name="min"]');
            const max = document.querySelector('input[name="max"]');
            if (parseInt(max.value) < parseInt(min.value)) {
                alert ('El valor máximo no puede ser inferior al valor mínimo');
                return;
            }
            form.submit();
        })
    </script>
{% endblock %}
