{% extends 'admin/admin.html.twig' %}

{% block body %}
    <div class="main-admin-body container">
        <form method="post" action="{{ admin }}/site-info/save" class="form-group">
            <div class="row">
            {% for key, value in info %}
                <div class="col-12 col-md-6 col-xl-4">
                    <label for="input{{ key }}" class="admin-input-label">{{ value.definition }}</label>
                    {% if value.value is iterable %}
                        {% for field in value.value %}
                            <input class="form-control form-control-sm" type="{{ value.type ?? 'text' }}"
                                {% if value.step is defined %} step="{{ value.step }}" {% endif %}
                                id="input{{ key }}" name="{{ key }}[]" value="{{ field }}"
                                aria-describedby="{{ key }}Help" />
                        {% endfor %}
                    {% else %}
                        {% if value.type is defined and value.type == 'select' and value.options is defined and value.options is iterable %}
                            <select class="form-control form-control-sm"
                                id="input{{ key }}" name="{{ key }}">
                                {% for option in value.options %}
                                    <option {{ option is same as value.value ? 'selected' : '' }}>{{ option }}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <input class="form-control form-control-sm" type="{{ value.type ?? 'text' }}"
                                {% if value.step is defined %} step="{{ value.step }}" {% endif %}
                                id="input{{ key }}" name="{{ key }}" value="{{ value.value }}"
                                aria-describedby="{{ key }}Help" />
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            </div>
            <div class="row mt-4">
                <div class="col text-right">
                    <button type="submit" class="btn btn-dark">Guardar cambios</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}