const a = JSON.parse('{{ catalog|json_encode }}');
const sections = JSON.parse('{{ sections|json_encode }}');
const catalog = Object.assign(a.bolleria, a.pan, a.salado, a.postres, a.campanyas);
const catalogTitle = '{{ messages.catalogo|trans }}';
const assets = '{{ asset('api/image') }}';
let messages = {};
{% for key,message in messages %}
    messages['{{ key }}'] = '{{ message|trans }}';
{% endfor %}
