body, html {
    background-color: #fafcfd;
}

a:hover,
a:focus {
    text-decoration: none;
}

.text-size-sm {
    font-size: .875em;
}

.text-size-xs {
    font-size: .75em;
}

div.text-ellipsis {
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

div.main-admin-body {
    margin-top: 20px;
}

label.admin-input-label {
    margin: 8px 0 0;
    font-size: .75em;
    color: #535353;
}

label.publish-label {
    margin: -8px 0 0;
    font-size: .75em;
    color: #535353;
}

span.span-entity-lg {
    font-size: 1.375em;
    font-weight: 700;
    line-height: 1rem;
}

table.table-sm tr > td {
    font-size: .875em;
}

table th.table-cell-50,
table td.table-cell-50 {
    width: 50px;
}

table th.table-cell-75,
table td.table-cell-75 {
    width: 75px;
}

table th.table-cell-100,
table td.table-cell-100 {
    width: 100px;
}

table th.table-cell-125,
table td.table-cell-125 {
    width: 125px;
}

table th.table-cell-150,
table td.table-cell-150 {
    width: 150px;
}

a.btn-table-td,
button.btn-table-td {
    font-size: .75em;
    padding: .25rem .5rem .125rem;
}

img.img-admin-product {
    margin-top: 1.125em;
    border: #e3e3e3 solid 1px;
    border-radius: 4px;
    padding: .25em;
    max-height: 60px;
}

img.img-admin-list {
    margin-top: -.25em;
    border: #e3e3e3 solid 1px;
    border-radius: 2px;
    padding: .125em;
    max-height: 24px;
}


