@font-face {
    font-family: 'ITC Franklin Gothic Std Book Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Franklin Gothic Std Book Condensed'), url('../fonts/ITCFranklinGothicStd-BkCd.woff') format('woff');
    font-display: swap;
}

/*@font-face {*/
/*    font-family: 'ITC Franklin Gothic Std Book Compressed';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: local('ITC Franklin Gothic Std Book Compressed'), url('../fonts/ITCFranklinGothicStd-BkCp.woff') format('woff');*/
/*}*/

/*@font-face {*/
/*    font-family: 'ITC Franklin Gothic Std Book Extra Compressed';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: local('ITC Franklin Gothic Std Book Extra Compressed'), url('../fonts/ITCFranklinGothicStd-BkXCp.woff') format('woff');*/
/*}*/

/*@font-face {*/
/*    font-family: 'ITC Franklin Gothic Std Book';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: local('ITC Franklin Gothic Std Book'), url('../fonts/ITCFranklinGothicStd-Book.woff') format('woff');*/
/*}*/

@font-face {
    font-family: 'ITC Franklin Gothic Std Book Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Franklin Gothic Std Book Condensed Italic'), url('../fonts/ITCFranklinGothicStd-BkCdIt.woff') format('woff');
    font-display: swap;
}

/*@font-face {*/
/*    font-family: 'ITC Franklin Gothic Std Book Compressed Italic';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: local('ITC Franklin Gothic Std Book Compressed Italic'), url('../fonts/ITCFranklinGothicStd-BkCpIt.woff') format('woff');*/
/*}*/

/*@font-face {*/
/*    font-family: 'ITC Franklin Gothic Std Book Italic';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: local('ITC Franklin Gothic Std Book Italic'), url('../fonts/ITCFranklinGothicStd-BookIt.woff') format('woff');*/
/*}*/

/*@font-face {*/
/*    font-family: 'ITC Franklin Gothic Std Medium Condensed';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: local('ITC Franklin Gothic Std Medium Condensed'), url('../fonts/ITCFranklinGothicStd-MdCd.woff') format('woff');*/
/*}*/

/*@font-face {*/
/*    font-family: 'ITC Franklin Gothic Std Medium';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: local('ITC Franklin Gothic Std Medium'), url('../fonts/ITCFranklinGothicStd-Med.woff') format('woff');*/
/*}*/

/*@font-face {*/
/*    font-family: 'ITC Franklin Gothic Std Medium Condensed Italic';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: local('ITC Franklin Gothic Std Medium Condensed Italic'), url('../fonts/ITCFranklinGothicStd-MdCdIt.woff') format('woff');*/
/*}*/

/*@font-face {*/
/*    font-family: 'ITC Franklin Gothic Std Medium Italic';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: local('ITC Franklin Gothic Std Medium Italic'), url('../fonts/ITCFranklinGothicStd-MedIt.woff') format('woff');*/
/*}*/

/*@font-face {*/
/*    font-family: 'ITC Franklin Gothic Std Demi Condensed';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: local('ITC Franklin Gothic Std Demi Condensed'), url('../fonts/ITCFranklinGothicStd-DmCd.woff') format('woff');*/
/*}*/

/*@font-face {*/
/*    font-family: 'ITC Franklin Gothic Std Demi Compressed';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: local('ITC Franklin Gothic Std Demi Compressed'), url('../fonts/ITCFranklinGothicStd-DmCp.woff') format('woff');*/
/*}*/

/*@font-face {*/
/*    font-family: 'ITC Franklin Gothic Std Demi Extra Compressed';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: local('ITC Franklin Gothic Std Demi Extra Compressed'), url('../fonts/ITCFranklinGothicStd-DmXCp.woff') format('woff');*/
/*}*/

/*@font-face {*/
/*    font-family: 'ITC Franklin Gothic Std Demi Italic';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: local('ITC Franklin Gothic Std Demi Italic'), url('../fonts/ITCFranklinGothicStd-DemiIt.woff') format('woff');*/
/*}*/

/*@font-face {*/
/*    font-family: 'ITC Franklin Gothic Std Demi Condensed Italic';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: local('ITC Franklin Gothic Std Demi Condensed Italic'), url('../fonts/ITCFranklinGothicStd-DmCdIt.woff') format('woff');*/
/*}*/

/*@font-face {*/
/*    font-family: 'ITC Franklin Gothic Std Demi Compressed Italic';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: local('ITC Franklin Gothic Std Demi Compressed Italic'), url('../fonts/ITCFranklinGothicStd-DmCpIt.woff') format('woff');*/
/*}*/

/*@font-face {*/
/*    font-family: 'ITC Franklin Gothic Std Heavy';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: local('ITC Franklin Gothic Std Heavy'), url('../fonts/ITCFranklinGothicStd-Hvy.woff') format('woff');*/
/*}*/

/*@font-face {*/
/*    font-family: 'ITC Franklin Gothic Std Heavy Italic';*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    src: local('ITC Franklin Gothic Std Heavy Italic'), url('../fonts/ITCFranklinGothicStd-HvyIt.woff') format('woff');*/
/*}*/

@font-face {
    font-family: 'Blanch Condensed Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Blanch Condensed Regular'), url('../fonts/blanch_condensed-webfont.woff') format('woff');
    font-display: swap;
}