
.ball-pulse > div {
    width:15px;
    height:15px;
    border-radius:100%;
    margin:2px;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    display:inline-block;
    -webkit-animation:ball-pulse .75s infinite cubic-bezier(.2,.68,.18,1.08);
    animation:ball-pulse .75s infinite cubic-bezier(.2,.68,.18,1.08)
}
.ball-pulse>div:nth-child(1) {
    -webkit-animation-delay:-.36s;
    animation-delay:-.36s
}
.ball-pulse>div:nth-child(2) {
    -webkit-animation-delay:-.24s;
    animation-delay:-.24s
}
.ball-pulse>div:nth-child(3) {
    -webkit-animation-delay:-.12s;
    animation-delay:-.12s
}
@-webkit-keyframes ball-pulse {
    0% {
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:1
    } 45% {
          -webkit-transform:scale(.1);
          transform:scale(.1);
          opacity:.7
      } 80% {
            -webkit-transform:scale(1);
            transform:scale(1);
            opacity:1
        }
}
@keyframes ball-pulse {
    0% {
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
    45% {
        -webkit-transform:scale(.1);
        transform:scale(.1);
        opacity:.7
    }
    80% {
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
}
.ball-clip-rotate-pulse {
    position:relative;
    -webkit-transform:translateY(-15px) translateX(-10px);
    -ms-transform:translateY(-15px) translateX(-10px);
    transform:translateY(-15px) translateX(-10px);
    display:inline-block
}
.ball-clip-rotate-pulse>div {
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    position:absolute;
    top:0;
    left:0;
    border-radius:100%
}
.ball-clip-rotate-pulse>div:first-child {
    height:36px;
    width:36px;
    top:7px;
    left:-7px;
    -webkit-animation:ball-clip-rotate-pulse-scale 1s 0s cubic-bezier(.09,.57,.49,.9) infinite;
    animation:ball-clip-rotate-pulse-scale 1s 0s cubic-bezier(.09,.57,.49,.9) infinite
}
.ball-clip-rotate-pulse>div:last-child {
    position:absolute;
    width:50px;
    height:50px;
    left:-16px;
    top:-2px;
    background:0 0;
    border:2px solid;
    -webkit-animation:ball-clip-rotate-pulse-rotate 1s 0s cubic-bezier(.09,.57,.49,.9) infinite;
    animation:ball-clip-rotate-pulse-rotate 1s 0s cubic-bezier(.09,.57,.49,.9) infinite;
    -webkit-animation-duration:1s;
    animation-duration:1s
}
@-webkit-keyframes ball-clip-rotate-pulse-rotate {
    0% {
        -webkit-transform:rotate(0) scale(1);
        transform:rotate(0) scale(1)
    }
    50% {
        -webkit-transform:rotate(180deg) scale(.6);
        transform:rotate(180deg) scale(.6)
    }
    100% {
        -webkit-transform:rotate(360deg) scale(1);
        transform:rotate(360deg) scale(1)
    }
}
@keyframes ball-clip-rotate-pulse-rotate {
    0% {
        -webkit-transform:rotate(0) scale(1);
        transform:rotate(0) scale(1)
    }
    50% {
        -webkit-transform:rotate(180deg) scale(.6);
        transform:rotate(180deg) scale(.6)
    }
    100% {
        -webkit-transform:rotate(360deg) scale(1);
        transform:rotate(360deg) scale(1)
    }
}
@-webkit-keyframes ball-clip-rotate-pulse-scale {
    30% {
        -webkit-transform:scale(.3);
        transform:scale(.3)
    }
    100% {
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes ball-clip-rotate-pulse-scale {
    30% {
        -webkit-transform:scale(.3);
        transform:scale(.3)
    }
    100% {
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@-webkit-keyframes square-spin {
    25% {
        -webkit-transform:perspective(100px) rotateX(180deg) rotateY(0);
        transform:perspective(100px) rotateX(180deg) rotateY(0)
    }
    50% {
        -webkit-transform:perspective(100px) rotateX(180deg) rotateY(180deg);
        transform:perspective(100px) rotateX(180deg) rotateY(180deg)
    }
    75% {
        -webkit-transform:perspective(100px) rotateX(0) rotateY(180deg);
        transform:perspective(100px) rotateX(0) rotateY(180deg)
    }
    100% {
        -webkit-transform:perspective(100px) rotateX(0) rotateY(0);
        transform:perspective(100px) rotateX(0) rotateY(0)
    }
}
@keyframes square-spin {
    25% {
        -webkit-transform:perspective(100px) rotateX(180deg) rotateY(0);
        transform:perspective(100px) rotateX(180deg) rotateY(0)
    }
    50% {
        -webkit-transform:perspective(100px) rotateX(180deg) rotateY(180deg);
        transform:perspective(100px) rotateX(180deg) rotateY(180deg)
    }
    75% {
        -webkit-transform:perspective(100px) rotateX(0) rotateY(180deg);
        transform:perspective(100px) rotateX(0) rotateY(180deg)
    }
    100% {
        -webkit-transform:perspective(100px) rotateX(0) rotateY(0);
        transform:perspective(100px) rotateX(0) rotateY(0)
    }
}
.square-spin {
    display:inline-block
}
.square-spin>div {
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    width:50px;
    height:50px;
    -webkit-animation:square-spin 3s 0s cubic-bezier(.09,.57,.49,.9) infinite;
    animation:square-spin 3s 0s cubic-bezier(.09,.57,.49,.9) infinite
}
.cube-transition{position:relative;
    -webkit-transform:translate(-25px,-25px);
    -ms-transform:translate(-25px,-25px);
    transform:translate(-25px,-25px);
    display:inline-block
}
.cube-transition>div{-webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    width:15px;
    height:15px;
    position:absolute;
    top:-5px;
    left:-5px;
    -webkit-animation:cube-transition 1.6s 0s infinite ease-in-out;
    animation:cube-transition 1.6s 0s infinite ease-in-out
}
.cube-transition>div:last-child {
    -webkit-animation-delay:-.8s;
    animation-delay:-.8s
}
@-webkit-keyframes cube-transition {
    25% {
        -webkit-transform:translateX(50px) scale(.5) rotate(-90deg);
        transform:translateX(50px) scale(.5) rotate(-90deg)
    }
    50% {
        -webkit-transform:translate(50px,50px) rotate(-180deg);
        transform:translate(50px,50px) rotate(-180deg)
    }
    75% {
        -webkit-transform:translateY(50px) scale(.5) rotate(-270deg);
        transform:translateY(50px) scale(.5) rotate(-270deg)
    }
    100% {
        -webkit-transform:rotate(-360deg);
        transform:rotate(-360deg)
    }
}
@keyframes cube-transition {
    25% {
        -webkit-transform:translateX(50px) scale(.5) rotate(-90deg);
        transform:translateX(50px) scale(.5) rotate(-90deg)
    }
    50% {
        -webkit-transform:translate(50px,50px) rotate(-180deg);
        transform:translate(50px,50px) rotate(-180deg)
    }
    75% {
        -webkit-transform:translateY(50px) scale(.5) rotate(-270deg);
        transform:translateY(50px) scale(.5) rotate(-270deg)
    }
    100% {
        -webkit-transform:rotate(-360deg);
        transform:rotate(-360deg)
    }
}
.ball-scale>div{border-radius:100%;
    margin:2px;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    display:inline-block;
    height:60px;
    width:60px;
    -webkit-animation:ball-scale 1s 0s ease-in-out infinite;
    animation:ball-scale 1s 0s ease-in-out infinite
}
@-webkit-keyframes ball-scale {
    0% {
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100% {
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:0
    }
}
@keyframes ball-scale {
    0% {
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100% {
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:0
    }
}
.line-scale>div{-webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    display:inline-block;
    width:5px;
    height:50px;
    border-radius:2px;
    margin:2px
}
.line-scale>div:nth-child(1) {
    -webkit-animation:line-scale 1s -.5s infinite cubic-bezier(.2,.68,.18,1.08);
    animation:line-scale 1s -.5s infinite cubic-bezier(.2,.68,.18,1.08)
}
.line-scale>div:nth-child(2) {
    -webkit-animation:line-scale 1s -.4s infinite cubic-bezier(.2,.68,.18,1.08);
    animation:line-scale 1s -.4s infinite cubic-bezier(.2,.68,.18,1.08)
}
.line-scale>div:nth-child(3) {
    -webkit-animation:line-scale 1s -.3s infinite cubic-bezier(.2,.68,.18,1.08);
    animation:line-scale 1s -.3s infinite cubic-bezier(.2,.68,.18,1.08)
}
.line-scale>div:nth-child(4) {
    -webkit-animation:line-scale 1s -.2s infinite cubic-bezier(.2,.68,.18,1.08);
    animation:line-scale 1s -.2s infinite cubic-bezier(.2,.68,.18,1.08)
}
.line-scale>div:nth-child(5) {
    -webkit-animation:line-scale 1s -.1s infinite cubic-bezier(.2,.68,.18,1.08);
    animation:line-scale 1s -.1s infinite cubic-bezier(.2,.68,.18,1.08)
}
@-webkit-keyframes line-scale {
    0% {
        -webkit-transform:scaley(1);
        transform:scaley(1)
    }
    50% {
        -webkit-transform:scaley(.4);
        transform:scaley(.4)
    }
    100% {
        -webkit-transform:scaley(1);
        transform:scaley(1)
    }
}
@keyframes line-scale {
    0% {
        -webkit-transform:scaley(1);
        transform:scaley(1)
    }
    50% {
        -webkit-transform:scaley(.4);
        transform:scaley(.4)
    }
    100% {
        -webkit-transform:scaley(1);
        transform:scaley(1)
    }
}
.ball-scale-multiple{position:relative;
    -webkit-transform:translateY(30px);
    -ms-transform:translateY(30px);
    transform:translateY(30px);
    display:inline-block
}
.ball-scale-multiple>div{border-radius:100%;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    margin:2px;
    position:absolute;
    left:-30px;
    top:0;
    opacity:0;
    margin:0;
    width:50px;
    height:50px;
    -webkit-animation:ball-scale-multiple 1s 0s linear infinite;
    animation:ball-scale-multiple 1s 0s linear infinite
}
.ball-scale-multiple>div:nth-child(2) {
    -webkit-animation-delay:-.2s;
    animation-delay:-.2s
}
.ball-scale-multiple>div:nth-child(3) {
    -webkit-animation-delay:-.2s;
    animation-delay:-.2s
}
@-webkit-keyframes ball-scale-multiple {
    0% {
        -webkit-transform:scale(0);
        transform:scale(0);
        opacity:0
    }
    5% {
        opacity:1
    }
    100% {
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:0
    }
}
@keyframes ball-scale-multiple {
    0% {
        -webkit-transform:scale(0);
        transform:scale(0);
        opacity:0
    }
    5% {
        opacity:1
    }
    100% {
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:0
    }
}
.ball-pulse-sync{display:inline-block
}
.ball-pulse-sync>div{width:15px;
    height:15px;
    border-radius:100%;
    margin:2px;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    display:inline-block
}
.ball-pulse-sync>div:nth-child(1){
    -webkit-animation:ball-pulse-sync .6s -.21s infinite ease-in-out;
    animation:ball-pulse-sync .6s -.21s infinite ease-in-out
}
.ball-pulse-sync>div:nth-child(2){
    -webkit-animation:ball-pulse-sync .6s -.14s infinite ease-in-out;
    animation:ball-pulse-sync .6s -.14s infinite ease-in-out
}
.ball-pulse-sync>div:nth-child(3) {
    -webkit-animation:ball-pulse-sync .6s -70ms infinite ease-in-out;
    animation:ball-pulse-sync .6s -70ms infinite ease-in-out
}
@-webkit-keyframes ball-pulse-sync {
    33% {
        -webkit-transform:translateY(10px);
        transform:translateY(10px)
    }
    66% {
        -webkit-transform:translateY(-10px);
        transform:translateY(-10px)
    }
    100% {
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}
@keyframes ball-pulse-sync {
    33% {
        -webkit-transform:translateY(10px);
        transform:translateY(10px)
    }
    66% {
        -webkit-transform:translateY(-10px);
        transform:translateY(-10px)
    }
    100%{
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}
.transparent-circle{
    display:inline-block;
    border-top:.5em solid rgba(255,255,255,.2);
    border-right:.5em solid rgba(255,255,255,.2);
    border-bottom:.5em solid rgba(255,255,255,.2);
    border-left:.5em solid #fff;
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-animation:transparent-circle 1.1s infinite linear;
    animation:transparent-circle 1.1s infinite linear;
    width:50px;
    height:50px;
    border-radius:50%
}
.transparent-circle:after {
    border-radius:50%;
    width:10em;
    height:10em
}
@-webkit-keyframes transparent-circle {
    0% {
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
    100% {
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes transparent-circle {
    0% {
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
    100% {
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
.ball-spin-fade-loader {
    position:relative;
    top:-10px;
    left:-10px;
    display:inline-block
}
.ball-spin-fade-loader>div {
    width:15px;
    height:15px;
    border-radius:100%;
    margin:2px;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    position:absolute;
    -webkit-animation:ball-spin-fade-loader 1s infinite linear;
    animation:ball-spin-fade-loader 1s infinite linear
}
.ball-spin-fade-loader>div:nth-child(1) {
    top:25px;
    left:0;
    animation-delay:-.84s;
    -webkit-animation-delay:-.84s
}
.ball-spin-fade-loader>div:nth-child(2) {
    top:17.05px;
    left:17.05px;
    animation-delay:-.72s;
    -webkit-animation-delay:-.72s
}
.ball-spin-fade-loader>div:nth-child(3) {
    top:0;
    left:25px;
    animation-delay:-.6s;
    -webkit-animation-delay:-.6s
}
.ball-spin-fade-loader>div:nth-child(4) {
    top:-17.05px;
    left:17.05px;
    animation-delay:-.48s;
    -webkit-animation-delay:-.48s
}
.ball-spin-fade-loader>div:nth-child(5) {
    top:-25px;
    left:0;
    animation-delay:-.36s;
    -webkit-animation-delay:-.36s
}
.ball-spin-fade-loader>div:nth-child(6) {
    top:-17.05px;
    left:-17.05px;
    animation-delay:-.24s;
    -webkit-animation-delay:-.24s
}
.ball-spin-fade-loader>div:nth-child(7) {
    top:0;
    left:-25px;
    animation-delay:-.12s;
    -webkit-animation-delay:-.12s
}
.ball-spin-fade-loader>div:nth-child(8) {
    top:17.05px;
    left:-17.05px;
    animation-delay:0s;
    -webkit-animation-delay:0s
}
@-webkit-keyframes ball-spin-fade-loader {
    50% {
        opacity:.3;
        -webkit-transform:scale(.4);
        transform:scale(.4)
    }
    100% {
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes ball-spin-fade-loader {
    50% {
        opacity:.3;
        -webkit-transform:scale(.4);
        transform:scale(.4)
    }
    100% {
        opacity:1;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}

/*************** CUSTOM STYLES ****************/

div#loading-screen .ball-pulse > div {
    background-color: #f1a500;
}

div#load-catalog-btn .ball-pulse > div {
    background-color: #deb256;
}