html,
body {
    font-family: 'ITC Franklin Gothic Std Book Condensed', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #f6f6f6;
}

.mobile-only {
    display: none;
}

.mobile-xl-only {
    display: none;
}

p.text-reduce-1 {
    font-size: .9375em;
}

p.text-reduce-2 {
    font-size: .875em;
}

span.span-no-break {
    white-space: nowrap;
}

#head-first.jumbotron {
    padding-top: 115px;
}

nav#main-navbar {
    box-shadow: #0000007F 0 3px 4px;
}

nav#main-navbar,
nav#main-navbar a.navbar-brand-text {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

nav#main-navbar a.navbar-brand-icon {
    margin-right: 0;
}

nav#main-navbar.navbar-light a.nav-link {
    text-shadow: #ffffffbf 1px 1px;
}

nav#main-navbar.navbar-dark svg > g,
nav#main-navbar.navbar-dark a.navbar-brand span.font-blanch {
    fill: #deb256;
    color: #deb256;
}

nav#main-navbar.navbar-light a.navbar-brand span.font-blanch {
    color: #deb256;
}

nav#main-navbar.navbar-dark a.navbar-brand-text {
    opacity: 1;
    max-width: 110px;
}

nav#main-navbar.navbar-light a.navbar-brand-text {
    opacity: 0;
    max-width: 0;
    margin: 0 !important;
    z-index: -2;
}

nav#main-navbar.navbar-light svg > g {
    fill: #000000A0
}

nav.navbar-transparent .navbar-nav .nav-link {
    color: rgba(0,0,0,.7);
}

nav.navbar-transparent .navbar-nav .nav-link.active {
    color: rgba(0,0,0,.9);
}

nav.navbar-transparent .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.8);
}

nav.bg-transparent {
    background-color: #FFFFFFAF !important;
}

nav.navbar-transparent {
    color: black !important;
}

nav.bg-transparent[data-style="navbar-min"] {
    background-color: #FFFFFF27 !important;
}

nav#main-navbar.navbar-hide {
    top: -90px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

nav#main-navbar .nav-language-option a.nav-link {
    font-size: 1.25em;
    font-weight: bolder;
    text-shadow: none;
}

nav#main-navbar .nav-language-option  a.nav-link.active {
    font-weight: bolder;
}

nav#main-navbar .nav-language-option  a.nav-link:hover {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

nav#main-navbar.navbar-light .nav-language-option a.nav-link {
    color: rgba(0,0,0,.5);
}
nav#main-navbar.navbar-light .nav-language-option  a.nav-link.active {
    color: rgba(0,0,0,.7);
}

nav#main-navbar.navbar-light .nav-language-option  a.nav-link:hover {
    color: rgba(0,0,0,.8);
    text-shadow: #ffffff9f 1px 1px;
}

nav#main-navbar.navbar-dark .nav-language-option a.nav-link {
    color: #ffffff5f;
}
nav#main-navbar.navbar-dark .nav-language-option a.nav-link.active {
    color: #ffffff8f;
}

nav#main-navbar.navbar-dark .nav-language-option a.nav-link:hover {
    color: #ffffffaf;
    text-shadow: #404040cf 1px 1px !important;
}

nav button.btn-cart {
    position: relative;
    background-color: #fff1;
    color: #0009;
    border: #0003 solid 1px;
    padding-left: 0.375rem !important;
}

nav.navbar-dark button.btn-cart {
    background-color: #deb256;
}

nav.navbar-dark button.btn-cart:hover {
    background-color: #e0a800;
}

nav .btn-cart > .cart-svg-wrapper > svg {
    color: #404040;
}

nav .btn-cart:hover {
    background-color: #fff4;
    color: #000b;
    border: #0005 solid 1px;
}

nav .btn-cart:disabled {
    background-color: #deb256af;
    color: #4040407f;
}

nav button.btn-cart span.cart-items {
    position: relative;
    font-size: .75em;
    font-weight: 800;
    top: 6px;
    left: 1px;
}

nav button[data-cart="empty"] > span.cart-filled-icon,
nav button[data-cart="filled"] > span.cart-empty-icon {
    display: none;
}

.font-blanch {
    font-family: "Blanch Condensed Regular";
}

span.font-blanch,
div.font-blanch {
    font-size: 1.75em;
}

span.font-blanch-line {
    font-size: 1.25em;
}

.jumbotron#head-first,
.jumbotron#head-error,
.jumbotron#head-cart {
    border-radius: 0;
    margin-bottom: 0;
}

.jumbotron#head-first,
.jumbotron#head-cart{
    background-image: url("../img/sections/pan-land.jpg");
    background-size: cover;
    background-position: center center;
}

.jumbotron#head-error {
    background-image: linear-gradient(#d0d0d0, #7f7f7f);
    height: 220px;
    padding: 4rem 2rem !important;
}

.jumbotron#head-first img.img-center,
.jumbotron#head-error img.img-center,
.jumbotron#head-cart img.img-center {
    width: 360px;
    max-width: 100%;
    filter: drop-shadow(0 0 2px #ecd096);
}

.jumbotron#head-error img.img-center {
    margin: 40px auto -40px;
    filter: drop-shadow(0 0 2px #000000af);
}

.jumbotron#head-cart {
    padding: 1.375em 2em !important;

}

.jumbotron#head-cart img.img-center {
    width: 165px;
}

div#cart-order-page,
div#redsys-payment-result,
div.return-order-details,
div#cart-checkout-page p > a {
    font-family: "Segoe UI", Roboto, BlinkMacSystemFont, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

div#cart-order-page,
div#cart-checkout-page,
div#payment-return-page {
    min-height: calc(100vh - 280px);
}

div#checkout-order-summary,
div#checkout-personal-info,
div#payment-redirect,
div#payment-return {
    background-color: #fff;
    box-shadow: #0003 0 0 10px;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.jumbotron#head-first h2 {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 1em;
     font-weight: 500;
     border-style: solid none;
     border-width: 2px;
     padding: 8px;
     max-width: 360px;
     margin: 5px auto 0;
     letter-spacing: 0.125em;
     text-shadow: 1px 1px 1px #ecd096;
}

.jumbotron .head-first-light h2 {
     color: white;
     border-color: white;
}

.jumbotron .head-first-dark h2 {
     color: #303030;
     border-color: #303030;
}

div.error-msg-container {
    min-height: calc(100vh - 275px);
    text-align: center;
    font-size: 1.25em;
    color: #7F7F7F;
}

div.error-msg-container h1,
div.error-msg-container h1.error-request-code {
    color: white;
}

div.error-msg-container h1:not(.error-request-code) {
    margin-bottom: 60px;
    text-shadow: #000000EF 0 0 18px;
}

div.error-msg-container h1.error-request-code {
    padding-top: 70px;
    font-size: 8.5em;
    line-height: .75em;
    text-shadow: #000000CF 0 0 32px;
}

div.error-msg-container p {
    line-height: 1.25em;
}

a.btn-in-text {
    padding: 0 .5em;
}

div.logo-transition-container {
    min-height: 200px;
}

div.logo-brand-left,
div.logo-brand-right {
    width: 50%;
    margin: 5px;
}

div.logo-brand-left > img,
div.logo-brand-right > img {
    display: block;
    position: absolute;
    height: 150px;
    margin: 25px;
    opacity: 0;
}

div.logo-brand-left > img{
    /*left: 0;*/
    left: calc(45% - 420px);
}

div.logo-brand-right > img {
    /*right: 0;*/
    right: calc(45% - 420px);
}

div.logo-brand-left.logo-brand-transition > img {
    left: calc(45% - 150px);
    opacity: 1;
}

div.logo-brand-right.logo-brand-transition > img {
    right: calc(45% - 150px);
    opacity: 1;
}

div.logo-brand-left.logo-brand-transition > img {
    -webkit-transition: opacity 0.75s 0.75s linear, left 1.5s 1s ease-in-out;
    -moz-transition: opacity 0.75s 0.75s linear, left 1.5s 1s ease-in-out;
    -o-transition: opacity 0.75s 0.75s linear, left 1.5s 1s ease-in-out;
    transition: opacity 0.75s 0.75s linear, left 1.5s 1s ease-in-out;
}

div.logo-brand-right.logo-brand-transition > img {
    -webkit-transition: opacity 0.75s 0.75s linear, right 1.75s 1.5s ease-in-out;
    -moz-transition: opacity 0.75s 0.75s linear, right 1.75s 1.5s ease-in-out;
    -o-transition: opacity 0.75s 0.75s linear, right 1.75s 1.5s ease-in-out;
    transition: opacity 0.75s 0.75s linear, right 1.75s 1.5s ease-in-out;
}

.text-wheat{
    color: #deb256;
}

.icon-wheat {
    fill: #deb256;
}

a.text-wheat:hover,
a.text-wheat:focus {
    color: #f1a500;
}

div#section-distrib {
    background-color: #303030;
    color: #f3f3f3;
}

div#section-distrib div > a.section-distrib.nav-anchor-link > svg {
    filter: drop-shadow(2px 2px 2px #7f7f7f4f);
}

div#section-distrib div > a.section-distrib.nav-anchor-link > svg > g {
    fill: #5f5f5f;
}

div#section-distrib div > a.section-distrib.nav-anchor-link:hover > svg {
    filter: drop-shadow(3px 4px 3px #7f7f7f9f);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

div#section-distrib div > a.section-distrib.nav-anchor-link:hover > svg > g {
    fill: #404040;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

div#section-distrib a.icon-section-link > svg {
    width: 22px;
    margin-top: -4px;
    fill: #606060 ;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

div#section-distrib a.icon-section-link:hover > svg {
    fill: #2059c0;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

div#section-distrib a.icon-section-link-wheat > svg {
    width: 76px;
    margin: 4px 12px 0;
    fill: #fcfcfc ;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

div#section-distrib a.icon-section-link-wheat:hover > svg {
    fill: #f1bc57;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

div#section-distrib a:hover {
    text-decoration: none;
}

div#section-distrib div.distrib-text-content {
    margin: 0 auto;
    max-width: 500px;
    font-size: 1.0625em;
    line-height: 1.4;
}

div#section-distrib div.distrib-text-content > ul {
    font-size: 0.9375em;
    font-weight: bold;
}

div#catalog-items {
    min-height: 250px;
}

div.catalog-switcher {
    position: fixed;
    width: 100%;
    top: 88px;
    opacity: 1;
    z-index: 20
}

div.catalog-switcher.navbar-hide {
    top: 5px;
}

div.catalog-switcher.catalog-switcher-hide{
    opacity: 0;
}

div.catalog-switcher,
div.catalog-switcher.navbar-hide,
div.catalog-switcher.catalog-switcher-hide{
    right: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

div.catalogo-article > div:nth-child(1) {
    background-size: cover;
    background-position: center center;
}

div.catalogo-article > div:nth-child(2) {
    color: white;
    background-color: #202020;
    display: table;
    text-align: center;
    min-height: 320px;
}

div.catalogo-article > div:nth-child(2) > *{
    margin: 25px 0;
    display: table-cell;
    vertical-align: middle !important;
}

div#catalog-items > div,
div.catalog-icon-group,
div.catalog-list-group,
div.catalog-list-item,
div.catalog-icon-item {
    background-color: #fff;
}

div#catalog-items hr.catalog-items-container {
    margin-top: 163px;
}

div.catalog-icon-group .catalog-list-item,
div.catalog-list-group .catalog-icon-item {
    display: none;
}

div.catalogo-items > div {
    cursor: pointer;
}

div.catalogo-items > div.catalog-icon-item > p,
div.catalogo-items > div.catalog-list-item > div > div > p {
    margin: 0;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 40px;
}

div.text-ellipsis {
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

div.row.catalogo-items img {
    max-width: 100%;
    height: 160px !important;
    object-fit: cover;
}

div.row.catalogo-items .catalog-icon-item img {
    transition: transform .5s;
}

div.row.catalogo-items .catalog-icon-item:hover img {
    transform: scale(1.1);
}

div.catalogo-items .catalog-icon-item:hover > p > span.font-blanch,
div.catalogo-items .catalog-list-item:hover > div > div > p > span.font-blanch {
    color: #f1a500;
    font-size: 1.875em;
    text-shadow: #e7e7e7 4px 3px 1px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

div.catalogo-items .catalog-icon-item > p > span.font-blanch,
div.catalogo-items .catalog-list-item > div > div > p > span.font-blanch  {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

div.catalog-list-item .catalog-list-image {
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 0;
}

div.catalog-list-item .catalog-list-image > img {
    max-height: 60px;
}

div#section-mail > div:nth-child(1){
    color: #e7e7e7;
    text-shadow: #000 2px 1px 2px;
    background: #202020;
}

div#section-mail > div:nth-child(1) h2{
    text-shadow: #000 4px 3px 2px;
}

div#section-mail > div:nth-child(1) input,
div#section-mail > div:nth-child(1) textarea,
div#section-mail > div:nth-child(1) button:not(.disabled){
    box-shadow: #0009 4px 3px 2px;
}

div#section-mail .form-fill-info {
    font-size: .875em;
}

div#section-mail > div.multi-container > div.alert-container {
    opacity: 1;
}

div#section-mail input.form-control,
div#section-mail textarea.form-control {
    background-color: #1000007f;
    font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-radius: 2px;
    font-size: 1.125em;
    color: #e7e7e7;
    text-shadow: #3336 2px 2px;
    border-color: #684c13;
}

div#section-mail input:-internal-autofill-selected {
    background-color: #2010107f;
}

div#section-mail button,
div#section-mail input.form-control,
div#section-mail textarea.form-control {
    font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-radius: 2px;
}

div#section-mail textarea.form-control {
    resize: none;
    font-size: 1em;
}

div#section-mail input.form-control::placeholder,
div#section-mail textarea.form-control::placeholder {
    color: #deb256;
    opacity: 1;
}

div#section-mail input.form-control:ms-input-placeholder,
div#section-mail textarea.form-control:ms-input-placeholder {
    color: #deb256;
}

div#section-mail input.form-control::ms-input-placeholder,
div#section-mail textarea.form-control::ms-input-placeholder {
    color: #deb256;
}

div#section-mail input.form-control::placeholder {
    font-size: 0.875em;
}

div#section-mail input.form-control:ms-input-placeholder {
    font-size: 0.875em;
}

div#section-mail input.form-control::ms-input-placeholder{
    font-size: 0.875em;
}

div#section-mail .text-muted {
    margin-bottom: -23px;
    padding-right: 5px;
    color: #deb256a7 !important;
}

div#section-mail .text-muted-checkbox {
    margin-top: -5px;
    margin-left: -10px;
    color: #ce0000 !important;
}

div#section-mail form .has-checkbox {
    padding-left: 35px;
    padding-right: 10px;
    margin-bottom: 5px;
}

div#section-mail form .has-checkbox a {
    color: #deb256;
}

div#section-mail form .has-checkbox a:hover {
    text-decoration: none;
}

div#section-mail .grecaptcha-badge {
    display: none !important;
}

div#section-mail div.input-field-alert,
div#section-mail div.input-checkbox-alert{
    position: absolute;
    top: 4px;
    right: 8px;
    max-width: calc(100% - 75px);
    background-color: #cd4c4cbf;
    border: indianred solid 1px;
    color: #ffebeb;
    text-shadow: #720c0c 1px 2px 1px;
    padding: 5px 8px;
    border-radius: 15px;
    font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .75rem;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.75;
}

div#section-mail div.input-checkbox-alert {
    top: -37px;
    left: 0;
    right: auto;
}

div#section-mail div.alert-hidden {
    visibility: hidden;
}

div#section-mail button.disabled {
    cursor: default;
    opacity: 0.5;
}

div#section-mail button.submit-button-hidden {
    display: none;
}

div#mail-send-page-content {
    font-size: 1.125em;
    min-height: calc(100vh - 551px);
}

div#mail-send-page-content > div.container > pre {
    font-size: .75em;
    border: #e3ab4f solid 1px;
    border-radius: 3px;
    margin: 0 12px 15px;
    padding: 8px 16px;
    background-color: #fafafa;
    white-space: pre-line;
}

div.map-container {
    margin-bottom: -7px;
    max-width: 100%;
}

div#section-map > iframe {
    width: 100%;
    padding-right: 0;
    height: 450px;
}

footer {
    padding-top: 15px;
    font-weight: 100;
    color: white;
    background-color: #373737;
    line-height: 1.375em;
}

footer > div:nth-child(2) {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color: #202020;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer a {
    color: #e8cc90;
 }

footer a:hover {
    color: #deb256;
    text-decoration: none;
 }

footer ul {
    list-style: none;
}

footer ul li::before {
    content: "\2022";
    color: #deb256;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -2.25em;
    margin-right: -0.5em;
}

footer div.col-md strong {
    display: block;
    margin-bottom: 12px;
    color: #deb256;
}

footer .footer-company-info {
    text-align: left;
}

footer .footer-social-links {
    text-align: right;
}

footer .img-footer {
    width: 195px;
    max-width: 100%;
    color: #deb256;
}

footer a.icon-footer-link {
    display: block-inline;
    margin: 0 5px;
}

footer .icon-footer {
    width: 24px;
    fill: #9f9f9f;
}

footer div.container > div.row > div:nth-child(4) > div {
    margin-top: 10px;
}

footer a.icon-footer-link:hover .icon-footer {
    fill: #deb256;
}

nav.navbar-cookie {
    background-color: #ffb826;
    line-height: 1.125rem;
    border-top: #ff7e08 solid 2px;
}

nav.navbar-cookie.navbar-cookie-hide {
    bottom: -190px;
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
}

nav.navbar-cookie.navbar-cookie-show {
    bottom: 0;
    -webkit-transition: all 0.75s 2s ease-in-out;
    -moz-transition: all 0.75s 2s ease-in-out;
    -o-transition: all 0.75s 2s ease-in-out;
    transition: all 0.75s 2s ease-in-out;
}

div.navbar-cookie-text > span:nth-child(1) {
    margin-bottom: 4px;
    font-size: 1.1875em;
    line-height: 1rem;
    font-weight: 600;
}

div.navbar-cookie-text > span > a {
    color: #b45304;
    font-size: 1.0625em;
    font-weight: bolder;
}

div.navbar-cookie-text > span > a:hover {
    text-decoration: none;
    color: #873d00;
    font-weight: bold;
}

nav.navbar-cookie button.close-cookie-banner {
    position: absolute;
    top: 5px;
    right: 10px;
}

nav.navbar-cookie button.close-cookie-banner > span {
    font-size: 1.25em;
}

.modal button.close {
    margin-top: -25px;
}

.modal .modal-body {
    padding-top: 35px;
    padding-bottom: 5px;
}

.modal .modal-body img {
    max-width: 100%;
    max-height: 241px;
}

.modal p,
.modal ul > li{
    font-size: .875em;
    line-height: 1.25em;
}

.modal p,
.modal ul > li,
.modal .item-details .row {
    color: #7F7F7F;
}

.modal ul {
    margin-top: -15px;
    padding-left: 20px;
}

.modal .item-details-header > div.col > p:first-child {
    margin-bottom: 10px;
}

.modal .item-details .row {
    margin-top: -10px;
    margin-bottom: -10px;
}

.modal .item-details img {
    margin: 0 auto;
    width: 45px;
}

.modal .item-details .row > div {
    font-size: 0.8125em;
    line-height: 1.125em;
    min-height: 60px;
}

.modal .item-details .row > div:not(:first-child) {
    margin-left: -15px;
    padding-left: 0;
}

.modal .item-details .row > div:not(:last-child) {
    border-right: 1px solid #cfcfcf;
    padding-right: 0;
    margin-right: 15px;
}

.modal p > span.font-blanch {
    font-size: 2.5em;
    line-height: 0.875em;
    color: #404040;
}

.modal .item-details-footer {
    color: #747474;
}

.modal .item-details-footer div.item-price-info strong {
    font-size: 1.375em;
}

.modal div.cart-content .modal-header {
    background-color: #deb256;
    border-bottom: 1px solid #f1a500;
}

.modal button#close-cart-content {
    font-size: 2.25em;
    margin-bottom: -28px;
}

.modal .cart-buttons-wrapper button.btn-block {
    padding: .375rem .25rem !important;
    width: 99%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}

.modal div.cart-content .modal-body {
    padding-top: 10px;
    width: 100%;
    max-width: 650px;
}

div.cart-content .row.cart-total-container h5,
div.cart-content .cart-title {
    font-weight: 300;
}

.modal div.cart-content .modal-body .cart-title,
div.cart-content .row.cart-total-container,
div.cart-content form.cart-form button.btn,
form.order-form button.btn,
form.order-form a.btn,
div.cart-content .cart-title {
    font-family: "Segoe UI", Roboto, BlinkMacSystemFont, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Symbol";
}

.row.cart-total-container h5 > span {
    font-family: 'ITC Franklin Gothic Std Book Condensed', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1875em;
    font-weight: 700;
    color: #3f474f;
}

.row.cart-list-container {
    border-top: #404040 solid 12px;
    border-bottom: #b7b7b7 solid 2px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.modal .row.cart-list-container {
    height: calc(100vh - 350px);
    max-height: calc(100vh - 350px);
}

#checkout-order-summary .row.cart-list-container,
#return-order-summary .row.cart-list-container {

    min-height: 25px;
    max-height: 275px;
}

.row.cart-list-container::-webkit-scrollbar {
    display: none;
}

.modal div.cart-content .row.cart-total-container {
    height: 70px;
    border-bottom: #404040 solid 12px;
}

div.modal#legalModal > div#legalDialog {
    min-height: calc(100% - .5rem);
    max-height: calc(100% - .5rem);
    margin: .25rem auto;
    font-family: "Segoe UI", Roboto, BlinkMacSystemFont, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

div.modal#legalModal > div#legalDialog > div.modal-content > div#legal-advice-content::-webkit-scrollbar{
    display: none;
}

div.modal#legalModal > div#legalDialog > div.modal-content > div#legal-advice-content{
    min-height: calc(100vh - 142px);
    /*background-color: #373737;*
    /*color: #cfcfcf;*/
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

div#legal-advice p {
    margin-bottom: 0.75rem;
}

.modal div#legal-advice p {
    margin-bottom: 1.5rem;
    line-height: 1.375;
}

div#legal-advice li {
    margin-bottom: 0.375rem;
}

div#legal-advice p,
div#legal-advice li {
    color: #4a4a4a;
    line-height: 1.375;
}

div#legal-advice h4,
div#legal-advice h5 {
    margin-bottom: 0.75em;
}

div#legal-advice h5 {
    margin-bottom: 1rem;
}

div.modal#legalModal .modal-header > h5 {
    max-width: calc(100% - 2em);
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.modal div.modal-dialog#legalDialog p {
    text-align: justify;
}

table.cookie-table {
    font-size: .75em;
    line-height: 1.375;
}

div.cart-content .row.cart-total-container > h5 {
    white-space: nowrap;
}

.row-cart-list-item  {
    padding-top: .0625rem;
    padding-bottom: .3125rem;
    font-size: 1.125em;
}

.row-cart-list-item:not(:nth-child(1))  {
    border-top: #ececec solid 1px;
}

.row-cart-list-item div:nth-child(1) img {
    width: 48px;
    height: 36px;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.row-cart-list-item div.cart-list-item-description p:nth-child(1),
.row-cart-list-item div.cart-list-item-subtotal p:nth-child(1) {
    font-size: 1.0625em;
    font-weight: bold;
    color: #404040;
}

.row-cart-list-item div.cart-list-item-description p:nth-child(2) span,
.row-cart-list-item div.cart-list-item-qty > label,
.row-cart-list-item div.cart-list-item-qty .label,
.row-cart-list-item div.cart-list-item-subtotal > p:nth-child(2) {
    font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: .625em;
    color: #9f9f9f;
}

.row-cart-list-item div.cart-list-item-qty > label,
.row-cart-list-item div.cart-list-item-qty .label,
.row-cart-list-item div.cart-list-item-qty span.qty {
    position: relative;
    top: .3125em;
    color: #a7a7a7;
}

.row-cart-list-item div.cart-list-item-qty span.qty {
    font-size: .875em;
    font-weight: 600;
}

.row-cart-list-item span.cart-list-item-price {
    color: #c19f5c !important;
    font-weight: 700;
    font-size: .75rem !important;
}

.row-cart-list-item div.cart-list-item-subtotal > p:nth-child(2) {
    margin-top: .375em;
    margin-right: .5em;
    font-size: .5em;
    font-weight: 700;
}

.row-cart-list-item div.cart-list-item-subtotal > p:nth-child(2) > a {
    color: #8595ad;
}

.row-cart-list-item div.cart-list-item-subtotal > p:nth-child(2) > a:hover {
    text-decoration: none;
    color: #5b718e;
}

div.cart-in-payment-return {
    font-family: 'ITC Franklin Gothic Std Book Condensed', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

div.cart-content .modal-body div.cart-list-item-link {
    cursor: pointer;
}

form.cart-form button.btn,
form.order-form button.btn,
form.payment-form button.btn,
form.order-form a.btn,
div#checkout-personal-info a.btn,
div.return-ko-payment a.btn {
    font-size: .875em;
    color: #404040;
    border-radius: 1px;
}

#confirm-order label[for="opt-ship"] {
    line-height: 1.125em;
    margin-top: .3125em;
}

form.payment-form button.btn {
    font-family: "Segoe UI", Roboto, BlinkMacSystemFont, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

form.cart-form button.btn:hover,
form.order-form button.btn:hover,
form.order-form a.btn:hover,
form.order-form a.btn:focus,
div#checkout-personal-info a.btn:hover,
div#checkout-personal-info a.btn:focus {
    color: #202020;
    text-decoration: none;
}

form.cart-form button.btn-warning,
form.order-form button.btn-warning,
form.payment-form button.btn-warning,
div.return-ko-payment a.btn-warning {
    color: #303030;
    background-image: linear-gradient(#f1a500, #f1a500 20%, #ffc856 100%);
}

form.cart-form button.btn-warning:not(:disabled):hover,
form.order-form button.btn-warning:not(:disabled):hover,
form.payment-form button.btn-warning:not(:disabled):hover,
div.return-ko-payment a.btn-warning:not(:disabled):hover {
    box-shadow: #7f7f7f 2px 3px 6px;
}

form.order-form label[for="personal-zip"] {
    display: inline-block;
}

select.form-control-xs {
    display: inline-block;
    height: calc(1em + .5rem + 2px);
    margin-top: 5px;
    padding: 0.0625rem .25rem;
    font-size: .75rem;
    line-height: 1;
    border-radius: .1rem;
}

div.order-cart-summary > div,
div.order-customer-details > div {
    height: 100%;
}

div.order-cart-summary > div > div,
div.order-customer-details > div > form {
    height: 100%;
    padding: 1.5em;
    background-color: #f9f9f9;
    border: #ddd solid 1px;
    border-radius: 2px;
    box-shadow: #0003 0 0 10px;
}

div.order-subtotal-desc {
    font-size: .875em;
}

form#confirm-order label {
    color: #202020;
    font-size: .875em;
}

form#confirm-order label.text-muted {
    font-size: .75em;
}

.reduce-text-size {
    font-size: .875em;
    color: #7f7f7f;
}

.ship-cost-sthrough {

}

div.order-cart-summary a[href="#collapseOrderCart"],
div.cart-content a[href="#collapseCartList"],
div.return-order-details a[href="#collapsePayReturnCart"]{
    color: #7F7F7F;
    font-size: .875em;
}

div.order-cart-summary a[href="#collapseOrderCart"]:hover,
div.order-cart-summary a[href="#collapseOrderCart"]:focus,
div.cart-content a[href="#collapseCartList"]:hover,
div.cart-content a[href="#collapseCartList"]:focus,
div.return-order-details a[href="#collapsePayReturnCart"]:hover,
div.return-order-details a[href="#collapsePayReturnCart"]:focus {
    text-decoration: none;
}

div#payment-return-page .transaction-info-key {
    font-size: .75em;
    margin-top: .3125em;
}

div#payment-return-page .order-description-key {
    font-size: .75em;
    margin-top: .1875em;
}

div#payment-return-page .order-description-value {
    font-size: .875em;
}

div.order-cart-summary div.order-cart-details {
    font-size: .75em;
    padding: 8px;
    border-color: #dfdfdf;
    border-radius: 0;
    color: #404040;
    background-color: #f3f3f3;
}

div.order-cart-total {
    background-color: #d2d5e8;
}

span.order-cart-total-text {
    font-family: 'ITC Franklin Gothic Std Book Condensed', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1875em;
    font-weight: 700;
}

div.order-cart-total-amount {
    min-width: 75px;
    white-space: nowrap;
}

div.order-cart-description {
    color: #535353;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.order-cart-description,
div.order-cart-amount {
    font-family: 'ITC Franklin Gothic Std Book Condensed', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.0625rem;
    font-weight: 600;
    white-space: nowrap;
    text-shadow: #fffa 2px 2px;
}

div.order-cart-amount {
    margin-top: -2px;
}

div#checkout-personal-info {
    font-size: .875em;
    color: #404040;
}

div#checkout-personal-info h6,
p.checkout-order-id {
    font-family: "Segoe UI", Roboto, BlinkMacSystemFont, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

div#checkout-personal-info p {
    margin-bottom: .5em;
    font-weight: 600;
    line-height: 1.15;
}

div#checkout-personal-info small {
    color: #7F7F7F;
}

div.checkout-subtotal-desc {
    margin-top: .1875em;
    font-size: .75em;
}

div.checkout-subtotal-value {
    font-size: .875em;
}

p.checkout-order-id {
    margin-bottom: .5em;
    font-size: .8375em;
    line-height: 1.25;
    color: #7f7f7f;
}

p.checkout-order-id > strong {
    color: #f1a500;
}

.popover-content, .popover-body {
    font-size: .875em; !important;
}

.popover-title, .popover-header {
    background-color: #deb256;
    font-size: 1.0625em; !important;
}

p#helpPostalCode {
    margin-top: .5em;
    font-size: .75rem;
    line-height: 1.25em;
}

div.div-display-none{
    display: none;
}

div.div-display-block{
    display: block;
}

div#shippingInfoModal div.modal-content{
    border-radius: 0;
}

@media (min-width: 576px) {

    form .has-checkbox {
        text-align: left;
    }

    .modal .modal-content.cart-content {
        height: calc(100vh - 60px);
    }

}

@media (max-width: 576px) {

    form .has-checkbox {
        text-align: left;
    }

    div#section-mail > div.multi-container {
        min-height: 500px;
    }

    div#section-mail > div.multi-container > div.image-background {
        min-height: 500px;
    }

    footer .footer-company-info,
    footer .footer-social-links {
        text-align: center;
    }

    footer .footer-social-links {
        margin-bottom: 2rem;
    }

    .modal .cart-buttons-wrapper button.btn-block {
        font-size: .875em;
    }

    .modal .modal-content.cart-content {
        height: calc(100vh - 16px);
    }

    .modal .modal-body > .row.cart-list-container {
        height: calc(100vh - 305px);
        max-height: calc(100vh - 305px);
    }

    .modal div.modal-dialog#legalDialog > div {
        background-color: #373737;
        color: #e7e7e7;
        border: #535353 solid 1px;
    }

    .modal div.modal-dialog#legalDialog p,
    .modal div.modal-dialog#legalDialog ul > li  {
        color: #e3e3e3;
        text-align: left;
    }

    .modal div.modal-dialog#legalDialog .close {
        color: #f3f3f3;
    }

    .modal div.modal-dialog#legalDialog h4,
    .modal div.modal-dialog#legalDialog b {
        color: #deb256;
    }

    .modal div.modal-dialog#legalDialog .modal-header,
    .modal div.modal-dialog#legalDialog .modal-footer {
        border-color: #535353 !important;
    }
}

/* styles for desktop only */
@media (min-width: 768px) {

    .modal .modal-body .item-details-header {
        min-height: 60%;
    }

    .modal .modal-body .item-details-container {
        min-height: 40%;
        position: relative;
    }

    .modal .modal-body .item-details {
        position: absolute;
        bottom: 0;
    }

    .modal .modal-body .desktop-only {
        min-height: 245px;
    }

    .modal-lg, .modal-xl {
        max-width: 800px;
    }

    .modal .modal-body .item-details {
        width: calc(100% - 30px) !important;
    }
}

/* styles for mobile only */
@media (max-width: 767px) {

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .text-left-md {
        text-align: left !important;
    }

    p.text-reduce-md-1 {
        font-size: .9375em;
    }

    p.text-reduce-md-2 {
        font-size: .875em;
    }

    .add-width-md-1 {
        margin-left: -8px;
        margin-right: -8px;
    }

    .add-width-md-2 {
        margin-left: -16px;
        margin-right: -16px;
    }

    div.logo-brand-left > img,
    div.logo-brand-right > img {
        height: 115px;
    }

    nav#main-navbar:not(.navbar-transparent) svg.logo-brand-navbar {
        display: none;
    }

    div#section-distrib p.text-justify {
        text-align: left;
    }

    div#section-distrib div.distrib-text-content {
        font-size: 1rem;
    }

    div.catalogo-article > div:nth-child(1) {
        display: none;
    }

    div.catalogo-article > div:nth-child(2) {
        min-height: 118px;
    }

    #section-catalogo > h2 > span,
    #section-distrib h2 > span,
    div.map-container h2 > span,
    div.catalogo-article > div:nth-child(2) h2 span {
        font-size: 1.25em;
    }

    div.catalogo-article > div:nth-child(2) > h2{
        margin: 35px 0;
        display: block;
    }

    nav.bg-transparent {
        background-color: #FFFFFFCF !important;
    }

    nav.bg-transparent[data-style="navbar-min"] {
        background-color: #FFFFFF27 !important;
    }

    footer > div:nth-child(1) > div > div:nth-child(1) {
        margin-top: 15px;
    }

    .modal .item-details-header p {
        text-align: center;
    }

    .modal .item-details-header > div.col > p:nth-child(2) {
        text-align: left;
    }
}

/* extended mobile only styles */
@media (max-width: 991px) {

    .desktop-xl-only {
        display: none;
    }

    .mobile-xl-only {
        display: block;
    }

    footer > div:nth-child(1) > div > div:nth-child(4) {
        display: none;
    }

    nav#main-navbar .btn-cart {
        background-color: #fff0;
        color: #0009;
        border: #0002 solid 1px;
    }

    nav#main-navbar:not(.navbar-transparent) .btn-secondary.btn-cart {
        margin-top: 2px;
        color: #404040;
        background-color: #deb256;
        border: #bf9743 solid 1px;
    }

    nav#main-navbar:not(.navbar-transparent) .btn-secondary.btn-cart > .cart-svg-wrapper > svg {
        color: #404040;
    }

    nav#main-navbar ul > li.nav-item {
        line-height: 1;
    }

    nav#main-navbar ul > li.nav-item > .nav-link {
        /*padding: .25rem 1rem;*/
    }

    nav#main-navbar .nav-language-option a.nav-link {
        font-size: 1.25em;
        font-weight: normal;
        padding: .25rem .3125rem;
        line-height: 1.125;
    }

    nav#main-navbar .form-inline > div.nav-language-option:nth-child(1) {
        margin-left: auto!important;
    }
}

@media (min-width: 992px) {

    div.order-cart-summary > div > div,
    div.order-customer-details > div > form {
        max-width: 650px;
    }

    div#checkout-order-summary,
    div#payment-redirect,
    div#payment-return {
        max-width: 700px;
    }
}
