
div#section-bolleria > div:nth-child(1){
    background: #202020;
}

div#section-pan > div:nth-child(1){
    background: #202020;
}

div#section-salado > div:nth-child(1){
    background: #202020;
}

div#section-postres > div:nth-child(1){
    background: #202020;
}

div#section-mail > div.multi-container > div.image-background {
    background: #202020;
}

@media (max-width: 767px) {
    .jumbotron#head-first {
        background: #fcc199;
    }
}