
div#section-campanyas > div:nth-child(1){
    background-image: url("../img/sections/time-273857_1920.jpg");
}

div#section-bolleria > div:nth-child(1){
    background-image: url("../img/sections/bolleria.jpg");
}

div#section-pan > div:nth-child(1){
    background-image: url("../img/sections/pan.jpg");
}

div#section-salado > div:nth-child(1){
    background-image: url("../img/sections/salado.jpg");
}

div#section-postres > div:nth-child(1){
    background-image: url("../img/sections/postres.jpg");
}

@media (max-width: 767px) {
    .jumbotron#head-first {
        background-image: url("../img/sections/pan-mobile.jpg");
    }
}

@media (min-width: 768px) {
    div#section-mail div.form-container {
        background-image: url("../img/sections/workshop.jpg");
        background-size: cover;
        background-position: center center;
    }
}
