<div class="modal fade bd-example-modal-lg" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content cart-content">
            <div class="modal-header">
                <button type="button" id="close-cart-modal" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body cart-container px-4 px-md-0 mx-auto">
                <h3 class="cart-title modal-title">{{ 'mi cesta'|trans|upper }}</h3>

                <div class="row mt-3 cart-list-container">
                    <div class="col" id="cart-list">

                    </div>
                </div>
                <div class="row py-2 cart-total-container">
                    <div class="col-sm-8 ml-auto text-right">
                        <h5>{{ messages.total_cesta|trans|capitalize }}: &nbsp;
                            <span class="cart-total-amount">&zwnj;</span>
                        </h5>
                    </div>
                </div>
                <form class="cart-form" action="{{ index_url }}order" method="post">
                    <input type="hidden" name="cart" id="json-cart">
                    <div class="row pt-2">
                        <div class="col-6 col-md-4 px-0 px-md-4 ml-auto text-right">
                            <button class="btn btn-link ml-auto px-0" data-dismiss="modal" aria-label="Close">
                                <span class="desktop-only">&#9664; &nbsp;</span>{{ messages.shopping|trans|upper }}
                            </button>
                        </div>
                        <div class="col-6 col-md-4 pr-0 pl-2 pl-md-4">
                            <button class="btn btn-warning btn-block" id="submit-cart" type="submit">
                                {{ messages.checkout|trans|upper }}&nbsp; &#9654;
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>