{% for index,section in sections %}
    {% if catalog[index] is defined %}
        {% for key,item in catalog[index] %}
            {% if item.hide is not defined or item.hide != true %}
            {% set description_tags = 0 %}
            <div class="modal fade bd-example-modal-lg" id="id-{{ key }}" tabindex="-1" role="dialog" aria-labelledby="id-{{ key }}Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="row">
                                <div class="col-6 text-center desktop-only">
                                    <img src="{{ asset('api/image') }}/{{ item.image_file[0] ?? 'no-image' }}" loading="lazy" alt="{{ key }} {{ item.name }}">
                                </div>
                                <div class="col">
                                    <div class="row item-details-header">
                                        <div class="col">
                                            <p>
                                                <span class="font-blanch">{{ item.name }}</span>
                                            </p>
                                            <p>
                                                {{ (item.description is defined ? item.description : '...')|raw }}
                                                {% if item.description_options is defined %}
                                            <ul>
                                                {% for option in item.description_options %}
                                                    {% if option %}
                                                        <li>{{ option }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row text-center mobile-only">
                                        <img src="{{ asset('api/image') }}/{{ item.image_file[0] ?? 'no-image' }}" loading="lazy" alt="{{ key }} {{ item.name }}">
                                    </div>
                                    <div class="row item-details-container">
                                        <div class="col">
                                            <div class="item-details">
                                                <hr>
                                                <div class="row">
                                                    {% for description_index in ['size','weight','units','piece','decorated'] %}
                                                        {% if item[description_index] is defined %}
                                                            {% set description_tags = description_tags + 1 %}
                                                            <div class="col text-center">
                                                                <div>
                                                                    <img src="{{ asset('img/icons') }}/{{ description_index }}.svg" alt="size">
                                                                </div>
                                                                {% if description_index in ['size','weight'] %}
                                                                    {{ item[description_index] }}
                                                                {% else %}
                                                                    {{ item[description_index]|trans }}
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if item.cold is defined %}
                                                        {% set cold_tag_width = description_tags < 3 ? 6 : description_tags > 3 ? 4 : 5 %}
                                                        <div class="col-{{ cold_tag_width }} text-center">
                                                            <div>
                                                                <img src="{{ asset('img/icons/cold.svg') }}" alt="cold">
                                                            </div>
                                                            {{ item.cold|trans }}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- /row -->
                            <div class="row item-details-footer">
                                <div class="col">
                                    <div class="item-price-info">
                                        {% set currency = '€' %}
                                        {% set disabled = '' %}
                                        {% if item.price_unit is defined %}
                                            {% set text = '/ ' ~ 'unidad'|trans %}
                                            {% set price = item.price_unit|number_format(2, '.', ',') %}
                                        {% elseif item.price_kilo is defined %}
                                            {% set text = '/ kg.' %}
                                            {% set price = item.price_kilo|number_format(2, '.', ',') %}
                                        {% else %}
                                            {% set text = '' %}
                                            {% set price = 'consultar'|trans %}
                                            {% set disabled = '' %}
                                            {% set currency = '' %}
                                        {% endif %}
                                        {% if item.price_pack is defined  %}
                                            {% set text = '/ pack (' ~ price ~ currency ~ ' ' ~ ('unidad'|trans) ~ ')' %}
                                            {% set price = item.price_pack|number_format(2, '.', ',') %}
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row pb-2 pb-md-0">
                                                    <div class="col">
                                                        {{ 'precio'|trans|capitalize }}: &nbsp;
                                                        <strong>
                                                            {{ price }} {{ currency }}
                                                        </strong>
                                                    </div>
                                                    <div class="col-4 pl-0 pr-md-0">
                                                        <select class="form-control cart-item-{{ key }}" onchange="cart.set('{{ key }}', this, true)" {{ disabled }}>
                                                        {% for i in 0..10 %}
                                                            <option {{ i == 10 ? 'class="last-option"' : '' }}value="{{ i }}"> {{ i == 0 ? '-' : i }}</option>
                                                        {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row cart-buttons-wrapper">
                                                    <div class="col pl-3 pr-1">
                                                        <button class="btn btn-outline-dark btn-block" onclick="cart.add('{{ key }}', true) {{ disabled }}">
                                                            {{ messages.anadir_a_cesta|trans }}
                                                        </button>
                                                    </div>
                                                    <div class="col px-1">
                                                        <button class="btn btn-outline-dark btn-block" onclick="cart.remove('{{ key }}', true) {{ disabled }}">
                                                            {{ messages.quitar_de_cesta|trans }}
                                                        </button>
                                                    </div>
                                                    <div class="col pl-1 pr-3">
                                                        <button class="btn btn-warning btn-block" data-toggle="modal" data-target="#cartModal" data-dismiss="modal" >
                                                            {{ messages.ver_cesta|trans }}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  <!-- /modal -->
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
