<!-- Modal -->
<div id="legalModal" class="modal fade" tabindex="-1" aria-labelledby="legalLabel" aria-hidden="true">
    <div id="legalDialog" class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="legal-label">
                    {{ 'política de privacidad y protección de datos'|trans|capitalize }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="legal-advice-content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">{{ 'He leido y acepto las condiciones.' }}</button>
            </div>
        </div>
    </div>
</div>