{% extends 'security/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <form method="post">
            {% if error %}
                <div class="row">
                    <div class="col-2">&zwnj;</div>
                    <div class="col text-center">
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    </div>
                    <div class="col-2">&zwnj;</div>
                </div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h4 class="h4 mb-3 font-weight-normal">Please sign in</h4>

            <div class="row">
                <div class="col-6 col-md-4">
                    <label for="inputUsername">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                </div>
                <div class="col-6 col-md-4">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <button class="btn btn-primary" type="submit">
                        Sign in
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
