{% extends 'base.html.twig' %}

{% block header %}
    {% include 'navbar-min.html.twig' %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="head-cart" class="jumbotron">
        <div class="container head-first-dark">
            <img src="{{ asset('img/logo-obrador-text-dark.svg') }}" alt="Ca La Maria" class="img-center">
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="cart-checkout-page" class="container my-0 py-4">

        <div class="row">
            <div id="checkout-personal-info" class="col-12 col-lg-3">
                <div class="row">
                    <div class="col-6 col-lg-12 p-3">
                        <h6>
                            {{ 'dirección de facturación'|trans|upper }}
                        </h6>
                        <p>
                            <small>{{ 'nombre'|trans|capitalize }}:</small><br>
                            {{ form.personal.fname }} {{ form.personal.lname }}
                        </p>
                        <p>
                            <small>{{ 'teléfono'|trans|capitalize }}:</small><br>
                            {{ form.personal.phone }}
                        </p>
                        <p>
                            <small>Email:</small><br>
                            {{ form.personal.email }}
                        </p>
                        {% for key, value in form.invoice %}
                            <p>
                                <small>{{ messages[key]|trans|capitalize }}:</small><br>
                                {{ value }}
                            </p>
                        {% endfor %}
                    </div>
                    <div class="col-6 col-lg-12 px-3 py-3 pt-lg-0">
                        {% if form.delivery == 'pick' %}
                        <h6>
                            {{ 'recoger en tienda'|trans|upper }}
                        </h6>
                        {% else %}
                        <h6>
                            {{ 'dirección de envío'|trans|upper }}
                        </h6>
                            {% for key, value in form.delivery %}
                                <p>
                                    <small>{{ messages[key]|trans|capitalize }}:</small><br>
                                    {{ value }}
                                </p>
                            {% endfor %}
                        {% endif %}
                        <hr>
                        <p>
                            <small>{{ 'fecha de entrega'|trans|capitalize }}:</small><br>
                            {{ date.weekday|trans|capitalize }},
                            {{ date.day }}
                            {{ date.month|trans|capitalize }}
                            {{ date.year }}
                        </p>
                        <p class="mb-0 text-right">
                            <a class="btn btn-outline-secondary mt-4" href="{{ index_url }}order">
                                <span class="desktop-only">&#9664; &nbsp;</span>{{ 'modificar datos'|trans|upper }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9 mt-3 mt-lg-0">
                <div class="row">
                    <div class="col ml-lg-4" id="checkout-order-summary">
                        <div class="px-4 px-md-0">
                            <div class="pt-3 cart-content col">
                                <h3 class="cart-title">{{ 'mi pedido'|trans|upper }}</h3>
                                <div class="row">
                                    <div class="col pl-1">
                                        <p class="checkout-order-id">
                                            <strong>ID:</strong> &nbsp;{{ order.uuid }}
                                            <!-- {{ order.order_id }} -->
                                        </p>
                                        <p class="mb-1">
                                            <a data-toggle="collapse" href="#collapseCartList" aria-expanded="false" aria-controls="collapseCartList" class="collapsed">
                                                Ver detalles &#9660;
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="row cart-list-container">
                                    <div class="col collapse" id="collapseCartList">
                                    {% for key, item in cart.items %}
                                        <div class="row row-cart-list-item">
                                            <div class="col-12 col-lg-7 pl-0">
                                                <div class="row pt-1 cart-list-item-link" data-toggle="modal" data-target="#id-{{ key }}" data-dismiss="modal" >
                                                    <img class="ml-3 mr-1" src="{{ asset('api/image/') }}{{ item.image.0 ?? '' }}" alt="{{ key }}">
                                                    <div class="col pl-1 pt-1 cart-list-item-description">
                                                        <p class="text-left mb-0">{{ item.name }}
                                                            <span class="cart-list-item-price"> &nbsp; {{ item.price|number_format(2) }} €</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-5 ml-auto ml-lg-0">
                                                <div class="row pt-1">
                                                    <div class="pr-2 ml-auto text-right cart-list-item-qty" style="width: 80px">
                                                        <p class="mb-0">
                                                            <span class="label">
                                                                {{'qty'|trans|upper}}. :&nbsp;
                                                            </span>
                                                            <span class="qty">
                                                                {{ item.qty }}
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="pr-2 pt-1 cart-list-item-subtotal" style="width: 80px">
                                                        <p class="text-right mb-0 cart-item-subtotal-{{ key }}">{{ item.amount|number_format(2) }} €</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                                <div class="row py-2 cart-total-container">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-5 col-md-6 col-sm-8 col-10">
                                                <div class="row">
                                                    <div class="col-7 p-0 checkout-subtotal-desc">
                                                        {{ 'total cesta'|trans|upper }} :
                                                    </div>
                                                    <div class="col-5 checkout-subtotal-value text-right">
                                                        <strong>{{ cart.amount|number_format(2) }} €</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-5 col-md-6 col-sm-8 col-10">
                                                <div class="row">
                                                    <div class="col-7 p-0 checkout-subtotal-desc">
                                                        {{ 'envío'|trans|upper }} :
                                                    </div>
                                                    <div class="col-5 checkout-subtotal-value text-right">
                                                        <strong>{{ order.delivery|number_format(2) }} €</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 ml-auto mt-4 text-right">
                                        <h5>{{ 'total pedido'|trans|capitalize }}: &nbsp;
                                            <span class="cart-total-amount">{{ order.total|number_format(2) }} €</span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {#                <div class="cardinfo-card-number">#}
                        {#                    <label class="cardinfo-label" for="card-number">Numero de tarjeta</label>#}
                        {#                    <div class='input-wrapper' id="card-number"></div>#}
                        {#                </div>#}
                        {#                <div class="expiry-date">#}
                        {#                    <div class="cardinfo-exp-date">#}
                        {#                        <label class="cardinfo-label" for="expiration-date">Mes Caducidad (MM)</label>#}
                        {#                        <div class='input-wrapper' id="expiration-month"></div>#}
                        {#                    </div>#}
                        {#                    <div class="cardinfo-exp-date2">#}
                        {#                        <label class="cardinfo-label" for="expiration-date2">Año Caducidad (AA)</label>#}
                        {#                        <div class='input-wrapper' id="expiration-year"></div>#}
                        {#                    </div>#}
                        {#                    <div class="cardinfo-cvv">#}
                        {#                        <label class="cardinfo-label" for="cvv">CVV</label>#}
                        {#                        <div class='input-wrapper' id="cvv"></div>#}
                        {#                    </div>#}
                        {#                </div>#}

                        {#                <button id="boton"></button>#}

                    </div>
                </div>
                <form class="row payment-form" name="from" action="{{ redsys.ds_paymentURL }}" method="POST">
                    <input type="hidden" name="Ds_SignatureVersion" value="{{ redsys.ds_signatureVersion }}"/>
                    <input type="hidden" name="Ds_MerchantParameters" value="{{ redsys.ds_merchantParameters }}"/>
                    <input type="hidden" name="Ds_Signature" value="{{ redsys.ds_signature }}"/>
                    <div class="col ml-lg-4 mt-4 p-3 text-center" id="payment-redirect">
                        <div class="row">
                            <div class="col ml-4 text-left">
                                <input class="form-check-input" type="checkbox" data-description="Terms" name="terms"
                                       id="Terms" required />
                                <label class="form-check-label" for="Terms">
                                    {{ 'confirmo que he leído y acepto los'|trans|capitalize }}
                                    <a href="#legalModal" data-toggle="modal" data-target="#legalModal"
                                       onclick="loadLegalContent('terms', '{{ 'términos y condiciones generales'|trans|capitalize }}')">
                                        {{ 'términos y condiciones generales'|trans|capitalize }}</a>
                                    {{ 'de venta'|trans }}.*
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-warning btn-lg mt-4 px-4 pay-button-popover" id="submit-cart" data-toggle="popover"
                                        data-trigger="hover" data-placement="top" {{ pay.disabled }} type="submit"
                                        data-content="{{ 'A continuación será redirigido a la página de pago con tarjeta de crédito de <b>Redsýs</b>'|trans|raw }}." >
                                    {{ pay.text|upper }}&nbsp; &#9654;
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="pay-popover"></div>
{#    <div id="card-form">#}
{#    </div>#}

{#    <input type="hidden" id="token" >#}
{#    <input type="hidden" id="errorCode" >#}
{% endblock %}

{% block order_js %}
{#    <script src="https://sis-t.redsys.es:25443/sis/NC/sandbox/redsysV2.js"></script>#}
    <script src="{{ asset('js/checkout.js') }}" async defer></script>
{% endblock %}