{% extends 'base.html.twig' %}

{% block header %}
    {% include 'navbar-min.html.twig' %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="head-cart" class="jumbotron">
        <div class="container head-first-dark">
            <img src="{{ asset('img/logo-obrador-text-dark.svg') }}" alt="Ca La Maria" class="img-center">
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="cart-order-page">
        <div class="container pt-5">
            <div class="mx-auto" style="max-width: 600px !important;">
                <h3 class="pb-5">{{ 'no hay ningún pedido'|trans|upper }}</h3>
                <p>
                    {{ 'volver a la'|trans|capitalize }} <a href="{{ index_url }}">{{ 'página principal'|trans }}</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}