{% extends 'base.html.twig' %}

{% block header %}
    {% include 'navbar-min.html.twig' %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="head-cart" class="jumbotron">
        <div class="container head-first-dark">
            <img src="{{ asset('img/logo-obrador-text-dark.svg') }}" alt="Ca La Maria" class="img-center">
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="cart-order-page" class="container my-0 py-4">
        <div class="row">
            <div class="col-lg-9 order-sm-1 order-lg-2 order-customer-details">
                <div class="row">
                    <form id="confirm-order" action="{{ index_url }}checkout" method="post" class="col mx-auto mx-lg-4 order-form" autocomplete="off">
                        <h3>{{ 'mi pedido'|trans|upper }}</h3>
                        <h6 class="mb-2 mt-3">{{ 'información personal'|trans|upper }}</h6>
                        <div class="form-row">
                            <div class="col-12 col-md-6">
                                <label for="firstname" class="form-text text-muted mb-1">{{ messages.fname|trans|capitalize }}*</label>
                                <input type="text" name="personal[fname]" id="firstname" class="form-control" placeholder="{{ messages.fname|trans|capitalize }}"
                                       value="{{ form.personal.fname is defined ? form.personal.fname : '' }}" autocomplete="off"
                                       pattern="([A-z-À-ž\s]+){2,}" title="{{ messages.validacion_campo_name|trans }}" required >
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="lastname" class="form-text text-muted mb-1">{{ messages.apellido|trans|capitalize }}*</label>
                                <input type="text" name="personal[lname]" id="lastname" class="form-control" placeholder="{{ messages.apellido|trans|capitalize }}"
                                       value="{{ form.personal.lname is defined ? form.personal.lname : '' }}" autocomplete="off"
                                       pattern="([A-z-À-ž\s]+){2,}" title="{{ messages.validacion_campo_name|trans }}" required >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-md-8">
                                <label for="email" class="form-text text-muted mb-1">Email*</label>
                                <input type="email" name="personal[email]" id="email" class="form-control" placeholder="Email"
                                       value="{{ form.personal.email is defined ? form.personal.email : '' }}" autocomplete="off"
                                       pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                                       title="{{ messages.validacion_campo_email|trans }}" required >
                            </div>
                            <div class="col-6 col-md-4">
                                <label for="personal-zip" class="form-text text-muted mb-1">{{ 'código postal'|trans|capitalize }}*</label>
                                <a data-toggle="popover" data-trigger="hover" class="postal-code-popover" data-placement="top"
                                   title="{{ 'info código postal'|trans|capitalize }}"
                                   data-content="{{ 'introduce tu código postal y comprueba si puedes recibir tu pedido a domicilio'|trans|capitalize }}." >
                                    <svg width="1.0625em" height="1.0625em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                    </svg>
                                </a>
                                <input type="tel" name="personal[zip]" id="personal-zip" class="form-control" placeholder="{{ 'código postal'|trans|capitalize }}"
                                       value="{{ form.personal.zip is defined ? form.personal.zip : '' }}" autocomplete="off"
                                       pattern="[0-9]{5}" maxlength="5" title="{{ messages.validacion_campo_zip|trans }}" required>
                                <input type="hidden" name="personal[city]" id="personal-city" disabled>
                            </div>
                            <div class="col-6 col-md-4">
                                <label for="phone" class="form-text text-muted mb-1">{{ messages.telefono|trans|capitalize }}</label>
                                <input type="tel" name="personal[phone]" id="phone" class="form-control" placeholder="{{ messages.telefono|trans|capitalize }}"
                                       value="{{ form.personal.phone is defined ? form.personal.phone : '' }}" autocomplete="off"
                                       title="{{ messages.validacion_campo_phone|trans }}" required >
                            </div>
                        </div>
                        <hr>
                        <h6 class="mb-2">{{ 'método de entrega'|trans|upper }}</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="del-option" id="opt-pick" value="pick" required>
                            <label class="form-check-label" for="opt-pick">
                                {{ 'recoger en tienda'|trans|capitalize }}.
                            </label>
                        </div>
                        {% if days.deli|length > 0 %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="del-option" id="opt-ship" value="ship" disabled required>
                            <label class="form-check-label" for="opt-ship">
                                {{ 'envío a domicilio'|trans|capitalize }}.
                                <span class="reduce-text-size">
                                    <span>+{{ (info.shipping_price / 100)|number_format(2, '.') }}€</span>
                                    ({{ info.shipping_price_2 > 0 ?
                                    (info.shipping_price_2 / 100)|number_format(2, '.') ~ '€' :
                                    'gratis'|trans
                                    }}
                                    {{ 'para pedidos de más de'|trans }} {{ info.shipping_free_threshold }}€)
                                </span>
                            </label>
                        </div>
                        {% else %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="opt-no-ship" disabled >
                            <label class="form-check-label" for="opt-no-ship">
                                <span class="reduce-text-size">
                                    {{ 'envío a domicilio temporalmente no disponible'|trans|capitalize}}.
                                </span>
                            </label>
                        </div>
                        {% endif %}
                        <hr>
                        <div id="invoice-info">
                            <h6 class="mb-2">{{ 'dirección de facturación'|trans|upper }}</h6>
                            <div class="shipping-details">
                                <div class="form-row">
                                    <div class="col-12">
                                        <label for="inv-addr" class="form-text text-muted mb-1">{{ 'dirección de envío'|trans|capitalize }}*</label>
                                        <input type="text" name="invoice[address]" id="inv-addr" class="form-control"
                                               value="{{ form.invoice.address is defined ? form.invoice.address : '' }}" autocomplete="off"
                                               placeholder="{{ 'dirección'|trans|capitalize }}" data-form="input-address" required >
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12 col-md-8">
                                        <label for="inv-city" class="form-text text-muted mb-1">{{ 'población'|trans|capitalize }}*</label>
                                        <input type="text" name="invoice[city]" id="inv-city" class="form-control" placeholder="{{ 'población'|trans|capitalize }}"
                                               value="{{ form.invoice.city is defined ? form.invoice.city : '' }}" autocomplete="off"
                                               data-form="input-address" required >
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12 col-md-4">
                                        <label for="inv-zip" class="form-text text-muted mb-1">{{ 'código postal'|trans|capitalize }}*</label>
                                        <input type="text" name="invoice[zip]" id="inv-zip" class="form-control" placeholder="{{ 'código postal'|trans|capitalize }}"
                                               value="{{ form.invoice.zip is defined ? form.invoice.zip : '' }}" autocomplete="off"
                                               pattern="[0-9]{5}" data-form="input-address" required >
                                    </div>
                                    <div class="col-12 col-md-5">
                                        <label for="inv-zone" class="form-text text-muted mb-1">{{ 'provincia'|trans|capitalize }}*</label>
                                        <input type="text" name="invoice[zone]" id="inv-zone" class="form-control" placeholder="{{ 'provincia'|trans|capitalize }}"
                                               value="{{ form.invoice.zone is defined ? form.invoice.zone : '' }}" autocomplete="off"
                                               data-form="input-address" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h6 class="mb-2">{{ 'seleccione fecha'|trans|upper }}</h6>
                        <div class="form-group col-md-8 select-ship" style="display: none">
                            <label for="select-date-ship" class="form-text text-muted mb-1">{{ 'Entrega el' }}...</label>
                            <select id="select-date-ship" class="form-control" name="order[date]" disabled>
                                {% for day in days.deli %}
                                    <option value="{{ day.date }}">{{ day.weekday|trans|capitalize }}, {{ day.day }} {{ day.month|trans }} {{ day.year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-8 select-pick">
                            <label for="select-date-pick" class="form-text text-muted mb-1">{{ 'Recoger a partir del' }}...</label>
                            <select id="select-date-pick" class="form-control" name="order[date]" disabled>
                                {% for day in days.pick %}
                                    <option value="{{ day.date }}">{{ day.weekday|trans|capitalize }}, {{ day.day }} {{ day.month|trans }} {{ day.year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="shipping-info" style="display: none">
                            <hr>
                            <h6 class="mb-2">{{ 'dirección de envío'|trans|upper }}</h6>
                            <div class="form-row mt-3 mb-2 ml-2">
                                <div class="col">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" data-description="deliveryAdddress"
                                               value="{{ form.delivery.address is defined ? form.delivery.address : '' }}" autocomplete="off"
                                               name="order[useInvoiceAddress]" id="useInvoiceAddress" checked />
                                        <label class="form-check-label pl-1 order-check-label" for="useInvoiceAddress">
                                            {{ 'Utilizar la dirección de facturación' }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12">
                                    <label for="del-addr" class="form-text text-muted mb-1">{{ 'dirección de envío'|trans|capitalize }}*</label>
                                    <input type="text" name="delivery[address]" id="del-addr" class="form-control" data-form="input-address"
                                           placeholder="{{ 'dirección'|trans|capitalize }}" disabled required >
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12 col-md-8">
                                    <label for="del-city" class="form-text text-muted mb-1">{{ 'población'|trans|capitalize }}*</label>
                                    <input type="text" name="delivery[city]" id="del-city" class="form-control" placeholder="{{ 'población'|trans|capitalize }}"
                                           disabled required data-form="input-address">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12 col-md-4">
                                    <label for="del-zip" class="form-text text-muted mb-1">{{ 'código postal'|trans|capitalize }}</label>
                                    <input type="text" name="delivery[zip]" id="del-zip" class="form-control" placeholder="{{ 'código postal'|trans|capitalize }}"
                                           data-form="input-address" disabled readonly required >
                                </div>
                                <div class="col-12 col-md-5">
                                    <label for="del-zone" class="form-text text-muted mb-1">{{ 'provincia'|trans|capitalize }}</label>
                                    <input type="text" name="delivery[zone]" id="del-zone" class="form-control" {{ 'provincia'|trans|capitalize }}
                                           data-form="input-address" disabled readonly required>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-row mt-3 ml-2">
                            <div class="col">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" data-description="Condiciones"
                                           name="order[conditionsAcceptance]" id="conditionsCheck" required />
                                    <label class="form-check-label pl-1 order-check-label" for="conditionsCheck">
                                        {{ 'Acepto la'|trans }}
                                        <a href="#legalModal" data-toggle="modal" data-target="#legalModal" onclick="loadLegalContent('privacy', 'Política de privacidad y protección de datos')">
                                            {{ 'política de privacidad'|trans }}</a>.*
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-6 col-md-4 px-md-4 pr-0">
                                <a class="btn btn-link ml-auto px-0" href="{{ index_url }}reset">
                                    <span class="desktop-only">&#9664; &nbsp;</span>{{ 'seguir comprando'|trans|upper }}
                                </a>
                            </div>
                            <div class="col-6 col-md-4 pl-2 pl-md-4 ml-auto">
                                <button class="btn btn-warning btn-block" id="submit-cart" type="submit">
                                    {{ messages.checkout|trans|upper }}&nbsp; &#9654;
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 order-lg-1 order-sm-2 order-cart-summary mt-3 mt-lg-0">
                <div class="row">
                    <div class="col mx-auto ">
                        <h6>{{ 'resumen'|trans|upper }}</h6>
                        <p><strong>{{ cart.count }}</strong> Items</p>
                        <a data-toggle="collapse" href="#collapseOrderCart" aria-expanded="false" aria-controls="collapseOrderCart">
                            {{ 'ver detalles'|trans|capitalize }} &#9660;
                        </a>
                        <div class="collapse" id="collapseOrderCart">
                            <div class="card card-body order-cart-details mt-3">
                                {% for item in cart.items %}
                                <div class="row py-1">
                                    <div class="col-12 order-cart-description">
                                        {{ item.name|capitalize }}
                                    </div>
                                    <div class="col-7">
                                        {{ item.qty }} x {{ item.price|number_format(2, '.', '') }} €
                                    </div>
                                    <div class="col-5 pl-0 text-right order-cart-amount">
                                        {{ item.amount|number_format(2, '.', '') }} €
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row mt-3 pl-3 pr-1 order-subtotal-desc">
                            <div class="col-6 ">
                                Subtotal
                            </div>
                            <div class="col-6 text-right">
                                <strong>{{ cart.amount|number_format(2, '.', '') }} €</strong>
                            </div>
                            <div class="col-6 ">
                                {{ 'envío'|trans|capitalize }}
                            </div>
                            <div class="col-6 text-right">
                                <strong>
                                    <span id="shipment-order-text">
                                        <span id="shipment-order-amount">
                                            {{ 0|number_format(2, '.', '') }}</span> €
                                    </span>
                                </strong>
                            </div>
                        </div>
                        <div class="row mt-4 mx-0 py-2 px-1 order-cart-total">
                            <div class="col-8 col-sm-8 col-lg-8 pl-sm-1">
                                <strong>Total</strong> <span style="font-size: .875em">({{ 'IVA'|trans }} incl.)</span>
                            </div>
                            <div class="col-4 col-sm-4 col-lg-4 text-right px-sm-1 ml-auto order-cart-total-amount">
                                <span class="order-cart-total-text">
                                    <span id="total-order-amount">{{ cart.amount|number_format(2, '.', '') }}</span>
                                    €
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cp-popover"></div>
{% endblock %}

{% block order_js %}
<script>
    const platformShippingPrice = parseFloat({{ (info.shipping_price / 100) }});
    const platformShippingPrice2 = parseFloat({{ (info.shipping_price_2 / 100) }});
    const shippingFreeThreshold = parseFloat({{ info.shipping_free_threshold }});
    const orderSubtotal = {{ cart.amount }};
    const provincias = '{{ provincias|json_encode|raw }}';
    const deliveryDays = '{{ days.deli|json_encode|raw }}'
    const radioDeliveryLabelAlternativeContent = '{{ 'envio no disponible'|trans|raw }}';
</script>
<script src="{{ asset('js/order.js') }}" async defer></script>
{% endblock %}
