{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block error_content %}
    <h1 class="error-request-code">404</h1>
    <h1>Page not found</h1>

    <p>
        The requested page couldn't be located.<br>
        Checkout for any URL misspelling or <a href="{{ path('index') }}">return to the homepage</a>.
    </p>
{% endblock %}