{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block header %}
    {% include 'navbar-min.html.twig' %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="head-error" class="jumbotron">
        <div class="container head-first-dark">
            <img src="{{ asset('img/logo-obrador-text-gold.svg') }}" alt="Ca La Maria" class="img-center" />
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container error-msg-container">
        {% block error_content %}
            <h1 class="error-request-code">Error</h1>
            <h1>Undefined</h1>

            <p>
                Undefined error. <a href="{{ path('index') }}">Return to the homepage</a>.
            </p>
        {% endblock %}
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-12 footer-company-info pb-3">
                        &copy;
                        <span class="font-blanch font-blanch-line">2020 &nbsp;Ni Gluten Ni Lactosa S.L.</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block cookies %}{% endblock %}
{% block cookies_js %}{% endblock %}