{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block error_content %}
    <h1 class="error-request-code">403</h1>
    <h1>Forbidden</h1>

    <p>
        Restricted page.
        <a href="{{ path('index') }}">Return to the homepage</a>.
    </p>
{% endblock %}