{# templates/bundles/TwigBundle/Exception/error500.html.twig #}
{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block error_content %}
    <h1 class="error-request-code">500</h1>
    <h1>Internal Error Server</h1>

    <p>
        There has been an error processing the request.
        <a href="{{ path('index') }}">Return to the homepage</a>.
    </p>
{% endblock %}