{# templates/bundles/TwigBundle/Exception/error400.html.twig #}
{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block error_content %}
    <h1 class="error-request-code">400</h1>
    <h1>Bad request</h1>

    <p>
        There has been an error in your request.
        <a href="{{ path('index') }}">Return to the homepage</a>.
    </p>
{% endblock %}