{# templates/bundles/TwigBundle/Exception/error405.html.twig #}
{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block error_content %}
    <h1 class="error-request-code">405</h1>
    <h1>Method Not Allowed</h1>

    <p>
        The requested method is not allowed.
        <a href="{{ path('index') }}">Return to the homepage</a>.
    </p>
{% endblock %}