{# templates/bundles/TwigBundle/Exception/error502.html.twig #}
{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block error_content %}
    <h1 class="error-request-code">502</h1>
    <h1>Bad Gateway</h1>

    <p>
        Unacceptable response from external proxy or server.
        <a href="{{ path('index') }}">Return to the homepage</a>.
    </p>
{% endblock %}