{# templates/bundles/TwigBundle/Exception/error401.html.twig #}
{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block error_content %}
    <h1 class="error-request-code">401</h1>
    <h1>Unauthorized</h1>

    <p>
        Incorrect authentication.
        <a href="{{ path('index') }}">Return to the homepage</a>.
    </p>
{% endblock %}