{% extends 'base.html.twig' %}

{% block header %}
    {% include 'mailer/navbar.html.twig' %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="head-first" class="jumbotron">
        <div class="container head-first-dark">
            <img src="{{ asset('img/logo-obrador-text-dark.svg') }}" alt="Ca La Maria" class="img-center">
            <h2 class="text-center">
                {{ messages.obrador_artesano_sin_gluten|trans|upper }}
            </h2>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="mail-send-page-content">
        <div class="container mt-5">
            <p>
                {{ post.fname|capitalize }}, {{ 'hemos recibido su mensaje'|trans }}:
            </p>
            <pre>{{ post.message }}</pre>
            <p>
                {{ 'en breve nuestro equipo le responderá'|trans|capitalize }}
                {{ 'a la dirección de correo <strong>%mail%</strong> que nos ha facilitado'|trans({'%mail%': post.email})|raw }}.
                <br>
                {{ 'gracias por contactar con nosotros'|trans|capitalize }}.
                <a href="{{ path('index') }}">{{ 'volver a la página principal'|trans|capitalize }}</a>.
            </p>
        </div>
    </div>
{% endblock %}